<template>
  <section>
    <p v-if="checkOverDiscont" class="text-danger text-right">
      Sua venda será enviada para aprovação, os descontos estão acima do pré-estabelecido. <br>
      <btn type="default" class="btn-flat" @click="open=true">
        <i class="fa fa-unlock"></i> Autorizar desconto
      </btn>
      <br><br>
    </p>
    <modal v-model="open" title="Autorização de desconto" size="sm" :footer="false">
      <div class="row">
        <div v-if="errorUser" class="col-xs-12">
          <p class="small text-danger">Email ou senha inválidos</p>
        </div>
        <div :class="['form-group', 'col-xs-12', {'has-error': errorUser}]">
          <label>Email</label>
          <input type="email" class="form-control" v-model="form.email">
        </div>
        <div :class="['form-group', 'col-xs-12', {'has-error': errorUser}]">
          <label>Senha</label>
          <input type="password" class="form-control" v-model="form.password">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-right">
          <btn type="primary" class="btn-flat" @click="onSubmit">
            <i class="fa fa-unlock"></i> Autorizar
          </btn>
        </div>
      </div>
    </modal>
  </section>
</template>

<script>
import Helpers from "../../../helpers/helpers";
import { createNamespacedHelpers } from "vuex";

const { mapState, mapMutations } = createNamespacedHelpers("PreVenda");

export default {
  data() {
    return {
      open: false,
      form: {
        email: "",
        password: ""
      },
      errorUser: false
    };
  },

  computed: {
    ...mapState(["checkOverDiscont", "venda"])
  },

  methods: {
    ...mapMutations([
      "RESET_OVER_DISCONT",
      "CHECK_OVER_DISCONT",
      "VENDA_ESTATUS_VENDA_ID"
    ]),

    onSubmit() {
      window.axios
        .post(`/shared/autorizar-desconto`, this.form)
        .then(resp => this.autorizar())
        .catch(error => {
          if (error.response && error.response.status === 401) {
            this.errorUser = true;
          } else if (error.response && error.response.status === 403) {
            this.errorUser = false;
            this.open = false;
            Helpers.msgErrorDefault(
              "Usuário deve ter permissão de Gerente para autorizar o desconto"
            );
          } else if (
            error.response &&
            error.response.status !== 401 &&
            error.response.status !== 403
          ) {
            Helpers.msgErrorDefault();
          }
        });
    },

    autorizar() {
      this.RESET_OVER_DISCONT();
      this.CHECK_OVER_DISCONT(false);
      this.VENDA_ESTATUS_VENDA_ID(1);
      this.errorUser = false;
      this.open = false;
      this.form = {
        email: "",
        password: ""
      };
    }
  }
};
</script>