<template>
  <div>
    <div class="row">
      <div class="col-xs-12">
        <h3>
          <i class="fa fa-shopping-cart"></i> Carrinho de compras
          <btn type="primary" class="btn-flat pull-right" @click="OPEN_MODAL_PRODUTOS(true)"><i
            class="fa fa-search"></i> Buscar Produto
          </btn>
        </h3>
        <div class="table-responsive">
          <table class="table table-middle table-striped">
            <thead>
            <tr>
              <th>Produto</th>
              <th>Descrição</th>
              <th class="text-center">Produtos<br>Combinados</th>
              <th>Preço unitário</th>
              <th>Quantidade</th>
              <th>Desconto %</th>
              <th>A pagar R$</th>
              <th class="text-right" style="width: 90px;">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(cv, index) in combinado_vendas" :key="cv.combinado_id">
              <td>
                <img v-if="cv.combinado.produtos[0].imagens.length" :src="cv.combinado.produtos[0].imagens[0].src"
                     :alt="cv.combinado.produtos[0].imagens[0].legenda" height="60">
                <img v-else src="/images/no-image.png" alt="No Image" height="60">
              </td>
              <td>{{cv.combinado_id}} - {{cv.combinado.descricao}}</td>
              <td class="text-center"><i class="fa fa-cubes"></i> Sim</td>
              <td>{{cv.valor_unitario | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
              <td>
                <input type="number" class="form-control" :value="cv.quantidade" min="1" step="1" :max="cv.disponivel"
                       @change="updateQuantidadeCombinado($event, index)" style="width: 70px;">
              </td>
              <td :class="{'has-error': overDiscont.combinados[index]}">
                <input type="number" class="form-control" :value="cv.desconto" step="0.01" min="0"
                       :max="cv.combinado.margem"
                       @change="updateDescontoCombinado($event, index)" style="width: 90px;">
              </td>
              <td>
                <input type="number" class="form-control" :value="cv.subtotal" step="0.01"
                       @change="updateSubtotalCombinado($event, index)" style="width: 110px;">
              </td>
              <td class="btn-actions">
                <btn type="danger" class="btn-flat btn-sm" @click="REMOVE_CARRINHO_COMBINADO(index)"
                     :id="'c-remove-'+index">
                  <i class="fa fa-trash"></i>
                </btn>
                <btn class="btn-flat btn-sm" @click="COMBINADO(cv.combinado); OPEN_MODAL_COMBINADO_DETALHES2(true)">
                  <i class="fa fa-search"></i>
                </btn>
              </td>
            </tr>

            <tr v-for="(pv, index) in produto_vendas" :key="pv.produto_id">
              <td>
                <img v-if="pv.produto.imagens.length" :src="pv.produto.imagens[0].src"
                     :alt="pv.produto.imagens[0].legenda" height="60">
                <img v-else src="/images/no-image.png" alt="No Image" height="60">
              </td>
              <td>
                {{pv.produto.codigo_fabrica}} - {{pv.produto.mercadoria.categoria.descricao}} -
                {{pv.produto.mercadoria.descricao}} - {{pv.produto.marca.nome}} - {{pv.produto.descricao}}
              </td>
              <td class="text-center"><i class="fa fa-cube"></i> Não</td>
              <td>{{pv.produto.valor_atual | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
              <td>
                <input type="number" class="form-control" :value="pv.quantidade" step="1" min="1" :max="pv.disponivel"
                       @change="updateQuantidade($event, index)" style="width: 70px;">
              </td>
              <td :class="{'has-error': overDiscont.produtos[index]}">
                <input type="number" class="form-control" :value="pv.desconto" step="0.01" min="0"
                       :max="pv.produto.margem"
                       @change="updateDesconto($event, index)" style="width: 90px;">
              </td>
              <td>
                <input type="number" class="form-control" :value="pv.subtotal" step="0.01"
                       @change="updateSubtotal($event, index)"
                       style="width: 110px;">
              </td>
              <td class="btn-actions">
                <btn type="danger" class="btn-flat btn-sm" @click="REMOVE_CARRINHO(index)">
                  <i class="fa fa-trash"></i>
                </btn>
                <btn class="btn-flat btn-sm" @click="PRODUTO(pv.produto); OPEN_MODAL_PRODUTO_DETALHES2(true)">
                  <i class="fa fa-search"></i>
                </btn>
              </td>
            </tr>
            <tr v-if="!produto_vendas.length && !combinado_vendas.length">
              <td colspan="8" :class="['text-center', {'bg-red': !!errors.carrinho}]">
                {{errors.carrinho ? errors.carrinho[0] : 'Seu carrinho está fazio'}}
              </td>
            </tr>
            </tbody>
          </table>

          <modal-produtos :open="openModalProdutos"></modal-produtos>
          <modal-produto-detalhes :open="openModalProdutoDetalhes2"></modal-produto-detalhes>
          <modal-combinado-detalhes :open="openModalCombinadoDetalhes2"></modal-combinado-detalhes>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <autoriza-desconto-form></autoriza-desconto-form>
      </div>
      <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-9">
        <h3 class="pre-venda-somas">
          <table class="table table-middle table-condensed">
            <tbody>
            <tr>
              <td class="text-right">Total:</td>
              <td>{{somaCarrinho | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
            </tr>
            <tr v-show="somaCarrinho - somaPagamentos != 0" class="text-success">
              <td class="text-right">Registrado:</td>
              <td>{{somaPagamentos | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
            </tr>
            <tr v-show="somaCarrinho - somaPagamentos != 0" class="text-danger">
              <td class="text-right">Restante:</td>
              <td>{{pagamentoRestante | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
            </tr>
            </tbody>
          </table>
        </h3>
      </div>
    </div>
  </div>
</template>

<script>
  import {createNamespacedHelpers} from "vuex";
  import ModalProdutos from "./ModalProdutos";
  import ModalProdutoDetalhes from "./ModalProdutoDetalhes";
  import ModalCombinadoDetalhes from "./ModalCombinadoDetalhes";
  import AutorizaDescontoForm from "./AutorizaDescontoForm";
  import Helpers from "../../../helpers/helpers";

  const {mapState, mapGetters, mapMutations, mapActions} = createNamespacedHelpers("PreVenda");

  export default {
    components: {ModalProdutos, AutorizaDescontoForm, ModalProdutoDetalhes, ModalCombinadoDetalhes},

    computed: {
      ...mapState(["overDiscont", "errors", "openModalProdutos", "openModalProdutoDetalhes2", "openModalCombinadoDetalhes2"]),
      ...mapGetters(["produto_vendas", "combinado_vendas", "somaCarrinho", "somaPagamentos", "pagamentoRestante"])
    },

    methods: {
      ...mapMutations([
        "OVER_DISCONT", "CHECK_OVER_DISCONT", "VENDA_ESTATUS_VENDA_ID", "REMOVE_CARRINHO", "REMOVE_CARRINHO_COMBINADO",
        "OPEN_MODAL_PRODUTOS", "OPEN_MODAL_COMBINADO_DETALHES2", "OPEN_MODAL_PRODUTO_DETALHES2", "COMBINADO", "PRODUTO"
      ]),
      ...mapActions([
        "updateQuantidadeCarrinho", "updateDescontoCarrinho", "updateSubtotalCarrinho",
        "updateQuantidadeCarrinhoCombinado", "updateDescontoCarrinhoCombinado", "updateSubtotalCarrinhoCombinado"
      ]),

      updateQuantidade(event, index) {
        if (event.target.value >= 0 && event.target.value <= this.produto_vendas[index].disponivel) {
          this.updateQuantidadeCarrinho({value: event.target.value, index: index});
        } else {
          event.target.value = this.produto_vendas[index].disponivel;
          this.updateQuantidadeCarrinho({value: this.produto_vendas[index].disponivel, index: index});
          Helpers.msgWarning(
            this.produto_vendas[index].disponivel + " é o máximo disponível"
          );
        }
      },

      updateQuantidadeCombinado(event, index) {
        if (event.target.value >= 0 && event.target.value <= this.combinado_vendas[index].disponivel) {
          this.updateQuantidadeCarrinhoCombinado({value: event.target.value, index: index});
        } else {
          event.target.value = this.combinado_vendas[index].disponivel;
          this.updateQuantidadeCarrinhoCombinado({value: this.combinado_vendas[index].disponivel, index: index});
          Helpers.msgWarning(
            this.combinado_vendas[index].disponivel + " é o máximo disponível"
          );
        }
      },

      updateDesconto(event, index) {
        if (event.target.value >= 0 && event.target.value <= this.produto_vendas[index].produto.margem) {
          this.VENDA_ESTATUS_VENDA_ID(1);
          this.OVER_DISCONT({produtos: {index: index, value: false}});
          this.CHECK_OVER_DISCONT(false);
          this.updateDescontoCarrinho({value: event.target.value, index: index});
        } else {
          this.VENDA_ESTATUS_VENDA_ID(3);
          this.OVER_DISCONT({produtos: {index: index, value: true}});
          this.CHECK_OVER_DISCONT(true);
          this.updateDescontoCarrinho({value: event.target.value, index: index});
        }
      },

      updateDescontoCombinado(event, index) {
        if (event.target.value >= 0 && event.target.value <= this.combinado_vendas[index].combinado.margem) {
          this.VENDA_ESTATUS_VENDA_ID(1);
          this.OVER_DISCONT({combinados: {index: index, value: false}});
          this.CHECK_OVER_DISCONT(false);
          this.updateDescontoCarrinhoCombinado({value: event.target.value, index: index});
        } else {
          this.VENDA_ESTATUS_VENDA_ID(3);
          this.OVER_DISCONT({combinados: {index: index, value: true}});
          this.CHECK_OVER_DISCONT(true);
          this.updateDescontoCarrinhoCombinado({value: event.target.value, index: index});
        }
      },

      updateSubtotal(event, index) {
        let valor_normal = this.produto_vendas[index].valor_unitario * this.produto_vendas[index].quantidade;
        let percentual = (((valor_normal - event.target.value) / valor_normal) * 100).toFixed(3);
        
        if (percentual > this.produto_vendas[index].produto.margem) {
          this.VENDA_ESTATUS_VENDA_ID(3);
          this.OVER_DISCONT({produtos: {index: index, value: true}});
          this.CHECK_OVER_DISCONT(true);
          this.updateDescontoCarrinho({value: percentual, index: index});
          this.updateSubtotalCarrinho({value: event.target.value, index: index});
        } else {
          this.VENDA_ESTATUS_VENDA_ID(1);
          this.OVER_DISCONT({produtos: {index: index, value: false}});
          this.CHECK_OVER_DISCONT(false);
          this.updateDescontoCarrinho({value: percentual, index: index});
          this.updateSubtotalCarrinho({value: event.target.value, index: index});
        }
      },

      updateSubtotalCombinado(event, index) {
        let valor_normal = this.combinado_vendas[index].valor_unitario * this.combinado_vendas[index].quantidade;
        let percentual = (((valor_normal - event.target.value) / valor_normal) * 100).toFixed(3);

        if (percentual > this.combinado_vendas[index].combinado.margem) {
          this.VENDA_ESTATUS_VENDA_ID(3);
          this.OVER_DISCONT({combinados: {index: index, value: true}});
          this.CHECK_OVER_DISCONT(true);
          this.updateDescontoCarrinhoCombinado({value: percentual, index: index});
          this.updateSubtotalCarrinhoCombinado({value: event.target.value, index: index});
        } else {
          this.VENDA_ESTATUS_VENDA_ID(1);
          this.OVER_DISCONT({combinados: {index: index, value: false}});
          this.CHECK_OVER_DISCONT(false);
          this.updateDescontoCarrinhoCombinado({value: percentual, index: index});
          this.updateSubtotalCarrinhoCombinado({value: event.target.value, index: index});
        }
      }
    }
  };
</script>