<template>
  <modal v-model="openModal" title="Deseja remover a pré-venda?">

    <p><b>Código:</b> {{venda.id}}</p>
    <p><b>Vendedor:</b> {{venda.pessoa_vendedor ? venda.pessoa_vendedor.nome : ''}}</p>
    <p><b>Cliente:</b> {{venda.pessoa_cliente ? venda.pessoa_cliente.nome : ''}}</p>
    <br>
    <div class="form-group">
      <label>Justifique</label>
      <textarea class="form-control" v-model="venda.observacao"></textarea>
    </div>

    <div slot="footer">
      <btn @click="cancelRemove" class="btn-flat"><i class="fa fa-ban"></i> Cancelar</btn>
      <btn type="danger" class="btn-flat" @click="onRemove">
        <i class="fa fa-trash"></i> Remover
      </btn>
    </div>
  </modal>
</template>

<script>

  export default {
    props: ['openModal', 'objVenda'],
    data() {
      return {
        venda: {}
      }
    },

    watch: {
      objVenda: function (newValue, oldValue) {
        if (newValue) {
          this.venda = _.clone(newValue);
          this.venda.estatus_venda_id = 5;
        }
      }
    },

    methods: {
      cancelRemove() {
        this.$emit('close-modal');
      },

      onRemove() {
        window.axios.post(`/vendas/pre-venda/${this.venda.id}/cancelar`, this.venda)
          .then(resp => window.location = '/vendas/pre-venda')
          .catch(error => console.log(error.response))
      }
    }
  }
</script>