<template>
  <modal v-model="openModal" @input="close" title="Detalhes do produto combinado" size="full" ref="mcd" append-to-body
         :footer="!openModalCombinadoDetalhes2">
    <div v-if="combinado" class="row">
      <h3 class="col-xs-9">{{combinado.descricao}}</h3>
      <h3 class="col-xs-3 text-right text-green">{{combinado.valor_total | currency('R$', 2, {thousandsSeparator: '.',
        decimalSeparator: ','})}}</h3>

      <table class="col-xs-12 table table-middle table-hover table-condensed">
        <tbody>
        <tr v-for="(produto, index) in combinado.produtos" :key="index">
          <td class="text-center">
            <b>Quantidade</b> <br>
            {{produto.pivot.quantidade}}
          </td>
          <td>
            <img v-if="produto.imagens.length" :src="produto.imagens[0].src" :alt="produto.imagens[0].legenda"
                 height="60">
            <img v-else src="/images/no-image.png" alt="No Image" height="60">
          </td>
          <td>{{produto.descricao_completa}}</td>
          <td class="text-center">
            <b>Código</b> {{produto.id}} <br>
            <b>Cód. Fábrica</b> {{produto.codigo_fabrica}} <br>
          </td>
          <td class="btn-actions">
            <btn class="btn-flat" @click="OPEN_MODAL_PRODUTO_DETALHES2(true);  PRODUTO(produto)"
                 :id="'p-detalhe-'+index">
              <i class="fa fa-search"></i>
            </btn>
            <tooltip text="Ver detalhes" :target="'#p-detalhe-'+index"/>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <modal-produto-detalhes :open="openModalProdutoDetalhes2"></modal-produto-detalhes>

    <div slot="footer">
      <btn type="primary" class="btn-flat" @click="addCarrinhoCombinado(false)"
           :disabled="disableAddCartBtnCombinado(false)">
        <i class="fa fa-shopping-cart"></i> Adicionar ao Carrinho
      </btn>
    </div>
  </modal>
</template>

<script>
  import ModalProdutoDetalhes from "./ModalProdutoDetalhes";
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapGetters, mapActions, mapMutations} = createNamespacedHelpers("PreVenda");

  export default {
    props: ["open"],
    components: {ModalProdutoDetalhes},

    computed: {
      ...mapState(["combinado", "openModalProdutoDetalhes2", "openModalCombinadoDetalhes2"]),
      ...mapGetters(["disableAddCartBtnCombinado"]),
      openModal: {
        get() {
          return this.open;
        },
        set(newValue) {
          return this.open;
        }
      }
    },

    methods: {
      ...mapMutations([
        "OPEN_MODAL_COMBINADO_DETALHES", "OPEN_MODAL_COMBINADO_DETALHES2",
        "OPEN_MODAL_PRODUTO_DETALHES2", "PRODUTO"
      ]),
      ...mapActions(["addCarrinhoCombinado"]),
      close(value) {
        this.OPEN_MODAL_COMBINADO_DETALHES(value);
        this.OPEN_MODAL_COMBINADO_DETALHES2(value);
      }
    }
  };
</script>