<template>
  <modal v-model="openModal" @input="close" title="Detalhes do produto" size="lg" ref="mpd" append-to-body
         :footer="!openModalProdutoDetalhes2">
    <div v-if="produto" class="row">
      <h3 class="col-xs-9">
        {{produto.mercadoria.descricao}} - {{produto.marca.nome}} - {{produto.descricao}}
      </h3>
      <h3 class="col-xs-3 text-right text-green">{{produto.valor_atual | currency('R$', 2, {thousandsSeparator: '.',
        decimalSeparator: ','})}}</h3>

      <div v-show="produto.imagens.length" class="col-xs-12 col-lg-6 text-center">
        <h4 class="h4 text-center">Imagens do Produto</h4>
        <div :id="openModalProdutoDetalhes2 ? 'carousel-produto-detalhes2' : 'carousel-produto-detalhes'"
             class="carousel slide" data-ride="carousel" style="max-width: 675px; margin: auto;">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li v-for="(img, index) in produto.imagens" :key="index"
                :data-target="openModalProdutoDetalhes2 ? 'carousel-produto-detalhes2' : 'carousel-produto-detalhes'"
                :data-slide-to="index" :class="{active: index === 0}"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div v-for="(img, index) in produto.imagens" :key="index"
                 :class="['item', 'text-center', {active: index === 0}]">
              <a :href="img.src" target="_blank"><img :src="img.src" :alt="img.legenda" class="img-responsive"></a>
              <div class="carousel-caption">
                <h4>{{img.legenda}}</h4>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control"
             :href="openModalProdutoDetalhes2 ? '#carousel-produto-detalhes2' : '#carousel-produto-detalhes'"
             role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control"
             :href="openModalProdutoDetalhes2 ? '#carousel-produto-detalhes2' : '#carousel-produto-detalhes'"
             role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div v-show="!produto.imagens.length" class="col-xs-12 col-lg-6">
        <img src="/images/no-image.png" alt="No Image" class="img-responsive">
      </div>

      <div class="col-xs-12 col-lg-6">
        <table class="table table-condensed table-bordered table-striped table-middle">
          <tbody>
          <tr>
            <th class="text-right">Estoque / Disponível:</th>
            <td class="text-left">{{estoqueTotal(produto)}} / {{disponivel(produto)}}</td>
          </tr>
          <tr>
            <th class="text-right">Código / Cód. fabrica:</th>
            <td class="text-left">{{produto.id}} / {{produto.codigo_fabrica}}</td>
          </tr>
          <tr>
            <th class="text-right">Categoria / NCM:</th>
            <td class="text-left">{{produto.mercadoria.categoria.descricao}} |
              {{produto.mercadoria.categoria.numero_ncm}}
            </td>
          </tr>
          <tr>
            <th class="text-right">Tipo Mercadoria:</th>
            <td class="text-left">{{produto.mercadoria.descricao}}</td>
          </tr>
          <tr>
            <th class="text-right">Descrição:</th>
            <td class="text-left">{{produto.descricao}} - {{produto.informacao_adicional}}</td>
          </tr>
          <tr>
            <th class="text-right">Marca:</th>
            <td class="text-left">{{produto.marca.nome}}</td>
          </tr>
          <tr>
            <th class="text-right">Largura:</th>
            <td class="text-left">{{produto.largura}}</td>
          </tr>
          <tr>
            <th class="text-right">Altura:</th>
            <td class="text-left">{{produto.altura}}</td>
          </tr>
          <tr>
            <th class="text-right">Profundidade:</th>
            <td class="text-left">{{produto.profundidade}}</td>
          </tr>
          </tbody>
        </table>
        <h3 class="h3 text-right text-green">
          {{produto.valor_atual | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}
        </h3>
      </div>
    </div>
    <div slot="footer">
      <btn type="primary" class="btn-flat" @click="addCarrinho(produto)" :disabled="disableAddCartBtn(produto)">
        <i class="fa fa-shopping-cart"></i> Adicionar ao Carrinho
      </btn>
    </div>
  </modal>
</template>

<script>
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapGetters, mapMutations, mapActions} = createNamespacedHelpers("PreVenda");

  export default {
    props: ["open"],
    computed: {
      ...mapState(["produto", "openModalProdutoDetalhes2"]),
      ...mapGetters(["estoqueTotal", "disponivel", "disableAddCartBtn"]),
      openModal: {
        get() {
          return this.open;
        },
        set(newValue) {
          return this.open;
        }
      }
    },

    methods: {
      ...mapMutations(["OPEN_MODAL_PRODUTO_DETALHES", "OPEN_MODAL_PRODUTO_DETALHES2"]),
      ...mapActions(["addCarrinho"]),
      close(value) {
        this.OPEN_MODAL_PRODUTO_DETALHES(value);
        this.OPEN_MODAL_PRODUTO_DETALHES2(value);
      }
    }
  };
</script>