<template>
  <modal v-model="openModal" @input="OPEN_MODAL_CLIENTES" size="lg" ref="mc" :footer="false">
    <span slot="title">
      <div class="form-group col-xs-12 col-xs-offset-0 col-md-6 col-md-offset-3">
        <div class="input-group">
          <input type="text" v-model="search" @keyup.enter="buscar" class="form-control"
                 placeholder="Nome, CPF, RG, CNPJ ou Razão Social">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-flat" type="button" @click="buscar">
              <span v-if="loading"><i class="fa fa-refresh fa-spin"></i> Buscando</span>
              <span v-else><i class="fa fa-search"></i> &nbsp;&nbsp;&nbsp;Buscar&nbsp;&nbsp;</span>
            </button>
          </span>
        </div>
      </div>
    </span>

    <div class="table-responsive">
      <p>
        <b class="legenda">Legenda: </b>
        <span class="legenda"><i class="fa fa-user text-green"></i> Cliente</span>
        <span class="legenda"><i class="fa fa-user text-aqua"></i> Funcionário </span>
        <span class="legenda"><i class="fa fa-handshake-o text-maroon"></i> Fornecedor </span>
        <span class="legenda"><i class="fa fa-truck text-yellow"></i> Transportador </span>
        <span class="legenda"><i class="fa fa-user text-yellow"></i> Prestador Serviço </span>
      </p>
      <table class="table table-middle table-hover table-condensed">
        <thead>
        <tr>
          <th>Nome</th>
          <th>CPF/CNPJ</th>
          <th class="text-center">Pessoa</th>
          <th class="text-center">Tipo registro</th>
          <th style="width: 120px"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-show="loading">
          <td colspan="5" class="text-center"><i class="fa fa-refresh fa-spin fa-3x"></i></td>
        </tr>
        <tr v-show="!loading && !clientes.length">
          <td colspan="5" class="text-center">Use o campo de busca para listar os clientes</td>
        </tr>

        <tr v-for="item in clientes" :key="item.id" :class="{'info': selected(item)}">
          <td>{{item.nome}}</td>
          <td style="width: 160px;" v-if="item.tipo_pessoa_id === 1">{{item.fisica.cpf | documento('cpf')}}</td>
          <td style="width: 160px;" v-if="item.tipo_pessoa_id === 2">{{item.juridica.cnpj | documento('cpf')}}</td>
          <td class="text-center">{{item.tipo_pessoa_id === 1 ? 'Física' : 'Jurídica'}}</td>
          <td class="text-center">
              <span v-for="padrao in item.padrao" :key="padrao.id">
                <span v-if="padrao.id == 1"><i class="fa fa-user text-green legenda" data-toggle="tooltip"
                                               data-placement="top" title="Cliente"></i> </span>
                <span v-if="padrao.id == 2"><i class="fa fa-user text-aqua legenda" data-toggle="tooltip"
                                               data-placement="top" title="Funcionário"></i> </span>
                <span v-if="padrao.id == 3"><i class="fa fa-handshake-o text-maroon legenda" data-toggle="tooltip"
                                               data-placement="top" title="Fornecedor"></i> </span>
                <span v-if="padrao.id == 4"><i class="fa fa-truck text-yellow legenda" data-toggle="tooltip"
                                               data-placement="top" title="Transportador"></i> </span>
                <span v-if="padrao.id == 5"><i class="fa fa-user text-yellow legenda" data-toggle="tooltip"
                                               data-placement="top" title="Prestador Serviço"></i> </span>
              </span>
          </td>
          <td class="btn-actions">
            <btn type="primary" class="btn-flat" @click="setCliente(item)">
              <i class="fa fa-check"></i>
            </btn>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </modal>
</template>

<script>
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapActions, mapMutations} = createNamespacedHelpers(
    "PreVenda"
  );

  export default {
    props: ["open"],

    data() {
      return {
        search: "",
        loading: false
      };
    },

    computed: {
      ...mapState(["clientes", "cliente", "openModalClientes"]),

      openModal: {
        get() {
          return this.open;
        },
        set(newValue) {
          return this.open;
        }
      }
    },

    methods: {
      ...mapMutations(["OPEN_MODAL_CLIENTES"]),
      ...mapActions(["buscarCliente", "setCliente"]),
      buscar() {
        this.loading = true;
        this.buscarCliente(this.search).then(resp => (this.loading = false));
      },
      selected(item) {
        let select = false;
        this.cliente && this.cliente.id == item.id ? (select = true) : null;
        return select;
      }
    }
  };
</script>
