<template>
  <modal v-model="openModalRestaurar" title="Esta venda foi cancelada!">
    <h4>Deseja Recuperá-la?</h4>
    <div slot="footer">
      <btn @click="cancel" class="btn-flat">Não</btn>
      <btn type="success" class="btn-flat" @click="onConfirm">Sim</btn>
    </div>
  </modal>
</template>

<script>
  export default {
    computed: {
      openModalRestaurar() {
        return this.$store.state.PreVenda.openModalRestaurar;
      }
    },

    methods: {
      cancel() {
        this.$store.commit("PreVenda/OPEN_MODAL_RESTAURAR", false);
      },

      onConfirm() {
        this.$store.commit("PreVenda/VENDA_ESTATUS_VENDA_ID", 1);
        this.$store.commit("PreVenda/OPEN_MODAL_RESTAURAR", false);
      }
    }
  };
</script>