<template>
  <modal v-model="openModal" @input="OPEN_MODAL_PRODUTOS" title="Buscar produtos" size="full" ref="mp" :footer="false">
    <span slot="title">
      <div class="form-group col-xs-12 col-xs-offset-0 col-md-6 col-md-offset-3">
        <div class="input-group">
          <input type="text" v-model="search" @keyup.enter="buscar" class="form-control"
                 placeholder="Digite palavras chaves...">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-flat" type="button" @click="buscar">
              <span v-if="loading"><i class="fa fa-refresh fa-spin"></i> Buscando</span>
              <span v-else><i class="fa fa-search"></i> &nbsp;&nbsp;&nbsp;Buscar&nbsp;&nbsp;</span>
            </button>
          </span>
        </div>
      </div>
    </span>

    <div class="table-responsive">
      <table class="table table-middle table-hover table-condensed">
        <thead>
        <tr>
          <th>Código</th>
          <th>Cód. Fábrica</th>
          <th>imagem</th>
          <th>Descrição</th>
          <th class="text-center">Produtos<br>Combinados</th>
          <th>Estoque/<br>Disponível</th>
          <th class="text-center">Valor</th>
          <th style="width: 120px"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-show="loading">
          <td colspan="8" class="text-center"><i class="fa fa-refresh fa-spin fa-3x"></i></td>
        </tr>
        <tr v-show="!loading && !produtos.length && !combinados.length">
          <td colspan="8" class="text-center">Use o campo de busca para listar os produtos</td>
        </tr>
        <tr v-for="combinado in combinados" :key="combinado.id" :class="[{info: inCartCombinado(combinado)}]">
          <td>{{combinado.id}}</td>
          <td></td>
          <td>
            <img v-if="combinado.produtos[0].imagens.length" :src="combinado.produtos[0].imagens[0].src"
                 :alt="combinado.produtos[0].imagens[0].legenda" height="60">
            <img v-else src="/images/no-image.png" alt="No Image" height="60">
          </td>
          <td>
            {{combinado.id}} - {{combinado.descricao}}
          </td>
          <td class="text-center"><i class="fa fa-cubes"></i> Sim</td>
          <td class="text-center">{{estoqueTotalCombinado(combinado)}}/{{disponivelCombinado(combinado)}}</td>
          <td class="text-center">{{combinado.valor_total | currency('R$', 2, {thousandsSeparator: '.',
            decimalSeparator: ','})}}
          </td>
          <td class="btn-actions">
            <btn type="primary" class="btn-flat" @click="addCarrinhoCombinado(combinado)"
                 :disabled="disableAddCartBtnCombinado(combinado)">
              <i class="fa fa-shopping-cart"></i>
            </btn>
            <btn class="btn-flat" @click="COMBINADO(combinado); OPEN_MODAL_COMBINADO_DETALHES(true)">
              <i class="fa fa-search"></i>
            </btn>
          </td>
        </tr>
        <tr v-for="produto in produtos" :key="produto.id" :class="[{info: inCart(produto)}]">
          <td>{{produto.id}}</td>
          <td>{{produto.codigo_fabrica}}</td>
          <td>
            <img v-if="produto.imagens.length" :src="produto.imagens[0].src" :alt="produto.imagens[0].legenda"
                 height="60">
            <img v-else src="/images/no-image.png" alt="No Image" height="60">
          </td>
          <td>{{produto.descricao_completa}}</td>
          <td class="text-center"><i class="fa fa-cube"></i> Não</td>
          <td class="text-center">{{estoqueTotal(produto)}}/{{disponivel(produto)}}</td>
          <td class="text-center">{{produto.valor_atual | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator:
            ','})}}
          </td>
          <td class="btn-actions">
            <btn type="primary" class="btn-flat" @click="addCarrinho(produto)" :disabled="disableAddCartBtn(produto)">
              <i class="fa fa-shopping-cart"></i>
            </btn>
            <btn class="btn-flat" @click="PRODUTO(produto); OPEN_MODAL_PRODUTO_DETALHES(true)">
              <i class="fa fa-search"></i>
            </btn>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <modal-produto-detalhes :open="openModalProdutoDetalhes"></modal-produto-detalhes>
    <modal-combinado-detalhes :open="openModalCombinadoDetalhes"></modal-combinado-detalhes>

  </modal>
</template>

<script>
  import ModalProdutoDetalhes from "./ModalProdutoDetalhes";
  import ModalCombinadoDetalhes from "./ModalCombinadoDetalhes";
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapGetters, mapActions, mapMutations} = createNamespacedHelpers("PreVenda");

  export default {
    props: ["open"],
    components: {ModalProdutoDetalhes, ModalCombinadoDetalhes},

    data() {
      return {
        search: "",
        loading: false
      };
    },

    computed: {
      ...mapState(["produtos", "combinados", "openModalProdutoDetalhes", "openModalCombinadoDetalhes"]),
      ...mapGetters([
        "estoqueTotal", "estoqueTotalCombinado", "disponivel", "disponivelCombinado", "inCart",
        "inCartCombinado", "disableAddCartBtn", "disableAddCartBtnCombinado"
      ]),
      openModal: {
        get() {
          return this.open;
        },
        set(newValue) {
          return this.open;
        }
      }
    },

    methods: {
      ...mapMutations([
        "OPEN_MODAL_PRODUTOS", "OPEN_MODAL_PRODUTO_DETALHES", "OPEN_MODAL_COMBINADO_DETALHES",
        "PRODUTO", "COMBINADO"
      ]),
      ...mapActions(["addCarrinho", "addCarrinhoCombinado", "buscarProduto"]),
      buscar() {
        this.loading = true;
        this.buscarProduto(this.search).then(resp => (this.loading = false));
      }
    }
  };
</script>
