<template>
  <div>
    <div class="row">
      <h3 class="col-xs-12"><i class="fa fa-money"></i> Opções de pagamento</h3>
      <p v-if="!!errors.pagamento" class="col-xs-12 text-danger">{{errors.pagamento[0]}}</p>
    </div>
    <div v-show="(pagamentoRestante != 0) || (venda.tipo_venda_id != 1 && !venda.venda_pagamentos.length)" class="row">
      <div class="form-group col-xs-6 col-md-3">
        <label>Tipo Pagamento</label>
        <select :value="pagamento.tipo_pagamento_id" @change="PAGAMENTO_TIPO_PAGAMENTO_ID($event.target.value)"
                class="form-control">
          <option v-for="tp in tipoPagamentos" :value="tp.id" :selected="pagamento.tipo_pagamento_id == tp.id"
                  :key="tp.id">{{tp.descricao}}
          </option>
        </select>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor R$</label>
        <input :value="pagamento.valor" @change="setPagamentoValor($event.target.value)" type="number"
               class="form-control"/>
      </div>
      <div v-show="pagamento.tipo_pagamento_id != '1' && pagamento.tipo_pagamento_id != '4'" class="form-group col-xs-6 col-md-2">
        <label>Nº Parcelas</label>
        <input :value="pagamento.parcelas" @change="setPagamentoParcelas($event.target.value)" type="number" min="1"
               class="form-control"/>
      </div>
      <div v-show="pagamento.tipo_pagamento_id != '1' && pagamento.tipo_pagamento_id != '4'" class="form-group col-xs-6 col-md-3">
        <label>Valor Parcelas R$</label>
        <money :value="pagamento.valor_parcelas" class="form-control" disabled></money>
      </div>
      <div v-show="pagamento.tipo_pagamento_id == '3' || pagamento.tipo_pagamento_id == '4'" class="form-group col-xs-6 col-md-3">
        <label>Bandeira do cartão</label>
        <select :value="pagamento.bandeira_id" class="form-control"
                @change="PAGAMENTO_BANDEIRA_ID($event.target.value)">
          <option value="">Selecione...</option>
          <option v-for="bandeira in bandeiras" :value="bandeira.id" :key="bandeira.id">{{bandeira.descricao}}</option>
        </select>
      </div>
      <div v-show="pagamento.tipo_pagamento_id == '6'" class="form-group col-xs-6 col-md-3">
        <label>Financeira</label>
        <select :value="pagamento.financeira_id" @change="PAGAMENTO_FINANCEIRA_ID($event.target.value)"
                class="form-control">
          <option value="">Selecione...</option>
          <option v-for="financeira in financeiras" :value="financeira.id" :key="financeira.id">
            {{financeira.banco_credito}} - {{financeira.nome}}
          </option>
        </select>
      </div>
      <div v-show="pagamento.tipo_pagamento_id == '5' || pagamento.tipo_pagamento_id == '2'"
           class="form-group col-xs-12 col-md-3">
        <label>Data vencimento</label>
        <input :value="pagamento.vencimento" @change="PAGAMENTO_VENCIMENTO($event.target.value)" type="date"
               class="form-control"/>
      </div>
      <div
        v-show="pagamento.tipo_pagamento_id == '5' || pagamento.tipo_pagamento_id == '1' || pagamento.tipo_pagamento_id == '2'"
        class="form-group col-xs-12 col-md-9">
        <label>Observação</label>
        <input :value="pagamento.observacao" @change="PAGAMENTO_OBSERVACAO($event.target.value)" type="text"
               class="form-control"/>
      </div>
      <div class="form-group col-xs-12">
        <btn @click="addPagamento" type="success" class="btn-flat btn-xs"
             :disabled="((pagamento.tipo_pagamento_id == '3' && pagamento.bandeira_id == '') ||
                    (pagamento.tipo_pagamento_id == '6' && pagamento.financeira_id == '') || 
                    (pagamento.tipo_pagamento_id == '5' && pagamento.vencimento == null) || 
                    (pagamento.tipo_pagamento_id == '2' && pagamento.vencimento == null)) ? true : false">
          <i class="fa fa-plus-circle"></i> Adicionar
        </btn>
      </div>
    </div>

    <div v-show="venda.venda_pagamentos.length" class="row">
      <div class="table-responsive">
        <div class="col-xs-12">
          <table class="table table-middle table-striped">
            <thead>
            <tr>
              <th>Tipo</th>
              <th>Condições</th>
              <th>Observações</th>
              <th>Subtotal</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(vp, index) in venda_pagamentos" :key="index">
              <td>
                {{tipoPagamentoDescricao(vp.tipo_pagamento_id)}}
                <span v-if="vp.tipo_pagamento_id == '3' || vp.tipo_pagamento_id == '4'">{{cartaoDescricao(vp.bandeira_id)}}</span>
                <span v-if="vp.tipo_pagamento_id == '6'">{{financeiraDescricao(vp.financeira_id)}}</span>
                <span v-if="vp.tipo_pagamento_id == '5'"> - 1º parcela dia {{vp.vencimento | formatDate}}</span>
                <span v-if="vp.tipo_pagamento_id == '2'"> - 1º vencimento dia {{vp.vencimento | formatDate}}</span>
              </td>
              <td>
                  <span v-if="vp.tipo_pagamento_id != '1' && vp.tipo_pagamento_id != '4'">
                    {{vp.parcelas}} x {{vp.valor_parcelas | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}
                  </span>
              </td>
              <td>{{vp.observacao}}</td>
              <td>{{vp.valor | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
              <td class="btn-actions">
                <btn type="danger" @click="removePagamento(index)" class="btn-sm btn-flat">
                  <i class="fa fa-trash"></i>
                </btn>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="text-success">
              <th colspan="3" class="text-right">Valor registrado:</th>
              <td>{{somaPagamentos | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
            </tr>
            <tr v-show="pagamentoRestante != 0" class="text-danger">
              <th colspan="3" class="text-right">Valor restante:</th>
              <td>{{pagamentoRestante | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Select2 from "../../Select2.vue";
  import {createNamespacedHelpers} from "vuex";

  const {
    mapState,
    mapGetters,
    mapMutations,
    mapActions
  } = createNamespacedHelpers("PreVenda");

  export default {
    components: {Select2},

    computed: {
      ...mapState([
        "venda",
        "pagamento",
        "tipoPagamentos",
        "bandeiras",
        "financeiras",
        "errors"
      ]),
      ...mapGetters([
        "valorParcelas",
        "venda_pagamentos",
        "pagamentoRestante",
        "somaPagamentos"
      ])
    },

    methods: {
      ...mapMutations([
        "PAGAMENTO_TIPO_PAGAMENTO_ID",
        "PAGAMENTO_TIPO_CARTAO",
        "PAGAMENTO_FINANCEIRA_ID",
        "PAGAMENTO_BANDEIRA_ID",
        "PAGAMENTO_OBSERVACAO",
        "PAGAMENTO_VENCIMENTO"
      ]),
      ...mapActions([
        "setPagamentoValor",
        "setPagamentoParcelas",
        "addPagamento",
        "removePagamento"
      ]),

      tipoPagamentoDescricao(tipo_pagamento_id) {
        const tp = this.tipoPagamentos.find(e => {
          return e.id == tipo_pagamento_id;
        });

        return tp.descricao;
      },

      cartaoDescricao(bandeira_id) {
        const bandeira = this.bandeiras.find(e => {
          return e.id == bandeira_id;
        });
        return ` - ${bandeira.descricao}`;
      },

      financeiraDescricao(id) {
        const financeira = this.financeiras.find(e => {
          return e.id == id;
        });
        return ` - ${financeira.nome} - ${financeira.banco_credito}`;
      }
    }
  };
</script>