<template>
  <div>
    <vue-box :collapse="false" :loading="loading">
      <template slot="body">
        <vue-data-table p-class="table-hover table-middle" :source="data" :per-page="configs.perPage">
          <template>
            <thead>
            <tr>
              <th class="text-center">Código</th>
              <th class="text-center">Tipo Venda</th>
              <th>Status</th>
              <th>Vendedor</th>
              <th>Cliente</th>
              <th class="text-center">Itens</th>
              <th>Valor</th>
              <th class="text-center">Criada em</th>
              <th class="text-center">Atualizada em</th>
              <th class="text-right">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="venda in data.data" :key="venda.id"
                :class="{'warning': venda.estatus_venda_id == 3, 'danger': venda.estatus_venda_id == 5}">
              <td class="text-center">{{venda.id}}</td>
              <td class="text-center">{{venda.tipo_venda.descricao}}</td>
              <td>{{venda.estatus_venda.descricao}}</td>
              <td>{{venda.pessoa_vendedor.nome}}</td>
              <td>{{venda.pessoa_cliente ? venda.pessoa_cliente.nome : ''}}</td>
              <td class="text-center">{{quantidadeItens(venda.produto_vendas)}}</td>
              <td>{{total(venda.produto_vendas) | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator:
                ','})}}
              </td>
              <td class="text-center">{{venda.created_at | formatDate}}</td>
              <td class="text-center">{{venda.updated_at | formatDate}}</td>
              <td class="btn-actions">
                <btn v-if="disabledRemove(venda.estatus_venda_id)" type="danger" class="btn-xs btn-flat"
                     @click="openModal=true; onRemove(venda);">
                  <i class="fa fa-ban"></i>
                </btn>
                <a v-if="disabledEdit(venda.estatus_venda_id)" :href="'/vendas/pre-venda/form/edit/' + venda.id" class="btn btn-warning btn-xs btn-flat">
                  <i class="fa fa-pencil"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </template>
        </vue-data-table>
      </template>
    </vue-box>
    <modal-remove :open-modal="openModal" :obj-venda="venda" @close-modal="closeModal"></modal-remove>
  </div>
</template>

<script>
  import ModalRemove from "./ModalRemove";

  export default {
    components: {ModalRemove},
    data() {
      return {
        loading: false,
        data: [],
        configs: {
          orderBy: "updated_at",
          order: 1,
          perPage: 25,
          search: ""
        },
        venda: {},
        openModal: false
      };
    },

    mounted() {
      this.getData();
      this.$bus.$on("data-table", obj => {
        if (obj.page) {
          this.getData(obj.page);
        }
        if (obj.perPage) {
          this.configs.perPage = obj.perPage;
          this.getData();
        }
        if (obj.search != null) {
          this.configs.search = obj.search;
          this.getData();
        }
      });
    },

    methods: {
      getData(page = 1) {
        this.loading = true;
        let url = `/vendas/pre-venda/lista/${this.configs.perPage}?page=${page}`;
        if (this.configs.search !== "") {
          url = `/vendas/pre-venda/lista/${
            this.configs.perPage
            }?page=${page}&search=${this.configs.search}`;
        }
        window.axios
          .get(url)
          .then(resp => {
            this.data = resp.data;
            this.configs.perPage = resp.data.per_page;
            this.loading = false;
          })
          .catch(error => {
            Helpers.msgErrorDefault();
          });
      },

      quantidadeItens(produto_vendas) {
        let soma = 0;
        produto_vendas.forEach(el => {
          soma += el.quantidade;
        });
        return soma;
      },

      total(produto_vendas) {
        let soma = 0,
          valor = 0,
          desconto = 0;
        produto_vendas.forEach(el => {
          valor = el.valor_unitario * el.quantidade;
          desconto = el.desconto > 0 ? (valor * el.desconto) / 100 : 0;
          soma += valor - desconto;
        });
        return parseFloat(soma).toFixed(2);
      },

      disabledRemove(vendaStatus) {
        return ![2, 5, 6].includes(vendaStatus);
      },

      disabledEdit(vendaStatus) {
        return ![2, 6].includes(vendaStatus);
      },

      onRemove(venda) {
        this.venda = venda;
      },

      closeModal() {
        this.openModal = false;
      }
    }
  };
</script>