<template>
  <div>
    <vue-box :collapse="false" :loading="loading">
      <template slot="body">
        <div class="row">
          <h3 class="col-xs-12"><i class="fa fa-info-circle"></i> Dados da venda</h3>

          <div :class="['form-group col-xs-12 col-sm-6 col-md-2',{'has-error': !!errors.tipo_venda_id}]">
            <label>Tipo de Venda</label>
            <select :value="venda.tipo_venda_id" class="form-control"
                    @change="VENDA_TIPO_VENDA_ID($event.target.value)">
              <option value="1">Normal</option>
              <option value="2">Consumo interno</option>
              <option value="3">Doação</option>
            </select>
            <span v-if="!!errors.tipo_venda_id" class="small text-danger">{{errors.tipo_venda_id[0]}}</span>
          </div>

          <div :class="['form-group col-xs-12 col-sm-6 col-md-4',{'has-error': !!errors.vendedor_id}]">
            <label>Vendedor</label>
            <select-2 :value="venda.vendedor_id" ref-name="vendedor" @vendedor-change="VENDA_VENDEDOR_ID">
              <option value="">Selecione...</option>
              <option v-for="vendedor in vendedores" :value="vendedor.id">
                {{vendedor.nome}}
              </option>
            </select-2>
            <span v-if="!!errors.vendedor_id" class="small text-danger">{{errors.vendedor_id[0]}}</span>
          </div>

          <div :class="['form-group col-xs-12 col-md-6',{'has-error': !!errors.cliente_id}]">
            <label>Cliente</label>
            <div class="input-group">
              <input type="text" class="form-control" :value="clienteDescricao"
                     placeholder="Use o botão de busca para selecionar" disabled>
              <span class="input-group-btn">
                <button class="btn btn-primary btn-flat" type="button" @click="OPEN_MODAL_CLIENTES(true)">
                  <i class="fa fa-search"></i>
                </button>
                <a href="/vendas/pessoas" class="btn btn-default btn-flat" target="_blank">
                  <i class="fa fa-plus"></i>
                </a>
              </span>
            </div>
            <span v-if="!!errors.cliente_id" class="small text-danger">{{errors.cliente_id[0]}}</span>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12 col-md-8">
            <label>Endereço de entrega</label>
            <select :value="venda.endereco_entrega_id" @change="VENDA_ENDERECO_ENTREGA_ID($event.target.value)"
                    class="form-control">
              <option v-if="enderecos.length == 0" value="">Selecione um cliente primeiro...</option>
              <option v-if="enderecos.length > 0" value="">Selecione...</option>
              <option v-for="end in enderecos" :value="end.id" :selected="venda.endereco_entrega_id == end.id">
                {{end.full}} | {{end.titulo}} {{end.referencia != null ? ' (' + end.referencia + ')':''}}
              </option>
            </select>
          </div>
          <div class="form-group col-xs-12 col-md-4">
            <label>Previsão Entrega</label>
            <input type="date" :value="venda.previsao_entrega" @change="VENDA_PREVISAO_ENTREGA($event.target.value)"
                   class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12">
            <label>Observações</label>
            <input type="text" :value="venda.observacao" @change="VENDA_OBSERVACAO($event.target.value)"
                   class="form-control">
          </div>
        </div>

        <modal-clientes :open="openModalClientes"></modal-clientes>
        <carrinho></carrinho>
        <opcoes-pagamento></opcoes-pagamento>
        <modal-restaurar></modal-restaurar>

      </template>
      <template slot="footer">
        <div class="row">
          <br>
          <div class="col-xs-12 text-right">
            <btn v-if="action === 'add'" type="success" size="lg" class="btn-flat" @click="salvar"
                 :disabled="pagamentoRestante != 0">
              <i class="fa fa-floppy-o"></i> Salvar Pré-Venda
            </btn>
            <a v-if="action === 'edit'" href="/vendas/pre-venda" class="btn btn-default btn-lg btn-flat">
              <i class="fa fa-ban"></i> Cancelar/Voltar
            </a>
            <btn v-if="action === 'edit' && ![2, 6].includes(venda.estatus_venda_id)" type="warning" size="lg"
                 class="btn-flat" @click="editar"
                 :disabled="pagamentoRestante != 0">
              <i class="fa fa-floppy-o"></i> Salvar Alterações
            </btn>
          </div>
        </div>
      </template>
    </vue-box>
  </div>
</template>

<script>
  import Select2 from "../../Select2.vue";
  import ModalClientes from "./ModalClientes";
  import Carrinho from "./Carrinho";
  import OpcoesPagamento from "./OpcoesPagamento";
  import ModalRestaurar from "./ModalRestaurar";
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapGetters, mapActions, mapMutations} = createNamespacedHelpers("PreVenda");

  export default {
    components: {Select2, ModalClientes, Carrinho, OpcoesPagamento, ModalRestaurar},
    props: ["action", "vendaId"],

    mounted() {
      if (this.action === "add") {
        this.startComponent();
        this.VENDA_ESTATUS_VENDA_ID(1);
        this.VENDA_PREVISAO_ENTREGA(moment().add(1, 'days').format(moment.HTML5_FMT.DATE));
      } else if (this.action === "edit") {
        this.startComponent(this.vendaId);
      }
    },

    computed: {
      ...mapState(["vendedores", "errors", "loading", "venda", "openModalClientes"]),
      ...mapGetters(["pagamentoRestante", "clienteDescricao", "enderecos"])
    },

    methods: {
      ...mapMutations([
        "VENDA_ESTATUS_VENDA_ID", "VENDA_VENDEDOR_ID", "VENDA_TIPO_VENDA_ID", "VENDA_ENDERECO_ENTREGA_ID",
        "VENDA_OBSERVACAO", "OPEN_MODAL_CLIENTES", 'VENDA_PREVISAO_ENTREGA'
      ]),
      ...mapActions(["startComponent", "salvar", "editar"])
    }
  };
</script>
