<template>
  <div>
    <div class="row">
      <div :class="['form-group col-md-3',{'has-error': !!errors.numero}]">
        <label>Número</label>
        <input type="text" v-model="duplicata.numero" class="form-control">
        <span v-if="!!errors.numero" class="small text-danger">{{errors.numero[0]}}</span>
      </div>
      <div :class="['form-group col-md-3',{'has-error': !!errors.valor}]">
        <label>Valor</label>
        <input type="number" step="0.01" v-model="duplicata.valor" class="form-control">
        <span v-if="!!errors.valor" class="small text-danger">{{errors.valor[0]}}</span>
      </div>
      <div :class="['form-group col-md-4',{'has-error': !!errors.vencimento}]">
        <label>Vencimento</label>
        <div class="input-group">
          <input type="date" v-model="duplicata.vencimento" class="form-control">
          <span class="input-group-btn">
            <button v-if="action == 'add'" @click="add" class="btn btn-primary" type="button"
                    data-toggle="tooltip" data-placement="top" title="Adicionar">
              <i class="fa fa-save"></i>
            </button>
            <button v-if="action == 'edit'" @click="update" class="btn btn-warning" type="button"
                    data-toggle="tooltip" data-placement="top" title="Atualizar">
              <i class="fa fa-save"></i>
            </button>
            <button @click="resetForm;getDuplicatas(true)" class="btn btn-default" type="button">
              <i class="fa fa-eraser"></i>
            </button>
          </span>
        </div>
        <span v-if="!!errors.vencimento" class="small text-danger">{{errors.vencimento[0]}}</span>
      </div>
    </div>

    <h4><i class='fa fa-files-o'></i> Duplicatas registradas</h4>
    <div class="table-responsive">
      <table class="table table-middle table-hover">
        <thead>
        <tr>
          <th>Número</th>
          <th>Valor</th>
          <th>Vencimento</th>
          <th class="text-right">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="!duplicatas.length" class="bg-info">
          <td colspan="4" class="text-center">Nenhum registro encontrado!</td>
        </tr>
        <tr v-for="item in duplicatas">
          <td>{{item.numero}}</td>
          <td>{{item.valor | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
          <td>{{item.vencimento | formatDate}}</td>
          <td class="btn-actions">
            <button class="btn btn-xs btn-flat btn-danger" @click="remove(item.id)"
                    data-toggle="tooltip" data-placement="top" title="Excluir"><i class="fa fa-trash"></i></button>
            <button class="btn btn-xs btn-flat btn-warning" @click="edit(item)"
                    data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import Helpers from './../../../helpers/helpers';
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapMutations} = createNamespacedHelpers('NotasEntrada');

  export default {

    data() {
      return {
        duplicata: {
          nota_fiscal_id: null,
          numero: '',
          vencimento: moment().format('YYYY-MM-DD'),
          valor: 0
        },
        action: 'add'
      }
    },

    mounted() {
      this.resetForm();
    },

    computed: {
      ...mapState(['nota_id', 'duplicatas', 'loading', 'errors']),
    },

    methods: {
      ...mapMutations(['DUPLICATAS', 'LOADING', 'ERRORS']),

      getDuplicatas(loading = false) {
        loading ? this.LOADING(true) : null;
        return axios.get(`/estoque/notas-entrada/duplicatas`, {
          params: {nota_fiscal_id: this.nota_id}
        })
          .then(resp => {
            loading ? this.LOADING(false) : null;
            this.DUPLICATAS(resp.data);
          })
          .catch(error => {
            loading ? this.LOADING(false) : null;
            Helpers.msgErrorDefault();
          })
      },

      add() {
        this.LOADING(true);
        axios.post(`/estoque/notas-entrada/duplicatas`, this.duplicata)
          .then(resp => {
            this.getDuplicatas().then(() => {
              this.resetForm();
              this.LOADING(false);
              Helpers.msgAdd();
            });
          })
          .catch(error => {
            this.LOADING(false);
            if (error.response.status == 422) {
              this.ERRORS(error.response.data.errors);
              Helpers.msgErrorDefault('Corrija os campos do formulário');
            }else{
              Helpers.msgErrorDefault();
            }
          })
      },

      edit(obj) {
        this.action = 'edit';
        this.duplicata = {...obj, vencimento: moment(obj.vencimento).format('YYYY-MM-DD')};
      },

      update() {
        this.LOADING(true);
        axios.put(`/estoque/notas-entrada/duplicatas/${this.duplicata.id}`, this.duplicata)
          .then(resp => {
            this.getDuplicatas().then(() => {
              this.resetForm();
              this.LOADING(false);
              Helpers.msgEdit();
            });
          })
          .catch(error => {
            this.LOADING(false);
            if (error.response.status == 422) {
              this.ERRORS(error.response.data.errors);
              Helpers.msgErrorDefault('Corrija os campos do formulário');
            }else{
              Helpers.msgErrorDefault();
            }
          })
      },

      remove(id) {
        if (confirm('Deseja Excluir a duplicata?')) {
          axios.delete(`/estoque/notas-entrada/duplicatas/${id}`)
            .then(resp => {
              this.getDuplicatas().then(() => {
                this.resetForm();
                this.LOADING(false);
                Helpers.msgRemove();
              });
            })
            .catch(error => {
              this.LOADING(false);
              Helpers.msgErrorDefault();
            })
        }
      },

      resetForm() {
        this.duplicata = {
          nota_fiscal_id: this.nota_id,
          numero: '',
          vencimento: moment().format('YYYY-MM-DD'),
          valor: 0
        };
        this.id = null;
        this.action = 'add';
        this.ERRORS();
      }
    },
  }
</script>