<template>
  <div>
    <div class="row">
      <div :class="['form-group col-xs-6 col-md-3 col-lg-2',{'has-error': !!errors.numero}]">
        <label>Número</label>
        <input type="text" class="form-control" :value="nota.numero" @input="notaNumero">
        <span v-if="!!errors.numero" class="small text-danger">{{errors.numero[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3 col-lg-2',{'has-error': !!errors.serie}]">
        <label>Série</label>
        <input type="text" class="form-control" :value="nota.serie" @input="notaSerie">
        <span v-if="!!errors.serie" class="small text-danger">{{errors.serie[0]}}</span>
      </div>
      <div :class="['form-group col-xs-12 col-md-6 col-lg-8',{'has-error': !!errors.natureza_operacao_id}]">
        <label>Natureza Operação</label>
        <span class="pull-right">
          <a href="/estoque/natureza-operacao" target="_blank" class="btn btn-default btn-flat btn-xs"><i
            class="fa fa-plus"></i> Add</a>
          <button class="btn btn-default btn-flat btn-xs" @click="getNaturezaOperacao(true)">
            <i class="fa fa-refresh"></i> Recarregar
          </button>
        </span>
        <select-2 :value="nota.natureza_operacao_id" @input="notaNaturezaOperacaoId">
          <option value="">Selecione...</option>
          <option style="overflow: hidden;" v-for="operacao in naturezaOperacao" :key="operacao.id"
                  :value="operacao.id">
            {{operacao.cfop.replace('.', '')}} - {{operacao.descricao}}
          </option>
        </select-2>
        <span v-if="!!errors.natureza_operacao_id" class="small text-danger">{{errors.natureza_operacao_id[0]}}</span>
      </div>
    </div>

    <div class="row">
      <div :class="['form-group col-xs-6 col-md-3 col-lg-6',{'has-error': !!errors.chave_acesso}]">
        <label>Chave de acesso</label>
        <input type="text" class="form-control" :value="nota.chave_acesso" @input="notaChaveAcesso">
        <span v-if="!!errors.chave_acesso" class="small text-danger">{{errors.chave_acesso[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3 col-lg-2', {'has-error': !!errors.data_emissao}]">
        <label>Data Emissão</label>
        <input type="date" class="form-control" :value="nota.data_emissao" @input="notaDataEmissao" min="1920-01-01"
               max="2050-01-01">
        <span v-if="!!errors.data_emissao" class="small text-danger">{{errors.data_emissao[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3 col-lg-2', {'has-error': !!errors.data_saida}]">
        <label>Data Saída</label>
        <input type="date" class="form-control" :value="nota.data_saida" @input="notaDataSaida" min="1920-01-01"
               max="2050-01-01">
        <span v-if="!!errors.data_saida" class="small text-danger">{{errors.data_saida[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3 col-lg-2', {'has-error': !!errors.hora_saida}]">
        <label>Hora Saída</label>
        <input type="time" class="form-control" :value="nota.hora_saida" @input="notaHoraSaida">
        <span v-if="!!errors.hora_saida" class="small text-danger">{{errors.hora_saida[0]}}</span>
      </div>
    </div>

    <div class="row">
      <div :class="['form-group col-xs-12 col-md-6',{'has-error': !!errors.emissor_id}]">
        <label>Emissor / Remetente</label>
        <span class="pull-right">
          <a href="/estoque/pessoas" target="_blank" class="btn btn-default btn-flat btn-xs"><i class="fa fa-plus"></i> Add</a>
          <button class="btn btn-default btn-flat btn-xs" @click="getEmissores(true)">
            <i class="fa fa-refresh"></i> Recarregar
          </button>
        </span>
        <select-2 :value="nota.emissor_id" @input="notaEmissorId">
          <option disabled value="">Selecione...</option>
          <option v-for="emissor in emissores" :key="emissor.id" :value="emissor.id">
            {{emissor.nome}} - {{emissor.tipo_pessoa_id == 1 ? `CPF: ${emissor.fisica.cpf}` : `CNPJ:
            ${emissor.juridica.cnpj}`}}
          </option>
        </select-2>
        <span v-if="!!errors.emissor_id" class="small text-danger">{{errors.emissor_id[0]}}</span>
      </div>
      <div :class="['form-group col-xs-12 col-md-6',{'has-error': !!errors.endereco_emissor_id}]">
        <label>Endereço do Emissor</label>
        <select :value="nota.endereco_emissor_id" @input="notaEnderecoEmissorId" class="form-control">
          <option disabled value="">Selecione o Emissor primeiro...</option>
          <option v-for="end in emissorEnderecos" :key="end.id" :value="end.id"
                  :selected="end.id == nota.endereco_emissor_id">
            {{end.principal == 1 ? '(Principal) - ' : ''}}{{end.full}}
          </option>
        </select>
        <span v-if="!!errors.endereco_emissor_id" class="small text-danger">{{errors.endereco_emissor_id[0]}}</span>
      </div>
    </div>

    <div class="row">
      <h4 class="col-xs-12 text-capitalize"><i class="fa fa-truck"></i> Transportador / Volumes
        transportados</h4>
    </div>

    <div class="row">
      <div :class="['form-group col-xs-12',{'has-error': !!errors.transportador_id}]">
        <label>Transportador</label>
        <span class="pull-right">
          <a href="/estoque/pessoas" target="_blank" class="btn btn-default btn-flat btn-xs"><i class="fa fa-plus"></i> Add</a>
          <button class="btn btn-default btn-flat btn-xs" @click="getTransportadores(true)">
            <i class="fa fa-refresh"></i> Recarregar
          </button>
        </span>
        <select-2 :value="carga.transportador_id" @input="cargaTransportadorId">
          <option value="">Selecione...</option>
          <option v-for="transportador in transportadores" :key="transportador.id" :value="transportador.id">
            {{transportador.nome}} - {{transportador.tipo_pessoa_id == 1 ? `CPF:
            ${transportador.fisica.cpf}` : `CNPJ:
            ${transportador.juridica.cnpj}`}}
          </option>
        </select-2>
        <span v-if="!!errors.transportador_id" class="small text-danger">{{errors.transportador_id[0]}}</span>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-6 col-md-3">
        <label>Frete por conta</label>
        <select :value="carga.frete_pagador" @change="cargaFretePagador" class="form-control">
          <option value="0">0 - Emitente</option>
          <option value="1">1 - Dest/Rem</option>
          <option value="2">2 - Terceiros</option>
          <option value="9">9 - Sem Frete</option>
        </select>
      </div>
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.quantidade}]">
        <label>Quantidade</label>
        <input type="number" class="form-control" :value="carga.quantidade" @input="cargaQuantidade">
        <span v-if="!!errors.quantidade" class="small text-danger">{{errors.quantidade[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.especie}]">
        <label>Espécie</label>
        <input type="text" class="form-control" :value="carga.especie" @input="cargaEspecie">
        <span v-if="!!errors.especie" class="small text-danger">{{errors.especie[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.marca}]">
        <label>Marca</label>
        <input type="text" class="form-control" :value="carga.marca" @input="cargaMarca">
        <span v-if="!!errors.marca" class="small text-danger">{{errors.marca[0]}}</span>
      </div>
    </div>

    <div class="row">
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.numeracao}]">
        <label>Numeração</label>
        <input type="text" class="form-control" :value="carga.numeracao" @input="cargaNumeracao">
        <span v-if="!!errors.numeracao" class="small text-danger">{{errors.numeracao[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.peso_bruto}]">
        <label>Peso Bruto Kg</label>
        <input type="number" class="form-control" :value="carga.peso_bruto" @input="cargaPesoBruto">
        <span v-if="!!errors.peso_bruto" class="small text-danger">{{errors.peso_bruto[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.peso_liquido}]">
        <label>Peso Líquido Kg</label>
        <input type="number" class="form-control" :value="carga.peso_liquido" @input="cargaPesoLiquido">
        <span v-if="!!errors.peso_liquido" class="small text-danger">{{errors.peso_liquido[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.placa_veiculo}]">
        <label>Placa do Veículo</label>
        <the-mask type="text" mask="AAA-####" :masked="true" class="form-control" :value="carga.placa_veiculo"
                  @input="cargaPlacaVeiculo"></the-mask>
        <span v-if="!!errors.placa_veiculo" class="small text-danger">{{errors.placa_veiculo[0]}}</span>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-12">
        <label>Dados adicionais</label>
        <textarea :value="nota.dados_adicionais" @input="notaDadosAdicionais" rows="3" class="form-control"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <br>
        <button v-if="!nota_id" type="button" @click="criarNota" class="btn btn-primary btn-flat pull-right">
          <i class="fa fa-floppy-o"></i> Salvar dados da Nota
        </button>
        <button v-if="nota_id" type="button" @click="atualizarNota" class="btn btn-warning btn-flat pull-right">
          <i class="fa fa-floppy-o"></i> Atualizar dados da Nota
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import Select2 from "../../Select2";
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapGetters, mapMutations, mapActions} = createNamespacedHelpers('NotasEntrada');

  export default {
    components: {Select2},

    data() {
      return {
        openModalNaturezaOperacao: false
      };
    },

    computed: {
      ...mapState(["errors", "nota_id", "nota", "carga", "naturezaOperacao", "emissores", "transportadores", "destinatarioEstadoId"]),
      ...mapGetters(["emissorEnderecos", "emissorEstadoId"])
    },

    methods: {
      ...mapMutations(['NOTA', 'CARGA']),
      ...mapActions(["criarNota", "atualizarNota", "getNaturezaOperacao", "getEmissores", "getTransportadores", "getAliquotaIcms"]),

      notaNumero(event) {
        this.NOTA({...this.nota, numero: event.target.value});
      },
      notaSerie(event) {
        this.NOTA({...this.nota, serie: event.target.value});
      },
      notaNaturezaOperacaoId(value) {
        this.NOTA({...this.nota, natureza_operacao_id: value});
      },
      notaChaveAcesso(event) {
        this.NOTA({...this.nota, chave_acesso: event.target.value});
      },
      notaDataEmissao(event) {
        this.NOTA({...this.nota, data_emissao: event.target.value});
      },
      notaDataSaida(event) {
        this.NOTA({...this.nota, data_saida: event.target.value});
      },
      notaHoraSaida(event) {
        this.NOTA({...this.nota, hora_saida: event.target.value});
      },
      notaEmissorId(value) {
        this.NOTA({...this.nota, emissor_id: value});
      },
      notaEnderecoEmissorId(event) {
        this.NOTA({...this.nota, endereco_emissor_id: event.target.value});
        this.getAliquotaIcms({
          emissorEstadoId: this.emissorEstadoId,
          destinatarioEstadoId: this.destinatarioEstadoId
        });
      },
      notaDadosAdicionais(event) {
        this.NOTA({...this.nota, dados_adicionais: event.target.value});
      },

      cargaTransportadorId(value) {
        this.CARGA({...this.carga, transportador_id: value});
      },
      cargaFretePagador(event) {
        this.CARGA({...this.carga, frete_pagador: event.target.value});
      },
      cargaQuantidade(event) {
        this.CARGA({...this.carga, quantidade: event.target.value});
      },
      cargaEspecie(event) {
        this.CARGA({...this.carga, especie: event.target.value});
      },
      cargaMarca(event) {
        this.CARGA({...this.carga, marca: event.target.value});
      },
      cargaNumeracao(event) {
        this.CARGA({...this.carga, numeracao: event.target.value});
      },
      cargaPesoBruto(event) {
        this.CARGA({...this.carga, peso_bruto: event.target.value});
      },
      cargaPesoLiquido(event) {
        this.CARGA({...this.carga, peso_liquido: event.target.value});
      },
      cargaPlacaVeiculo(value) {
        this.CARGA({...this.carga, placa_veiculo: value});
      }
    }
  };
</script>