<template>
  <div>
    <div class="row">
      <div class="form-group col-xs-6 col-md-3">
        <label>Base de Calculo ICMS</label>
        <money class="form-control" :value="nota.base_calculo_icms" disabled></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor do ICMS</label>
        <money class="form-control" :value="nota.valor_icms" disabled></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Base cál. ICMS Sub.</label>
        <money class="form-control" v-model="base_calculo_icms_substituicao"></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor ICMS Sub.</label>
        <money class="form-control" v-model="valor_icms_substituicao"></money>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor do PIS</label>
        <money class="form-control" :value="nota.valor_pis" disabled></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor do COFINS</label>
        <money class="form-control" :value="nota.valor_cofins" disabled></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor do IPI</label>
        <money class="form-control" :value="nota.valor_ipi" disabled></money>
      </div>
      <!-- <div class="form-group col-xs-6 col-md-3">
        <label>Valor do desconto</label>
        <money class="form-control" :value="nota.desconto" disabled></money>
      </div> -->
    </div>

    <div class="row">
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor do Seguro</label>
        <money class="form-control" v-model="valor_seguro"></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor do frete</label>
        <money class="form-control" v-model="valor_frete"></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Despesas acessórias</label>
        <money class="form-control" v-model="outras_despesas_acessorias"></money>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-6 col-xs-offset-0 col-md-3 col-md-offset-6">
        <label>Valor total dos produtos</label>
        <money class="form-control" :value="nota.valor_total_produtos" disabled></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor total da nota</label>
        <money class="form-control" :value="nota.valor_total_nota" disabled></money>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <br>
        <button type="button" @click="atualizarNota" class="btn btn-warning btn-flat pull-right">
          <i class="fa fa-floppy-o"></i> Atualizar dados do imposto
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";

const { mapState, mapGetters, mapMutations, mapActions } = createNamespacedHelpers('NotasEntrada');

export default {
  computed: {
    ...mapState(['nota']),

    base_calculo_icms_substituicao: {
      get () { return this.nota.base_calculo_icms_substituicao },
      set: _.debounce(function (value) { this.NOTA({ ...this.nota, base_calculo_icms_substituicao: value }) }, 500)
    },
    valor_icms_substituicao: {
      get () { return this.nota.valor_icms_substituicao },
      set: _.debounce(function (value) {
        this.NOTA({ ...this.nota, valor_icms_substituicao: value });
        this.notaCalculaIcms();
        this.notaCalculaTotal();
      }, 500)
    },
    valor_seguro: {
      get () { return this.nota.valor_seguro },
      set: _.debounce(function (value) {
        this.NOTA({ ...this.nota, valor_seguro: value });
        this.notaCalculaIcms();
        this.notaCalculaTotal();
      }, 500)
    },
    valor_frete: {
      get () { return this.nota.valor_frete },
      set: _.debounce(function (value) {
        this.NOTA({ ...this.nota, valor_frete: value });
        this.notaCalculaIcms();
        this.notaCalculaTotal();
      }, 500)
    },
    outras_despesas_acessorias: {
      get () { return this.nota.outras_despesas_acessorias },
      set: _.debounce(function (value) {
        this.NOTA({ ...this.nota, outras_despesas_acessorias: value });
        this.notaCalculaIcms();
        this.notaCalculaTotal();
      }, 500)
    },
  },

  methods: {
    ...mapMutations(['NOTA']),
    ...mapActions(['atualizarNota', 'notaCalculaIcms', 'notaCalculaTotal']),
  }
}
</script>