<template>
  <modal v-model="openModal" title="Deseja remover este produto da nota?" ref='movimento-poduto-remove'>
    <span v-if="movimentoProduto.produto">
      <p><b>Código:</b> {{movimentoProduto.id_na_nota}}</p>
      <p>
        <b>Produto:</b> {{movimentoProduto.produto.mercadoria.categoria.descricao}}-{{movimentoProduto.produto.mercadoria.descricao}}-{{movimentoProduto.produto.marca.nome}}-
        {{movimentoProduto.produto.descricao}}-{{movimentoProduto.produto.informacao_adicional}}
      </p>
    </span>
    <div slot="footer">
      <btn @click="onClose(false)" class="btn-flat"><i class="fa fa-ban"></i> Cancelar</btn>
      <btn type="danger" class="btn-flat" @click.prevent="onRemove()">
        <i class="fa fa-trash"></i> Remover
      </btn>
    </div>
  </modal>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';

const { mapState, mapMutations, mapActions } = createNamespacedHelpers('NotasEntrada');

export default {

  computed: {
    ...mapState(['movimentoProduto', 'openModalMovimentoProdutoRemove']),

    openModal: {
      get () {
        return this.openModalMovimentoProdutoRemove;
      },
      set (value) {
        this.onClose(value);
      }
    }
  },

  methods: {
    ...mapMutations(['MOVIMENTO_PRODUTO', 'OPEN_MODAL_MOVIMENTO_PRODUTO_REMOVE']),
    ...mapActions(['removeMovimentoProduto', 'resetMovimentoProdutoForm']),

    onClose (value = false) {
      this.resetMovimentoProdutoForm();
      this.OPEN_MODAL_MOVIMENTO_PRODUTO_REMOVE(value)
    },

    onRemove () {
      this.removeMovimentoProduto();
      this.onClose();
    }
  }
}
</script>