<template>
  <modal v-model="openModal" @input="inputModalEvent" title="Buscar produtos" size="lg" :footer="false" append-to-body
         ref="busca-produtos">
    <span slot="title">
      <div :class="['form-group col-xs-12 col-xs-offset-0 col-md-6 col-md-offset-3', {'has-error': minLength}]">
        <div class="input-group">
          <input type="text" v-model="search" @keyup.enter="buscar" class="form-control"
                 placeholder="Digite palavras chaves ou código do produto...">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-flat" type="button" @click="buscar">
              <span v-if="loading"><i class="fa fa-refresh fa-spin"></i> Buscando</span>
              <span v-else><i class="fa fa-search"></i> &nbsp;&nbsp;&nbsp;Buscar&nbsp;&nbsp;</span>
            </button>
          </span>
        </div>
      </div>
    </span>

    <div class="table-responsive">
      <table class="table table-middle table-hover table-condensed">
        <thead>
        <tr>
          <th>Código</th>
          <th>Cód. Fábrica</th>
          <th>imagem</th>
          <th>Descrição</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr v-show="loading">
          <td colspan="6" class="text-center"><i class="fa fa-refresh fa-spin fa-3x"></i></td>
        </tr>
        <tr v-show="produtos.length == 0">
          <td colspan="6" class="text-center">Use o campo de busca para listar os produtos</td>
        </tr>
        <tr v-for="produto in produtos" :key="produto.id">
          <td>{{produto.id}}</td>
          <td>{{produto.codigo_fabrica}}</td>
          <td>
            <img v-if="produto.imagens.length" :src="produto.imagens[0].src" :alt="produto.imagens[0].legenda"
                 height="60">
            <img v-else src="/images/no-image.png" alt="No Image" height="60">
          </td>
          <td>{{produto.descricao_completa}}</td>
          <td class="btn-actions">
            <btn type="primary" class="btn-flat" @click="setItem(produto)">
              <i class="fa fa-check"></i>
            </btn>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </modal>
</template>

<script>
  export default {
    props: ["open"],

    data() {
      return {
        search: "",
        minLength: false,
        loading: false,
        produtos: []
      };
    },

    computed: {
      openModal: {
        get() {
          return this.open;
        },
        set(newValue) {
          return this.open;
        }
      }
    },

    methods: {
      buscar() {
        if (!this.search.length >= 1) {
          this.minLength = true;
        } else {
          this.loading = true;
          window.axios.get(`/shared/busca-produtos?search=${this.search}`)
            .then(resp => {
              this.loading = false;
              this.minLength = false;
              this.produtos = resp.data;
            });
        }
      },

      inputModalEvent(value) {
        this.$emit("open", value);
      },

      setItem(produto) {
        this.$emit("set-produto", produto);
        this.$emit("open", false);
      }
    }
  };
</script>
