<template>
  <modal v-model="openModal" :title="titleModal" size="full" :footer="false" ref="movimento-produto-form">
    <div class="row">
      <div :class="['form-group col-xs-12 col-lg-6',{'has-error': !!errors.cfop_id}]">
        <label>Natureza Operação (CFOP)</label>
        <span class="pull-right">
          <a href="/estoque/natureza-operacao" target="_blank" class="btn btn-default btn-flat btn-xs">
            <i class="fa fa-plus"></i> Add
          </a>
          <button class="btn btn-default btn-flat btn-xs" @click="getNaturezaOperacao(true)">
            <i class="fa fa-refresh"></i> Recarregar
          </button>
        </span>
        <select-2 :value="movimentoProduto.cfop_id" @input="updateCfopId">
          <option disabled value>Selecione...</option>
          <option v-for="operacao in naturezaOperacao" :value="operacao.id" :key="operacao.id">{{operacao.cfop.replace('.', '')}} -
            {{operacao.descricao}}
          </option>
        </select-2>
        <span v-if="!!errors.cfop_id" class="small text-danger">{{errors.cfop_id[0]}}</span>
      </div>

      <div :class="['form-group col-xs-12 col-lg-6',{'has-error': !!errors.produto_id}]">
        <label><i class="fa fa-cube"></i> Produto</label>
        <div class="input-group">
          <input type="text" class="form-control" :value="descricaoProduto"
                 placeholder="Use o botão de busca para selecionar" disabled>
          <span class="input-group-btn">
            <button class="btn btn-primary btn-flat" type="button" @click="openModalBuscaProdutos = true">
              <i class="fa fa-search"></i> Buscar
            </button>
            <a href="/estoque/produtos" class="btn btn-default btn-flat" target="_blank">
              <i class="fa fa-plus"></i> Add
            </a>
          </span>
        </div>
        <span v-if="!!errors.produto_id" class="small text-danger">{{errors.produto_id[0]}}</span>
        <modal-busca-produtos :open="openModalBuscaProdutos" @open="openEventModalBuscaProdutos"
                              @set-produto="updateProdutoId"></modal-busca-produtos>
      </div>

      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.id_na_nota}]">
        <label>Código produto na nota</label>
        <input type="text" class="form-control" :value="movimentoProduto.id_na_nota" @input="updateIdNaNota">
        <span v-if="!!errors.id_na_nota" class="small text-danger">{{errors.id_na_nota[0]}}</span>
      </div>

      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.unidade_medida_id}]">
        <label>Unidade Medida</label>
        <select :value="movimentoProduto.unidade_medida_id" @input="updateUnidadeMedidaId" class="form-control">
          <option v-for="un in unidadesMedida" :value="un.id" :key="un.id">{{un.unidade}} - {{un.descricao}}</option>
        </select>
        <span v-if="!!errors.unidade_medida_id" class="small text-danger">{{errors.unidade_medida_id[0]}}</span>
      </div>

      <div :class="['form-group col-xs-6 col-md-2',{'has-error': !!errors.quantidade}]">
        <label>Quantidade</label>
        <input type="number" class="form-control" :value="movimentoProduto.quantidade" @input="updateQuantidade">
        <span v-if="!!errors.quantidade" class="small text-danger">{{errors.quantidade[0]}}</span>
      </div>

      <div v-if="movimentoProduto.unidade_medida_id == 5"
           :class="['form-group col-xs-6 col-md-2',{'has-error': !!errors.quantidade_por_caixa}]">
        <label>Quant. por caixa</label>
        <input type="number" class="form-control" :value="movimentoProduto.quantidade_por_caixa"
               @input="updateQuantidadePorCaixa">
        <span v-if="!!errors.quantidade_por_caixa" class="small text-danger">{{errors.quantidade_por_caixa[0]}}</span>
      </div>
    </div>

    <div class="row">
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.valor_unitario}]">
        <label>Valor Unitário</label>
        <money class="form-control" v-model="valor_unitario"></money>
        <span v-if="!!errors.valor_unitario" class="small text-danger">{{errors.valor_unitario[0]}}</span>
      </div>

      <!-- <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.desconto}]">
        <label>Valor Desconto</label>
        <input type="number" class="form-control" :value="movimentoProduto.desconto" @input="updateDesconto">
        <span v-if="!!errors.desconto" class="small text-danger">{{errors.desconto[0]}}</span>
      </div> -->

      <div class="form-group col-xs-6 col-md-3">
        <label>Total</label>
        <money class="form-control" :value="mpValorTotal" disabled></money>
      </div>

      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.aliquota_ipi}]">
        <label>IPI %</label>
        <input type="number" class="form-control" :value="movimentoProduto.aliquota_ipi" @input="updateAliquotaIpi">
        <span v-if="!!errors.aliquota_ipi" class="small text-danger">{{errors.aliquota_ipi[0]}}</span>
      </div>

      <div class="form-group col-xs-6 col-md-3">
        <label>Valor do IPI</label>
        <money class="form-control" :value="mpValorIpi" disabled></money>
      </div>

      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.aliquota_icms}]">
        <label>ICMS %</label>
        <input type="number" class="form-control" :value="movimentoProduto.aliquota_icms" @input="updateAliquotaIcms">
        <span v-if="!!errors.aliquota_icms" class="small text-danger">{{errors.aliquota_icms[0]}}</span>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor ICMS</label>
        <money class="form-control" :value="mpValorIcms" disabled></money>
      </div>
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.mva}]">
        <label>MVA %</label>
        <input type="number" class="form-control" :value="movimentoProduto.mva" @input="updateMva">
        <span v-if="!!errors.mva" class="small text-danger">{{errors.mva[0]}}</span>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor ICMS Sub.</label>
        <money class="form-control" :value="movimentoProduto.valor_icms_substituicao" disabled></money>
      </div>

      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.loja_entrada_id}]">
        <label>Local Destino</label>
        <select :value="movimentoProduto.loja_entrada_id" @input="updateLoja" class="form-control">
          <option value="">Selecione...</option>
          <option v-for="loja in lojas" :key="loja.id" :value="loja.id">{{loja.descricao}}</option>
        </select>
        <span v-if="!!errors.loja_entrada_id" class="small text-danger">{{errors.loja_entrada_id[0]}}</span>
      </div>
      <div class="form-group col-xs-12 col-md-9">
        <label>Observação</label>
        <input type="text" class="form-control" :value="movimentoProduto.observacao" @input="updateObservacao">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-right">
        <btn type="default" class="btn-flat" @click="limpaForm" :disabled="loading"><i class="fa fa-eraser"></i> Limpar
          formulário
        </btn>
        <btn v-if="movimentoProduto.id == null" type="primary" class="btn-flat" @click="addMovimentoProduto"
             :disabled="loading">
          <i v-if="!loading" class="fa fa-save"></i>
          <i v-if="loading" class="fa fa-refresh fa-spin"></i>
          Salvar novo
        </btn>
        <btn v-if="movimentoProduto.id != null" type="warning" class="btn-flat" @click="atualizarMovimentoProduto"
             :disabled="loading">
          <i v-if="!loading" class="fa fa-save"></i>
          <i v-if="loading" class="fa fa-refresh fa-spin"></i>
          Atualizar
        </btn>
      </div>
    </div>
    <div v-if="loading" class="overlay">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </modal>
</template>

<script>
  import Select2 from '../../Select2';
  import ModalBuscaProdutos from './ModalBuscaProdutos';
  import {createNamespacedHelpers} from 'vuex';

  const {mapState, mapGetters, mapMutations, mapActions} = createNamespacedHelpers('NotasEntrada');

  export default {
    components: {Select2, ModalBuscaProdutos},
    props: ['titleModal'],

    data() {
      return {
        openModalBuscaProdutos: false
      }
    },

    computed: {
      ...mapState(['unidadesMedida', 'errors', 'naturezaOperacao', 'movimentoProduto', 'loading', 'openModalMovimentoProdutoForm', 'lojas']),
      ...mapGetters(['descricaoProduto', 'mpValorTotal', 'mpValorIpi', 'mpValorIcms']),

      openModal: {
        get() {
          return this.openModalMovimentoProdutoForm;
        },
        set(value) {
          this.OPEN_MODAL_MOVIMENTO_PRODUTO_FORM(value);
        }
      },

      valor_unitario: {
        get() {
          return this.movimentoProduto.valor_unitario
        },
        set: _.debounce(function (value) {
          this.MOVIMENTO_PRODUTO({...this.movimentoProduto, valor_unitario: value});
          this.mpCalculaValorIcmsSub();
        }, 500)
      },
    },

    methods: {
      ...mapMutations(['MOVIMENTO_PRODUTO', 'PRODUTO', 'OPEN_MODAL_MOVIMENTO_PRODUTO_FORM', 'LOJA_ENTRADA_ID']),
      ...mapActions(['getNaturezaOperacao', 'mpCalculaValorIcmsSub', 'addMovimentoProduto', 'atualizarMovimentoProduto', 'resetMovimentoProdutoForm']),

      openEventModalBuscaProdutos(value) {
        this.openModalBuscaProdutos = value;
      },

      limpaForm() {
        this.resetMovimentoProdutoForm();
        this.mpCalculaValorIcmsSub();
      },

      updateCfopId(value) {
        this.MOVIMENTO_PRODUTO({...this.movimentoProduto, cfop_id: value});
      },
      updateProdutoId(produto) {
        this.MOVIMENTO_PRODUTO({...this.movimentoProduto, produto_id: produto.id});
        this.PRODUTO(produto);
      },
      updateIdNaNota(event) {
        this.MOVIMENTO_PRODUTO({...this.movimentoProduto, id_na_nota: event.target.value});
      },
      updateUnidadeMedidaId(event) {
        this.MOVIMENTO_PRODUTO({...this.movimentoProduto, unidade_medida_id: event.target.value});
      },
      updateQuantidade(event) {
        this.MOVIMENTO_PRODUTO({...this.movimentoProduto, quantidade: event.target.value});
        this.mpCalculaValorIcmsSub();
      },
      updateQuantidadePorCaixa(event) {
        this.MOVIMENTO_PRODUTO({...this.movimentoProduto, quantidade_por_caixa: event.target.value});
      },
      updateValorUnitario(event) {
        this.MOVIMENTO_PRODUTO({...this.movimentoProduto, valor_unitario: event.target.value});
        this.mpCalculaValorIcmsSub();
      },
      /* updateDesconto(event) {
        this.MOVIMENTO_PRODUTO({ ...this.movimentoProduto, desconto: event.target.value });
      }, */
      updateAliquotaIpi(event) {
        this.MOVIMENTO_PRODUTO({...this.movimentoProduto, aliquota_ipi: event.target.value});
      },
      updateAliquotaIcms(event) {
        this.MOVIMENTO_PRODUTO({...this.movimentoProduto, aliquota_icms: event.target.value});
        this.mpCalculaValorIcmsSub();
      },
      updateMva(event) {
        this.MOVIMENTO_PRODUTO({...this.movimentoProduto, mva: event.target.value});
        this.mpCalculaValorIcmsSub();
      },
      updateLoja(event) {
        this.MOVIMENTO_PRODUTO({...this.movimentoProduto, loja_entrada_id: event.target.value});
        this.LOJA_ENTRADA_ID(event.target.value);
      },
      updateObservacao(event) {
        this.MOVIMENTO_PRODUTO({...this.movimentoProduto, observacao: event.target.value});
      },
    }
  };
</script>