<template>
  <modal v-model="openModal" title="Deseja remover esta Nota Fiscal?" ref='notas-remove'>
    <span v-if="nota.id">
      <p><b>Número:</b> {{nota.numero}}</p>
      <p><b>Fornecedor:</b> {{nota.pessoa_emissor.nome}}</p>
      <p><b>Emissão:</b> {{nota.data_emissao | formatDate}}</p>
      <p><b>Valor:</b> {{nota.valor_total_nota | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</p>

      <h4 class="text-danger">
        Todos os produtos da nota serão removidos!. <br><br>
        Esta operação irá afetar o estoque e tenha certeza que nenhum dos produtos da nota foram vendidos.
      </h4>
    </span>
    <div slot="footer">
      <btn @click="onClose(false)" class="btn-flat"><i class="fa fa-ban"></i> Cancelar</btn>
      <btn type="danger" class="btn-flat" @click="onRemove()">
        <i class="fa fa-trash"></i> Remover
      </btn>
    </div>
  </modal>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';

const { mapState, mapMutations, mapActions } = createNamespacedHelpers('NotasEntrada');

export default {

  computed: {
    ...mapState(['nota', 'openModalNotasRemove']),

    openModal: {
      get () {
        return this.openModalNotasRemove;
      },
      set (value) {
        this.onClose(value);
      }
    }
  },

  methods: {
    ...mapMutations(['OPEN_MODAL_NOTAS_REMOVE']),
    ...mapActions(['removeNota']),

    onClose (value = false) {
      this.OPEN_MODAL_NOTAS_REMOVE(value)
    },

    onRemove () {
      this.removeNota(this.nota.id);
      this.onClose(false);
    }
  }
}
</script>