<template>
  <div>
    <vue-box id="box-list" :title="title" :loading="loading" :collapse="false">
      <template slot="body">
        <tabs pills>
          <tab title="<i class='fa fa-info-circle'></i> Informações Gerais" html-title>
            <br>
            <geral></geral>
          </tab>
          <tab title="<i class='fa fa-files-o'></i> Duplicatas" html-title :disabled="!nota_id">
            <br>
            <duplicatas></duplicatas>
          </tab>
          <tab title="<i class='fa fa-list'></i> Produtos da nota" html-title :disabled="!nota_id">
            <br>
            <produtos></produtos>
          </tab>
          <tab title="<i class='fa fa-bank'></i> Cálculo do imposto" html-title :disabled="!nota_id">
            <br>
            <imposto></imposto>
          </tab>
        </tabs>
      </template>
      <template slot="footer">
        <a href="/estoque/notas-entrada" class="btn btn-default btn-flat"><i class="fa fa-ban"></i> Cancelar / Voltar</a>
      </template>
    </vue-box>
  </div>
</template>

<script>
import Geral from "./Geral";
import Duplicatas from './Duplicatas';
import Produtos from "./Produtos";
import Imposto from "./Imposto";
import { createNamespacedHelpers } from "vuex";

const { mapState, mapMutations, mapActions } = createNamespacedHelpers("NotasEntrada");

export default {
  components: { Geral, Duplicatas, Produtos, Imposto },
  props: ['notaId'],

  data () {
    return {
      title: ""
    };
  },

  computed: {
    ...mapState(["loading", 'movimentoProduto', 'nota_id'])
  },

  mounted () {
    if (this.notaId) {
      this.NOTA_ID(this.notaId);
      this.MOVIMENTO_PRODUTO({
        ...this.movimentoProduto,
        nota_fiscal_id: this.notaId
      });
      this.title = "Editando nota fiscal de compra";
    } else {
      this.title = "Inserindo nota fiscal de compra";
    }
    this.startFormComponent(this.notaId);
  },

  methods: {
    ...mapMutations(["NOTA_ID", 'MOVIMENTO_PRODUTO']),
    ...mapActions(["startFormComponent"])
  }
};
</script>