<template>
  <div class="row">
    <div class="col-xs-12">
      <vue-box id="box-list" :loading="loading">
        <template slot="body">
          <vue-data-table p-class="table-hover table-middle" :source="notas" :per-page="configs.perPage">
            <template>
              <thead>
                <tr>
                  <th>Número</th>
                  <th>Fornecedor</th>
                  <th>Emissão</th>
                  <th>Valor</th>
                  <th>ICMS</th>
                  <th>ICMS Sub.</th>
                  <th>IPI</th>
                  <th>PIS</th>
                  <th>COFINS</th>
                  <th class="text-right">
                    <a href="/estoque/notas-entrada/create" class="btn btn-primary btn-flat btn-sm">
                      <i class="fa fa-plus"></i> Nova entrada
                    </a>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="item in notas.data" :key="item.id">
                  <td>{{item.numero}}</td>
                  <td>{{item.pessoa_emissor.nome}}</td>
                  <td>{{item.data_emissao | formatDate}}</td>
                  <td>{{item.valor_total_nota | currency('', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
                  <td>{{item.valor_icms | currency('', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
                  <td>{{item.valor_icms_substituicao | currency('', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
                  <td>{{item.valor_ipi | currency('', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
                  <td>{{item.valor_pis | currency('', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
                  <td>{{item.valor_cofins | currency('', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
                  <td class="btn-actions">
                    <btn type="danger" class="btn-xs btn-flat" @click="remove(item)"><i class="fa fa-trash"></i></btn>
                    <a :href="'/estoque/notas-entrada/' + item.id + '/edit'" class="btn btn-warning btn-xs btn-flat">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <a :href="'/estoque/notas-entrada/pdf/' + item.id" target="_blank" class="btn btn-default btn-xs btn-flat">
                      <i class="fa fa-file-pdf-o text-red"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </template>
          </vue-data-table>
        </template>
      </vue-box>
    </div>
    <modal-notas-remove></modal-notas-remove>
  </div>
</template>

<script>
import Helpers from "../../../helpers/helpers";
import ModalNotasRemove from './ModalNotasRemove';
import { createNamespacedHelpers } from "vuex";

const { mapState, mapMutations, mapActions } = createNamespacedHelpers("NotasEntrada");

export default {
  components: { ModalNotasRemove },
  computed: {
    ...mapState(["loading", "configs", "notas"])
  },

  mounted () {
    this.getNotas();
    this.$bus.$on("data-table", obj => {
      if (obj.page) {
        this.getNotas(obj.page);
      }
      if (obj.perPage) {
        this.CONFIGS_PER_PAGE(obj.perPage);
        this.getNotas();
      }
      if (obj.search != null) {
        this.CONFIGS_SEARCH(obj.search);
        this.getNotas();
      }
    });
  },

  methods: {
    ...mapMutations(["CONFIGS_PER_PAGE", "CONFIGS_SEARCH", 'OPEN_MODAL_NOTAS_REMOVE', 'NOTA']),
    ...mapActions(["getNotas"]),

    remove (nota) {
      this.NOTA(nota);
      this.OPEN_MODAL_NOTAS_REMOVE(true);
    }
  }
};
</script>