<template>
  <div>
    <div class="row">
      <div class="col-xs-12">
        <btn type="primary" class="btn-flat pull-right" @click="OPEN_MODAL_MOVIMENTO_PRODUTO_FORM(true)"><i class="fa fa-plus"></i> Adicionar produto</btn>
      </div>
      <modal-movimento-produto-form :title="titleModalMovimentoProdutoForm"></modal-movimento-produto-form>
      <modal-movimento-produto-remove></modal-movimento-produto-remove>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table table-hover table-middle table-condensed" style="overflow-x: auto">
            <thead>
              <tr>
                <th class="text-center">Código<br>Fábrica</th>
                <th>Descrição</th>
                <th>NCM</th>
                <th>CFOP</th>
                <th>Unid</th>
                <th class="text-center">Qtd.</th>
                <th style="min-width: 100px">Valor<br>Unitário</th>
                <th class="text-center">Valor<br>Total</th>
                <th class="text-center">Base<br>Cal.<br>ICMS</th>
                <th class="text-center">ICMS %</th>
                <th class="text-center">Valor<br>ICMS</th>
                <th class="text-center">Valor<br>ICMS Sub.</th>
                <th class="text-center">IPI %</th>
                <th class="text-center">Valor<br>IPI</th>
                <th class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="movimentoProdutos.length == 0" class="text-center info">
                <td colspan="16">Nenhum produto adicionado</td>
              </tr>
              <tr v-for="mp in movimentoProdutos" :key="mp.id">
                <td>{{mp.id_na_nota}}</td>
                <td>
                  {{mp.produto.mercadoria.categoria.descricao}}-{{mp.produto.mercadoria.descricao}}-{{mp.produto.marca.nome}}-{{mp.produto.descricao}}-
                  {{mp.produto.informacao_adicional}}
                </td>
                <td>{{mp.produto.mercadoria.categoria.numero_ncm}}</td>
                <td>{{mp.natureza_operacao.cfop}}</td>
                <td>{{mp.unidade_medida.unidade}}</td>
                <td class="text-center">{{mp.quantidade}}</td>
                <td>{{mp.valor_unitario | currency('', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
                <td>{{mp.valor_total | currency('', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
                <td>
                  {{mp.valor_total | currency('', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}
                </td>
                <td class="text-center">{{mp.aliquota_icms}}</td>
                <td>{{mp.valor_icms | currency('', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
                <td>{{mp.valor_icms_substituicao | currency('', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}
                </td>
                <td class="text-center">{{mp.aliquota_ipi}}</td>
                <td>{{mp.valor_ipi | currency('', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
                <td class="btn-actions">
                  <btn type="danger" class="btn-xs btn-flat" @click="remove(mp)">
                    <i class="fa fa-trash"></i>
                  </btn>
                  <btn type="warning" class="btn-xs btn-flat" @click="edit(mp)">
                    <i class="fa fa-pencil"></i>
                  </btn>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ModalMovimentoProdutoForm from './ModalMovimentoProdutoForm';
import ModalMovimentoProdutoRemove from './ModalMovimentoProdutoRemove';

import { createNamespacedHelpers } from 'vuex';

const { mapState, mapMutations, mapActions } = createNamespacedHelpers('NotasEntrada');

export default {
  components: { ModalMovimentoProdutoForm, ModalMovimentoProdutoRemove },

  computed: {
    ...mapState(['movimentoProdutos', 'movimentoProduto', 'nota']),

    titleModalMovimentoProdutoForm () {
      return this.movimentoProduto.id == null ? 'Adicionando produto à nota' : 'Editando produto da nota';
    }
  },

  methods: {
    ...mapMutations(['MOVIMENTO_PRODUTO', 'PRODUTO', 'NOTA', 'OPEN_MODAL_MOVIMENTO_PRODUTO_FORM', 'OPEN_MODAL_MOVIMENTO_PRODUTO_REMOVE']),
    ...mapActions(['mpCalculaValorIcmsSub', 'notaCalculaIcms', 'notaCalculaTotal', 'removeMovimentoProduto']),

    edit (movimentoProduto) {
      this.MOVIMENTO_PRODUTO({
        id: movimentoProduto.id,
        produto_id: movimentoProduto.produto_id,
        nota_fiscal_id: movimentoProduto.nota_fiscal_id,
        unidade_medida_id: movimentoProduto.unidade_medida_id,
        cfop_id: movimentoProduto.cfop_id,
        id_na_nota: movimentoProduto.id_na_nota,
        quantidade: movimentoProduto.quantidade,
        quantidade_por_caixa: movimentoProduto.quantidade_por_caixa,
        valor_unitario: movimentoProduto.valor_unitario,
        desconto: movimentoProduto.desconto,
        observacao: movimentoProduto.observacao,
        aliquota_icms: movimentoProduto.aliquota_icms,
        aliquota_ipi: movimentoProduto.aliquota_ipi,
        mva: movimentoProduto.mva,
        loja_entrada_id: movimentoProduto.loja_entrada_id,
        valor_icms_substituicao: 0
      });
      this.PRODUTO(movimentoProduto.produto);
      this.mpCalculaValorIcmsSub();
      this.OPEN_MODAL_MOVIMENTO_PRODUTO_FORM(true);
    },

    remove (movimentoProduto) {
      this.MOVIMENTO_PRODUTO(movimentoProduto);
      this.OPEN_MODAL_MOVIMENTO_PRODUTO_REMOVE(true);
    },

  },
};
</script>