@import "~admin-lte/bower_components/font-awesome/css/font-awesome.css";
//@import "~admin-lte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css";
//@import "~admin-lte/plugins/timepicker/bootstrap-timepicker.css";
@import "~admin-lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css";
//@import "~admin-lte/bower_components/fullcalendar/dist/fullcalendar.css";
@import "~admin-lte/bower_components/select2/dist/css/select2.css";
@import "~select2-bootstrap-theme/dist/select2-bootstrap.css";
@import "~admin-lte/plugins/iCheck/square/_all.css";
@import "~admin-lte/dist/css/skins/_all-skins.css";
@import "~admin-lte/bower_components/bootstrap/dist/css/bootstrap.css";
@import "~admin-lte/dist/css/AdminLTE.css";
@import "~toastr/toastr";

/* Custom CSS */
.orderBy {
  cursor: pointer;
}

.orderBy:hover {
  color: #0d6aad;
}

.custom-checkbox {
  margin-bottom: 15px;
}

.custom-checkbox label {
  padding-left: 25px;
}

.custom-checkbox input[type="checkbox"],
.custom-checkbox input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0 0 0 -25px;
  border-radius: 0;
}

.inline-checkbox .btn-permissions {
  position: fixed;
  bottom: 5px;
  right: 20px;
}

.btn-actions {
  min-width: 80px;
}

.btn-actions button,
.btn-actions a {
  margin: 2px;
  float: right
}

.table-middle tr>td,
.table-middle tr>th {
  vertical-align: middle !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  margin-top: 0 !important;
}

.legenda {
  margin-left: 8px;
}

.legenda input[type="checkbox"],
.legenda input[type="radio"] {
  margin-right: 3px;
}

.pre-venda-somas {
  margin: -10px auto -16px auto;
}

.modal-full {
  width: 95%;
}