<template>
  <div>
    <dados-cliente></dados-cliente>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <resumo-pagamento></resumo-pagamento>
      </div>
      <div class="col-xs-12 col-sm-6">
        <opcoes-pagamento></opcoes-pagamento>
      </div>
    </div>
    <br>
    <lista-parcelas></lista-parcelas>

  </div><!--principal-->
</template>

<script>
  import DadosCliente from './DadosCliente';
  import ResumoPagamento from './ResumoPagamento';
  import OpcoesPagamento from './OpcoesPagamento';
  import ListaParcelas from './ListaParcelas';
  import {createNamespacedHelpers} from 'vuex';

  const {mapMutations} = createNamespacedHelpers('CrediarioRecebimento');

  export default {
    props: ['dataCrediarios', 'dataBandeiras', 'dataTipoPagamentos', 'dataConfiguracoes'],
    components: {DadosCliente, ResumoPagamento, OpcoesPagamento, ListaParcelas},

    mounted() {
      this.CONFIGURACOES(JSON.parse(this.dataConfiguracoes));
      this.CREDIARIOS(JSON.parse(this.dataCrediarios));
      this.BANDEIRAS(JSON.parse(this.dataBandeiras));
      this.TIPO_PAGAMENTOS(JSON.parse(this.dataTipoPagamentos));
    },

    methods: {
      ...mapMutations(['CREDIARIOS', 'BANDEIRAS', 'TIPO_PAGAMENTOS', 'CONFIGURACOES'])
    }
  }
</script>