<template>
  <div class="table-responsive">
    <table class="table table-middle table-condensed table-stripeds">
      <thead>
      <tr>
        <th colspan="6"><h3><i class="fa fa-user"></i> Dados do cliente</h3></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="text-right"><i class="fa fa-user text-yellow"></i> Cliente:</th>
        <td>{{cliente.nome}}</td>
        <th class="text-right"><i class="fa fa-id-card-o"></i> CPF/CNPJ:</th>
        <td v-if="cliente.fisica">{{cliente.fisica.cpf | documento('cpf')}}</td>
        <td v-if="cliente.juridica">{{cliente.juridica.cnpj | documento('cnpj')}}</td>
        <th class="text-right"><i class="fa fa-phone"></i> Telefone:</th>
        <td>
          <span v-for="(contato, index) in cliente.contatos">
            {{contato.numero}} 
            <span v-if="cliente.contatos.length > 1 && cliente.contatos.length != index+1"> | </span>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapGetters} = createNamespacedHelpers('CrediarioRecebimento');

  export default {
    computed: {
      ...mapGetters(['cliente'])
    },
  }
</script>