<template>
  <div>
    <div class="box " v-for="(crediario, indexC) in crediarios">
      <div class="box-header">
        <h3 class="box-title with-border">
          <i class="fa fa-calendar"></i> Data Venda: {{crediario.transacao.venda.data_venda | formatDate}} &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-hashtag"></i> Código Crediário: {{crediario.id}}
        </h3>
        <div class="box-tools">
          <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i
            class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body">
        <p>
          <button class="btn btn-default btn-sm btn-flat" data-toggle="modal"
                  :data-target="'#venda' + indexC">
            <i class="fa fa-search-plus"></i> Detalhes Venda
          </button>
          <a :href="'/caixa/carne/' + crediario.transacao.venda_id" target="_blank"
             class="btn btn-default btn-flat btn-sm">
            <i class="fa fa-print"></i> Gerar Carnê
          </a>
          <span
            class="pull-right">Multa de {{percentual_multa}}% e Juros de {{percentual_juros_dia}}% ao dia.</span>
        </p>
        <modal-venda-detalhes :data-id="indexC" :venda="crediario.transacao.venda"></modal-venda-detalhes>
        <div class="table-responsive">
          <table class="table table-middle table-hover table-condensed">
            <thead>
            <tr>
              <th></th>
              <th><i class="fa fa-th-large"></i> Nº</th>
              <th><i class="fa fa-flag"></i> Status</th>
              <th><i class="fa fa-calendar"></i> Vencimento</th>
              <th><i class="fa fa-money"></i> Valor</th>
              <th><i class="fa fa-money"></i> Multa</th>
              <th><i class="fa fa-money"></i> Juros</th>
              <th><i class="fa fa-money"></i> Desconto</th>
              <th><i class="fa fa-money"></i> Total</th>
              <th><i class="fa fa-money"></i> Abatimentos</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(parcela, indexP) in crediario.parcelas"
                :class="[{
                  'success': parcela.status == 'P',
                  'warning': parcela.status == 'X',
                  'danger': parcela.status == 'A' && vencido(parcela)
                }]">
              <td>
                <input v-if="parcela.status != 'P'" type="checkbox" @click="onSelect($event, parcela)">
              </td>
              <td>{{parcela.sequencia}}/{{crediario.parcelas.length}}</td>
              <td>{{parcela.status == 'A' ? 'Aberto' : parcela.status == 'P' ? 'Pago' : 'Parcial'}}</td>
              <td>{{parcela.vencimento | formatDate}}</td>
              <td>{{parcela.valor | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
              <td>
                {{ parcela.multa | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','}) }}
                <span v-if="parcela.status != 'P'">{{ multa({indexC, indexP, parcela}) }}</span>
              </td>
              <td>
                {{parcela.juros | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}
                <span v-if="parcela.status != 'P'">{{juros({indexC: indexC, indexP: indexP, parcela: parcela})}}</span>
              </td>
              <td>
                <span v-if="parcela.status != 'P'">
                  <input type="number" :value="parcela.desconto" @keyup="desconto($event, indexC, indexP)"
                         class="form-control input-sm" style="width: 100px;">
                </span>
                <span
                  v-else>{{parcela.desconto | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</span>
              </td>
              <td>{{totalParcela(indexC, indexP) | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator:
                ','})}}
              </td>
              <td>
                {{somaAbatimentos(indexC, indexP) | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator:
                ','})}}
                <button :class="[
                'btn btn-xs pull-right btn-flat', 
                {
                  'btn-primary': !novoAbatimento(parcela), 
                  'btn-danger': novoAbatimento(parcela),
                  'btn-success': parcela.status == 'P'
                }]"
                        data-toggle="modal" :data-target="'#abatimento' + parcela.id">
                  <i class="fa fa-gear"></i>
                </button>
                <modal-abatimento :parcela="parcela" :index-c="indexC" :index-p="indexP"></modal-abatimento>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div v-if="loading" class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div>
</template>

<script>
  import ModalAbatimento from './ModalAbatimento';
  import ModalVendaDetalhes from './ModalVendaDetalhes';
  import Helpers from '../../../helpers/helpers';
  import {createNamespacedHelpers} from 'vuex';

  const {mapState, mapGetters, mapMutations, mapActions} = createNamespacedHelpers('CrediarioRecebimento');

  export default {
    components: {ModalAbatimento, ModalVendaDetalhes},
    computed: {
      ...mapState(['loading', 'crediarios', 'percentual_multa', 'percentual_juros_dia']),
      ...mapGetters(['somaAbatimentos', 'totalParcela', 'novoAbatimento'])
    },


    methods: {
      ...mapMutations(['DESCONTO', 'REMOVE_PARCELAS_A_PAGAR']),
      ...mapActions(['calculaMulta', 'calculaJuros', 'addParcelasPagar']),

      onSelect(event, parcela) {
        if (event.target.checked) {
          if (parcela.transacoes.length) {
            if (this.novoAbatimento(parcela)) {
              this.addParcelasPagar(parcela);
            } else {
              Helpers.msgWarning('Você deve definir um novo abatimento antes de selecionar a parcela', 'Definir novo abatimento');
              event.target.checked = false;
            }
          } else {
            this.addParcelasPagar(parcela);
          }
        } else {
          this.REMOVE_PARCELAS_A_PAGAR(parcela);
        }
      },

      multa(payload) {
        this.calculaMulta(payload);
      },

      juros(payload) {
        this.calculaJuros(payload);
      },

      desconto(event, indexC, indexP) {
        this.DESCONTO({indexC, indexP, value: event.target.value});
      },

      vencido(parcela) {
        let hoje = moment();
        let vencimento = moment(parcela.vencimento);
        let dias = hoje.diff(vencimento, 'days');

        return dias > 0;
      }
    }
  }
</script>