<template>
  <div class="modal fade" :id="'abatimento' + parcela.id" tabindex="-1" role="dialog"
       :aria-labelledby="'abatimentoLabel' + parcela.id">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Abatimento
            <small>pagamento parcial da parcela</small>
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-xs-12">
              <label>Observação</label>
              <input type="text" v-model="form.observacao" class="form-control">
            </div>
            <div class="form-group col-xs-12 col-md-6">
              <label>Valor</label>
              <div class="input-group">
                <input type="number" v-model="form.valor" step="0.01" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" @click="add" type="button"
                          :disabled="valorRestante(indexC, indexP) <= 0 || novoAbatimento(parcela)">
                    Adicionar
                  </button>
                </span>
              </div>
              <span v-if="maxAbatimento.status" class="text-danger small">{{maxAbatimento.msg}}</span>
            </div>
            <p class="col-xs-12">
              <strong>Valor Restante:</strong> {{valorRestante(indexC, indexP) | currency('R$', 2, {thousandsSeparator:
              '.', decimalSeparator: ','})}}
            </p>
          </div>

          <div class="row" v-if="parcela.transacoes.length">
            <div class="col-xs-12">
              <hr>
              <h4>Abatimentos registrados</h4>
              <table class="table table-middle table-hover table-condensed">
                <thead>
                <tr>
                  <th>Data</th>
                  <th>Observação</th>
                  <th>valor</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(transacao, index) in parcela.transacoes" :key="index">
                  <td>{{transacao.caixa ? transacao.caixa.created_at : hoje | formatDate}}</td>
                  <td>{{transacao.pivot.observacao}}</td>
                  <td>{{transacao.pivot.valor | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}
                  </td>
                  <td>
                    <btn type="danger" class="btn-xs btn-flat" v-if="!transacao.pivot.transacao_id"
                         @click="remove(index)">
                      <i class="fa fa-remove"></i>
                    </btn>
                  </td>
                </tr>
                <tr>
                  <th colspan="2" class="text-right">Total:</th>
                  <th colspan="2">{{somaAbatimentos(indexC, indexP) | currency('R$', 2, {thousandsSeparator: '.',
                    decimalSeparator: ','})}}
                  </th>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Finalizar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapGetters, mapMutations} = createNamespacedHelpers('CrediarioRecebimento');

  export default {
    props: ['parcela', 'indexC', 'indexP'],
    data() {
      return {
        form: {
          observacao: '',
          valor: 0,
          abatimento: true
        },
        maxAbatimento: {
          status: false,
          msg: 'O valor não pode ser ZERO ou maior que o valor restante.'
        },
        hoje: moment().format('YYYY-MM-DD')
      }
    },

    computed: {
      ...mapGetters(['somaAbatimentos', 'valorRestante', 'novoAbatimento']),
    },

    methods: {
      ...mapMutations(['ADD_ABATIMENTO', 'REMOVE_ABATIMENTO']),
      add() {
        if (+this.form.valor <= +this.valorRestante(this.indexC, this.indexP) && +this.form.valor > 0) {
          this.ADD_ABATIMENTO({
            indexC: this.indexC,
            indexP: this.indexP,
            form: {...this.form}
          });
          this.resetForm();
        } else {
          this.maxAbatimento.status = true;
        }
      },

      remove(index) {
        this.REMOVE_ABATIMENTO({
          indexC: this.indexC,
          indexP: this.indexP,
          index: index
        })
      },

      resetForm() {
        this.form = {
          observacao: '',
          valor: 0,
          abatimento: true
        };
        this.maxAbatimento.status = false;
      }
    }

  }
</script>