<template>
  <div class="modal fade" :id="'venda' + dataId" tabindex="-1" role="dialog" :aria-labelledby="'vendaLabel' + dataId">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Detalhes da venda</h4>
        </div>
        <div class="modal-body">
          
          
          
          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['dataId', 'venda'],
    
    methods: {
      
    }
  }
</script>