<template>
  <div>
    <div class="row">
      <div class="col-xs-12">
        <h3><i class="fa fa-money"></i> Opções de pagamento</h3>
      </div>
    </div>
    <div class="row" v-if="pagamentoRestante != 0">
      <div class="form-group form-group-sm col-xs-6">
        <label>Tipo Pagamento</label>
        <select :value="pagamento.tipo_pagamento_id" @change="changePagamentoTipo($event.target.value)"
                class="form-control">
          <option
            v-for="tp in tipoPagamentos"
            :key="tp.id"
            :value="tp.id"
            :selected="pagamento.tipo_pagamento_id == tp.id"
            :disabled="tp.id != 1 && tp.id != 3 && tp.id != 4">
            {{tp.descricao}}
          </option>
        </select>
      </div>
      <div class="form-group form-group-sm col-xs-6">
        <label>Valor R$</label>
        <input :value="pagamento.valor" @keyup="changePagamentoValor($event.target.value)" type="number"
               class="form-control"/>
      </div>
    </div>
    <div class="row" v-if="pagamentoRestante != 0">
      <div v-if="pagamento.tipo_pagamento_id == '3' || pagamento.tipo_pagamento_id == '4'"
           class="form-group form-group-sm col-xs-6">
        <label>Bandeira do cartão</label>
        <select :value="pagamento.bandeira_id" class="form-control" @change="changeCartaoBandeira($event.target.value)">
          <option value="">Selecione...</option>
          <option v-for="bandeira in bandeiras" :value="bandeira.id" :key="bandeira.id">{{bandeira.descricao}}</option>
        </select>
      </div>
      <div v-if="pagamento.tipo_pagamento_id == '3' || pagamento.tipo_pagamento_id == '4'"
           class="form-group form-group-sm col-xs-6">
        <label>Protocolo</label>
        <input :value="pagamento.protocolo" @keyup="changePagamentoProtocolo($event.target.value)" type="text"
               class="form-control"/>
      </div>
      <div class="col-xs-6">
        <br v-if="pagamento.tipo_pagamento_id == '2'">
        <button class="btn btn-success btn-sm btn-flat"
                @click="addPagamento"
                :disabled="disabledBtnAddPagamento">
          <i class="fa fa-plus"></i> Add Opção pagamento
        </button>
      </div>
    </div>
    <div class="row" v-if="parcela_pagamentos.length">
      <div class="col-xs-12">
        <br>
        <table class="table table-middle">
          <thead>
          <tr>
            <th>Tipo</th>
            <th>valor</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, index) in parcela_pagamentos" :key="index">
            <td>
              {{tipoPagamentoDescricao(item.tipo_pagamento_id)}}
              <span v-if="item.tipo_pagamento_id == '3' || item.tipo_pagamento_id == '4'">{{cartaoDescricao(item.bandeira_id)}}</span>
            </td>
            <td>{{item.valor | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
            <td class="btn-actions">
              <button class="btn btn-danger btn-xs btn-flat" @click="removePagamento(index)"><i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapState, mapGetters, mapMutations, mapActions} = createNamespacedHelpers('CrediarioRecebimento');

  export default {
    computed: {
      ...mapState(['pagamento', 'tipoPagamentos', 'bandeiras', 'parcela_pagamentos']),
      ...mapGetters(['pagamentoRestante', 'disabledBtnAddPagamento'])
    },

    methods: {
      ...mapMutations(['PAGAMENTO', 'ADD_PAGAMENTOS']),
      ...mapActions(['removePagamento', 'addPagamento']),

      changePagamentoTipo(value) {
        this.PAGAMENTO({...this.pagamento, tipo_pagamento_id: value});
      },
      changePagamentoValor: window._.debounce(function (value) {
        this.PAGAMENTO({...this.pagamento, valor: value});
      }, 500),
      changeCartaoBandeira(value) {
        this.PAGAMENTO({...this.pagamento, bandeira_id: value});
      },
      changePagamentoProtocolo: window._.debounce(function (value) {
        this.PAGAMENTO({...this.pagamento, protocolo: value});
      }, 500),

      tipoPagamentoDescricao(tipo_pagamento_id) {
        const tp = this.tipoPagamentos.find(e => {
          return e.id == tipo_pagamento_id;
        });

        return tp.descricao;
      },

      cartaoDescricao(bandeira_id) {
        const bandeira = this.bandeiras.find(e => {
          return e.id == bandeira_id;
        });
        return ` - ${bandeira.descricao}`;
      },
    }

  }
</script>