<template>
  <div>
    <h3><i class="fa fa-check"></i> Parcelas selecionadas</h3>
    <table class="table table-middle table-condensed table-striped">
      <thead>
      <tr>
        <th>Crediário</th>
        <th class="text-center">Parcela</th>
        <th class="text-center">Abatimento</th>
        <th class="text-right">A pagar</th>
      </tr>
      </thead>
      <tbody>
      <tr v-if="parcelas_a_pagar.length == 0" class="info">
        <td colspan="4" class="text-center">Nenhuma parcela selecionada</td>
      </tr>
      <tr v-for="(parcela, index) in parcelas_a_pagar">
        <td>{{parcela.crediario_id}}</td>
        <td class="text-center">{{parcela.sequencia}}</td>
        <td class="text-center">{{parcela.transacoes.length ? 'Sim' : 'Não'}}</td>
        <td class="text-right">{{totalParcelaPagar(parcela) | currency('R$', 2, {thousandsSeparator: '.',
          decimalSeparator: ','})}}
        </td>
      </tr>
      <tr v-if="parcelas_a_pagar.length">
        <th colspan="3" class="text-right">Total:</th>
        <td class="text-right"><h4>{{totalPagar | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator:
          ','})}}</h4></td>
      </tr>
      <tr v-if="parcelas_a_pagar.length">
        <th colspan="3" class="text-right">Registrado:</th>
        <td class="text-right text-green"><h4>{{pagamentoRegistrado | currency('R$', 2, {thousandsSeparator: '.',
          decimalSeparator:
          ','})}}</h4></td>
      </tr>
      <tr v-if="pagamentoRestante != 0">
        <th colspan="3" class="text-right">Restante:</th>
        <td class="text-right text-danger"><h4>{{pagamentoRestante | currency('R$', 2, {thousandsSeparator: '.',
          decimalSeparator:
          ','})}}</h4></td>
      </tr>
      </tbody>
    </table>
    <button type="button" @click="finalizarRecebimento" class="btn btn-primary btn-flat pull-right"
            :disabled="parcelas_a_pagar.length == 0 || pagamentoRestante != 0 || loading">
      <i :class="['fa', {'fa-refresh': loading, 'fa-spin': loading, 'fa-save': !loading}]"></i>
      Salvar recebimento
    </button>
  </div>
</template>

<script>

  import {createNamespacedHelpers} from 'vuex';

  const {mapState, mapGetters, mapMutations, mapActions} = createNamespacedHelpers('CrediarioRecebimento');

  export default {
    computed: {
      ...mapState(['loading', 'parcelas_a_pagar']),
      ...mapGetters(['totalParcelaPagar', 'totalPagar', 'pagamentoRegistrado', 'pagamentoRestante'])
    },

    methods: {
      ...mapMutations([]),
      ...mapActions(['finalizarRecebimento'])
    }

  }
</script>