<template>
  <div class="modal fade" :id="modalId" tabindex="-1" role="dialog" :aria-labelledby="modalId+'Label'" ref="baseModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" :id="modalId+'Label'">Lista de cheques à compensar ou descontar</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-xs-6 col-md-4">
              <label>Data Inicial</label>
              <input type="date" v-model="form.start" class="form-control">
            </div>
            <div class="col-xs-6 col-md-4">
              <label>Data Final</label>
              <div class="input-group">
                <input type="date" v-model="form.end" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-flat" @click="getPredatados(true)"><i
                    class="fa fa-search"></i></button>
                </span>
              </div>
            </div>
          </div>

          <p v-if="loading" class="text-center"><i class="fa fa-refresh fa-5x fa-spin"></i></p>
          <p v-if="predatados.length === 0" class="text-center text-info">Nada encontrado no período selecionado</p>

          <div v-if="!loading" v-for="predatado in predatados">
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Cliente:</strong> {{predatado.transacao.venda.pessoa_cliente.nome}}
              </div>
              <div class="panel-body">
                <strong>Contatos:</strong>
                <span v-for="contato in predatado.transacao.venda.pessoa_cliente.contatos">{{contato.numero}}; </span>
                <br>
                <strong>Observação:</strong> {{predatado.observacao}}
                <br>
              </div>
              <table class="table table-middle table-hover table-condensed">
                <thead>
                <tr>
                  <th>Vencimento</th>
                  <th>Número</th>
                  <th>Banco</th>
                  <th>Agência</th>
                  <th>Conta</th>
                  <th>Valor</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="cheque in cheques(predatado)">
                  <td>{{cheque.vencimento | formatDate}}</td>
                  <td>{{cheque.numero}}</td>
                  <td>{{cheque.banco}}</td>
                  <td>{{cheque.agencia}}</td>
                  <td>{{cheque.conta}}</td>
                  <td>{{cheque.valor | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
                  <td class="btn-actions">
                    <btn type="primary" class="btn-flat btn-xs" @click="openModalAction(predatado, cheque)">
                      Dar baixa
                    </btn>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <br>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">
            <i class="fa fa-ban"></i> Cancelar / Fechar
          </button>
        </div>

        <modal-cheques-action
          :open-modal="modalAction"
          @close-modal="closeModalAction"
          :predatado="predatado"
          :cheque="cheque"
          @has-save-success="saveSuccess">
        </modal-cheques-action>

      </div>
    </div>
  </div>
</template>

<script>
  import Helpers from './../../../helpers/helpers';
  import ModalChequesAction from './ModalChequesAction';

  export default {
    components: {ModalChequesAction},
    props: ['modalId'],
    comments: {ModalChequesAction},
    data() {
      return {
        loading: true,
        hasSave: false,
        modalAction: false,
        form: {
          start: moment().add(-15, 'days').format('YYYY-MM-DD'),
          end: moment().add(3, 'months').format('YYYY-MM-DD')
        },
        predatado: {},
        cheque: {},
        predatados: []
      }
    },

    mounted() {
      this.getPredatados();
      $(`#${this.modalId}`).on('hide.bs.modal', function (e) {
        if (this.hasSave) {
          window.location = '/caixa';
        }
      });
    },

    methods: {
      getPredatados(loading = false) {
        loading ? this.loading = true : null;
        axios.get('/caixa/cheques', {
          params: {
            start: this.form.start,
            end: this.form.end
          }
        })
          .then(resp => {
            this.predatados = resp.data.predatados;
            this.form = resp.data.form;
            this.loading = false;
          })
          .catch(error => {
            this.loading = false;
            console.log(error);
            Helpers.msgErrorDefault();
          })
      },

      cheques(predatado) {
        return predatado.cheques.filter(cheque => {
          return cheque.status === 0;
        });
      },

      openModalAction(predatado, cheque) {
        this.modalAction = true;
        this.predatado = predatado;
        this.cheque = cheque;
      },

      closeModalAction() {
        this.modalAction = false;
        this.predatado = {};
        this.cheque = {};
      },

      saveSuccess() {
        this.closeModalAction();
        Helpers.msgEdit();
        this.getPredatados(true);
        this.hasSave = true;
      }
    }
  }
</script>