<template>
  <modal :value="openModal" title="Deseja dar baixa neste cheque?" append-to-body ref="baseModal">
    <p>
      <strong>Cliente:</strong> {{predatado.transacao ? predatado.transacao.venda.pessoa_cliente.nome : ''}} <br>
      <strong>Observação:</strong> {{predatado.observacao}}
    </p>
    <table class="table table-middle table-hover table-condensed">
      <thead>
      <tr>
        <th>Vencimento</th>
        <th>Número</th>
        <th>Banco</th>
        <th>Agência</th>
        <th>Conta</th>
        <th>Valor</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{cheque.vencimento | formatDate}}</td>
        <td>{{cheque.numero}}</td>
        <td>{{cheque.banco}}</td>
        <td>{{cheque.agencia}}</td>
        <td>{{cheque.conta}}</td>
        <td>{{cheque.valor | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="form-group col-xs-12 col-md-6">
        <label>Escolha o tipo de compensação</label>
        <select v-model="form.tipo_compensacao" class="form-control">
          <option value="">Selecione...</option>
          <option value="D">Depósito em conta</option>
          <option value="S">Saque com entrada em caixa</option>
        </select>
      </div>
    </div>
    
    <div slot="footer">
      <btn @click="closeModal" class="btn-flat"><i class="fa fa-ban"></i> Cancelar</btn>
      <btn type="primary" class="btn-flat" @click="onSave" :disabled="form.tipo_compensacao == '' || loading">
        <i v-if="loading" class="fa fa-refresh fa-spin"></i><i v-else class="fa fa-save"></i> Salvar
      </btn>
    </div>
  </modal>
</template>

<script>
  import Helpers from './../../../helpers/helpers';

  export default {
    props: ['openModal', 'predatado', 'cheque'],

    data() {
      return {
        loading: false,
        form: {
          tipo_compensacao: ''
        }
      }
    },

    methods: {
      closeModal() {
        this.$emit('close-modal');
      },

      onSave() {
        this.loading = true;
        axios.put(`/caixa/cheques/${this.cheque.id}`, this.form)
          .then(resp => {
            this.$emit('has-save-success');
            this.form.tipo_compensacao = '';
            this.loading = false;
          })
          .catch(error => {
            Helpers.msgErrorDefault();
            this.loading = false;
            console.log(error.response);
          })
      }
    }
  }
</script>