<template>
  <vue-box id="box-list" title="Notas emitidas" :loading="loading">
    <template slot="body">
      <vue-data-table p-id="emitidas" p-class="table-hover table-middle" :source="notas" :per-page="configs.perPage">
        <template>
          <thead>
          <tr>
            <th>Número</th>
            <th>Emissão</th>
            <th>Tipo Nota</th>
            <th>Transferido de</th>
            <th>Transferido para</th>
            <th>Valor</th>
            <th class="text-center">Status</th>
            <th class="text-right">
              <a :href="'/estoque/notas-transferencia/create'" class="btn btn-flat btn-primary btn-sm">
                <i class="fa fa-plus"></i> Nova transferência
              </a>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in notas.data" :key="item.id">
            <td>{{item.numero}}</td>
            <td>{{item.data_emissao | formatDate}}</td>
            <td>
              <span v-if="item.movimento_tipo_id == 1"><i class="fa fa-sign-out text-danger"></i> Saída</span>
              <span v-else><i class="fa fa-sign-in text-success"></i> Entrada</span>
            </td>
            <td>{{item.loja_emissor.razao_social}}</td>
            <td>{{item.pessoa_destinatario.juridica.razao_social}}</td>
            <td>{{item.valor_total_nota}}</td>
            <td class="text-center">
              <i :class="['fa fa-circle', {'text-success': item.status == 100, 
              'text-danger': item.status == 302, 'text-warning': item.status != 100 && item.status != 302}]"></i>
            </td>
            <td class="btn-actions">
              <a :href="'/estoque/notas-transferencia/' + item.id" target="_blank">
                <i class="fa fa-file-pdf-o text-red"></i> Ver / Imprimir
              </a>
            </td>
          </tr>
          </tbody>
        </template>
      </vue-data-table>
    </template>
  </vue-box>
</template>

<script>
  import Helpers from '../../../helpers/helpers';

  export default {

    data() {
      return {
        loading: false,
        configs: {
          orderBy: '',
          order: 1,
          perPage: 5,
          search: '',
        },
        notas: {}
      }
    },

    mounted() {
      this.$bus.$on("data-table-emitidas", obj => {
        if (obj.page) {
          this.getNotas(obj.page);
        }
        if (obj.perPage) {
          this.configs = {...this.configs, perPage: obj.perPage};
          this.getNotas();
        }
        if (obj.search != null) {
          this.configs = {...this.configs, search: obj.search};
          this.getNotas();
        }
      });
    },

    methods: {
      getNotas(page = 1) {
        this.loading = true;
        let url = `/estoque/notas-transferencia?per_page=${this.configs.perPage}&page=${page}`;
        if (this.configs.search !== '') {
          url = `/estoque/notas-transferencia?per_page=${this.configs.perPage}&page=${page}&search=${this.configs.search}`;
        }

        window.axios.get(url)
          .then(resp => {
            this.notas = resp.data;
            this.loading = false;
          })
          .catch(error => {
            Helpers.msgErrorDefault();
            this.loading = false;
          })
      },
    }
  };
</script>