<template>
  <vue-box id="box-list" title="Transferência de mercadoria entre Lojas/Depósitos" :loading="loading">
    <template slot="body">
      <tabs pills>
        <tab title="<i class='fa fa-info-circle'></i> Informações Gerais" html-title>
          <br>
          <geral></geral>
        </tab>
        <tab title="<i class='fa fa-list'></i> Produtos da nota" html-title>
          <br>
          <!--<produtos></produtos>-->
        </tab>
      </tabs>
    </template>
    <template slot="footer">
      <a href="/estoque/notas-transferencia" class="btn btn-default btn-flat pull-left">
        <i class="fa fa-ban"></i> Cancelar / Voltar
      </a>
      <button v-if="action == 'nova'" class="btn btn-primary btn-flat pull-right" @click="gerarNovaNota"
              :disabled="disableBtnSave">
        <i class="fa fa-save"></i> Gerar Nota
      </button>
      <button v-else class="btn btn-warning btn-flat pull-right" @click="reenviarConsultarAutorizacao"
              :disabled="disableBtnSave">
        <i class="fa fa-save"></i> Reenviar / Consultar autorização
      </button>
    </template>
  </vue-box>
</template>

<script>
  import Geral from './Geral';
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapGetters, mapMutations, mapActions} = createNamespacedHelpers("NotasTransferencia");

  export default {
    components: {Geral},
    props: ['dataNota'],

    mounted() {
      this.startForm().then(() => {
        if (this.dataNota) {
          this.CARGA(JSON.parse(this.dataNota).carga);
          this.NOTA(JSON.parse(this.dataNota));
          if (this.nota.lote_nfe_id) {
            this.ACTION('consulta');
          } else {
            this.ACTION('reenviar');
          }
        } else {
          this.ACTION('nova');
        }
      });
    },

    computed: {
      ...mapState(['loading', 'action']),
      ...mapGetters(['disableBtnSave'])
    },

    methods: {
      ...mapActions(['startForm', 'gerarNovaNota', 'reenviarConsultarAutorizacao']),
      ...mapMutations(['ACTION', 'NOTA', 'CARGA']),
    }
  }
</script>

