<template>
  <vue-box title="Lista de vendas a pagar" :collapse="false" :loading="loading">
    <template slot="body">
      <div class="table-responsive">
        <table class="table table-striped table-middle">
          <thead>
          <tr>
            <th class="text-center">Código</th>
            <th>Tipo venda</th>
            <th>Vendedor</th>
            <th>Cliente</th>
            <th class="text-center">Qtd Produtos</th>
            <th>Total</th>
            <th class="text-right">Ações</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="!vendas.length">
            <td colspan="7" class="bg-info text-center">Nenhuma pré-venda aguardando pagamento.</td>
          </tr>
          <tr v-for="venda in vendas">
            <td class="text-center">{{venda.id}}</td>
            <td>{{venda.tipo_venda.descricao}}</td>
            <td>{{venda.pessoa_vendedor.nome}}</td>
            <td :class="{'bg-red': !venda.pessoa_cliente}">
              {{venda.pessoa_cliente ? venda.pessoa_cliente.nome : 'Falta dados do cliente'}}
            </td>
            <td class="text-center">{{qtdProdutos(venda)}}</td>
            <td>{{total(venda) | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
            <td class="btn-actions">
              <a :href="'/caixa/vendas/' + venda.id" v-if="venda.pessoa_cliente" 
                 data-toggle="tooltip" data-placement="left" title="Receber">
                <i class="fa fa-money fa-2x text-green"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </template>
  </vue-box>
</template>

<script>

  export default {
    data() {
      return {
        vendas: [],
        loading: false
      }
    },

    mounted() {
      this.getVendas();
    },

    methods: {
      getVendas() {
        this.loading = true;
        window.axios.get('/caixa/vendas')
          .then(resp => {
            this.loading = false;
            this.vendas = resp.data;
          })
          .catch(error => this.loading = false)
      },

      qtdProdutos(venda) {
        let soma = 0;
        venda.produto_vendas.forEach(el => {
          soma += +el.quantidade;
        });
        return soma;
      },

      total(venda) {
        let soma = 0, valor = 0, desconto = 0;
        venda.produto_vendas.forEach(el => {
          valor = el.valor_unitario * el.quantidade;
          desconto = valor * el.desconto / 100;
          soma += valor - desconto;
        });
        return parseFloat(soma).toFixed(2);
      }
    }
  }
</script>