<template>
  <div>
    <div v-if="cliente" class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-middle">
          <tbody>
          <tr>
            <th class="text-right" style="width: 130px;">Nome:</th>
            <td colspan="3">{{cliente.nome}}</td>
          </tr>
          <tr v-if="cliente.tipo_pessoa_id == 2">
            <th class="text-right">Razão Social:</th>
            <td colspan="3">{{cliente.juridica.razao_social}}</td>
          </tr>
          <tr>
            <th class="text-right">CPF/CNPJ:</th>
            <td colspan="3" v-if="cliente.tipo_pessoa_id == 2">{{cliente.juridica.cnpj}}</td>
            <td v-if="cliente.tipo_pessoa_id == 1">{{cliente.fisica.cpf}}</td>
            <th v-if="cliente.tipo_pessoa_id == 1" class="text-right">RG:</th>
            <td v-if="cliente.tipo_pessoa_id == 1">{{cliente.fisica.identidade}}</td>
          </tr>
          <tr v-if="cliente.tipo_pessoa_id == 1">
            <th class="text-right">Sexo:</th>
            <td>{{cliente.fisica.sexo == 'M' ? 'Masculino' : 'Feminino'}}</td>
            <th class="text-right">Nascimento:</th>
            <td>{{cliente.fisica.nascimento | formatDate}}</td>
          </tr>
          <tr v-if="cliente.tipo_pessoa_id == 1">
            <th class="text-right">Estado Civil:</th>
            <td>{{cliente.fisica.estado_civil == 'C' ? 'Casado' : cliente.fisica.estado_civil == 'S' ? 'Solteiro' :
              ''}}
            </td>
            <th class="text-right">Renda:</th>
            <td>{{cliente.fisica.renda_mensal | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}
            </td>
          </tr>
          <tr>
            <th class="text-right">Endereço entrega:</th>
            <td colspan="3"><span v-html="enderecoEntrega"></span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapGetters} = createNamespacedHelpers('VendasRecebimento');

  export default {
    computed: {
      ...mapGetters(['cliente', 'enderecoEntrega'])
    }
  }
</script>