<template>
  <div>
    <div class="table-responsive">
      <table class="table table-middle table-hover table-bordered">
        <thead class="bg-gray">
        <tr>
          <th>Imagem<br>Produto</th>
          <th>Descrição</th>
          <th class="text-center">Produtos<br>Combinados</th>
          <th class="text-center">Preço<br>unitário</th>
          <th class="text-center">Quantidade</th>
          <th class="text-center">Desconto %</th>
          <th>A pagar</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in itensCarrinho.combinados">
          <td><img :src="item.imagem" alt="No Image" height="60"></td>
          <td>{{item.descricao}}</td>
          <td class="text-center"><i class="fa fa-cubes"></i> Sim</td>
          <td>{{item.valor_unitario | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
          <td class="text-center">{{item.quantidade}}</td>
          <td class="text-center">{{item.desconto}}</td>
          <td>{{item.total | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
        </tr>
        <tr v-for="(item, index) in itensCarrinho.produtos">
          <td><img :src="item.imagem" alt="No Image" height="60"></td>
          <td>{{item.descricao}}</td>
          <td class="text-center"><i class="fa fa-cube"></i> Não</td>
          <td>{{item.valor_unitario | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
          <td class="text-center">{{item.quantidade}}</td>
          <td class="text-center">{{item.desconto}}</td>
          <td>{{item.total | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
        </tr>
        <tr>
          <td colspan="7">
            <h3 class="text-right h3">
              Total: <span class="text-green">{{total | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</span>
            </h3>
          </td>
        </tr>
        </tbody>
      </table>
    </div>    
  </div>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapGetters} = createNamespacedHelpers('VendasRecebimento');

  export default {

    computed: {
      ...mapGetters(['total', 'itensCarrinho'])
    },
  }
</script>