<template>
  <vue-box v-if="venda.pessoa_vendedor" :title="'Vendedor: ' + venda.pessoa_vendedor.nome" :collapse="false"
           :loading="loading">
    <template slot="body">
      <div class="row">
        <p v-if="venda.observacao != null" class="col-xs-12">
          <b>Observações da Venda:</b> {{venda.observacao}}
        </p>
        <h4 class="col-xs-12"><i class="fa fa-shopping-cart fa-lg"></i> Produtos no Carrinho</h4>
        <div class="col-xs-12">
          <carrinho></carrinho>
        </div>
      </div>
      <div class="row">
        <h4 class="col-xs-12"><i class="fa fa-money fa-lg"></i> Formas de Pagamento</h4>
        <div class="col-xs-12">
          <pagamento></pagamento>
        </div>
      </div>
      <div class="row">
        <h4 class="col-xs-12"><i class="fa fa-user fa-lg"></i> Dados do Cliente</h4>
        <br><br><br>
        <cliente></cliente>
      </div>
    </template>
    <template slot="footer">
      <a href="/caixa" class="btn btn-default btn-flat">
        <i class="fa fa-ban"></i> Cancelar procedimento
      </a>
      <btn type="primary" class="btn-flat pull-right" @click="salvar" :disabled="finalizarRecebimento">
        <i class="fa fa-save"></i> Finalizar recebimento
      </btn>
    </template>
  </vue-box>
</template>

<script>
  import Carrinho from './VendasCarrinho';
  import Pagamento from './VendasOpcoesPagamento';
  import Cliente from './VendasDadosCliente';
  import {createNamespacedHelpers} from 'vuex';

  const {mapState, mapGetters, mapActions} = createNamespacedHelpers('VendasRecebimento');

  export default {
    components: {Carrinho, Pagamento, Cliente},
    props: ['dataVenda', 'caixaId'],

    mounted() {
      this.start({
        venda: JSON.parse(this.dataVenda),
        caixa_id: parseInt(this.caixaId)
      });
    },

    computed: {
      ...mapState(['venda', 'loading']),
      ...mapGetters(['finalizarRecebimento'])
    },

    methods: {
      ...mapActions(['start', 'salvar'])
    }
  }
</script>
