<template>
  <div class="row">
    <div class="table-responsive">
      <div class="col-xs-12">
        <table class="table table-middle table-hover table-bordered">
          <thead class="bg-gray">
          <tr>
            <th>Tipo</th>
            <th>Condições</th>
            <th>Subtotal</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(vp, index) in venda.venda_pagamentos" :key="index">
            <td style="max-width:260px;">
              {{vp.tipo_pagamento.descricao}}
              <span v-if="vp.tipo_pagamento_id == '3' || vp.tipo_pagamento_id == '4'"> - {{vp.bandeira.descricao}}</span>
              <span v-if="vp.tipo_pagamento_id == '6'"> - {{vp.financeira.nome}} - {{vp.financeira.banco_credito}}</span>
              <span v-if="vp.tipo_pagamento_id == '5'"> - 1ª parcela dia {{vp.vencimento | formatDate}} <br>
                <a v-if="vp.tipo_pagamento_id == '5'"
                   :href="'/caixa/carne/' + venda.id + '?observacao=' + vp.observacao" target="_blank"
                   class="btn btn-primary btn-outline-primary btn-flat">
                  <i class="fa fa-cog"></i> Gerar Carnê
                </a>
              </span>
              <!--<span v-if="vp.tipo_pagamento_id == '5'"> - vencimentos dia {{vp.vencimento | formatDate}}</span>-->
              <div v-if="vp.tipo_pagamento_id == '2'" class="row">
                <div class="form-group form-group-sm col-xs-5">
                  <label class="small">Banco</label>
                  <input type="text" @keyup="CHEQUES_BANCO({value: $event.target.value, index: index})" class="form-control">
                </div>
                <div class="form-group form-group-sm col-xs-3">
                  <label class="small">Agência</label>
                  <input type="text" @keyup="CHEQUES_AGENCIA({value: $event.target.value, index: index})" class="form-control">
                </div>
                <div class="form-group form-group-sm col-xs-4">
                  <label class="small">Conta</label>
                  <input type="text" @keyup="CHEQUES_CONTA({value: $event.target.value, index: index})" class="form-control">
                </div>
                <div class="row">
                  <div class="col-xs-12" v-for="(cheque, indexC) in vp.cheques">
                    <p class="col-xs-12 text-bold">{{indexC+1}}º cheque</p>
                    <div class="form-group form-group-sm col-xs-4">
                      <label class="small">Número</label>
                      <input type="text" @keyup="CHEQUE_NUMERO({value: $event.target.value, index: index, indexC: indexC})" class="form-control">
                    </div>
                    <div class="form-group form-group-sm col-xs-4">
                      <label class="small">Valor</label>
                      <input type="number" step="0.01" :value="cheque.valor" class="form-control" disabled>
                    </div>
                    <div class="form-group form-group-sm col-xs-4">
                      <label class="small">Vencimento</label>
                      <input type="date" :value="cheque.vencimento" class="form-control" disabled>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
                <span v-if="vp.tipo_pagamento_id != '1'">
                  {{vp.parcelas}} x {{vp.valor_parcelas | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}
                </span>
            </td>
            <td>{{vp.valor | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
            <td>
              <div class="row">
                <div v-if="vp.tipo_pagamento_id == '3' || vp.tipo_pagamento_id == '4' || vp.tipo_pagamento_id == '6'"
                     class="form-group form-group-sm col-xs-12 col-md-6">
                  <label>
                    <small>Protocolo</small>
                  </label>
                  <input type="text" @keyup="PROTOCOLO({value: $event.target.value, index: index})"
                         :value="vp.protocolo" class="form-control input-group-sm">
                </div>
                <div v-if="vp.tipo_pagamento_id == '6'"
                     class="form-group form-group-sm col-xs-12 col-md-6">
                  <label>
                    <small>Contrato</small>
                  </label>
                  <input type="text" @keyup="CONTRATO({value: $event.target.value, index: index})"
                         :value="vp.contrato" class="form-control input-group-sm">
                </div>
                <div v-if="vp.tipo_pagamento_id == '1' || vp.tipo_pagamento_id == '2' || vp.tipo_pagamento_id == '5'"
                     class="form-group form-group-sm col-xs-12">
                  <label>
                    <small>Observação</small>
                  </label>
                  <input type="text" @keyup="OBSERVACAO({value: $event.target.value, index: index})"
                         :value="vp.observacao" class="form-control input-group-sm">
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import {createNamespacedHelpers} from 'vuex';

  const {mapState, mapMutations} = createNamespacedHelpers('VendasRecebimento');

  export default {
    computed: {
      ...mapState(['venda'])
    },

    methods: {
      ...mapMutations([
        'OBSERVACAO', 'PROTOCOLO', 'CONTRATO', 'CHEQUES_BANCO', 'CHEQUES_AGENCIA', 'CHEQUES_CONTA', 'CHEQUE_NUMERO'
      ])
    }
  }
</script>