<template>
  <div class="modal fade" id="profile-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center">
            Meus dados
          </h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12 col-md-4 text-center">
              <img :src="user.gravatar" class="img-circle " alt="Gravatar"><br>
              <strong>{{user.grupo.nome}}</strong>
            </div>
            <div class="col-xs-12 col-md-8">
              <p>Para alterar sua foto vincule o email registrado aqui com sua
                <a href="https://br.gravatar.com/" target="_blank">conta Gravatar</a>. Se ainda não tem registro no
                <a href="https://br.gravatar.com/" target="_blank">Gravatar</a> não se preoculpe, o registro é grátis.
              </p>
            </div>
          </div>

          <hr/>

          <div class="row">
            <div :class="['form-group', 'col-xs-12', 'col-md-6', {'has-error': !!errors.apelido}]">
              <label>Apelido</label>
              <input type="text" class="form-control" v-model="user.apelido">
              <span v-if="!!errors.apelido" class="small text-danger">{{errors.apelido[0]}}</span>
            </div>
            <div :class="['form-group', 'col-xs-12', 'col-md-6', {'has-error': !!errors.email}]">
              <label>Email</label>
              <input type="email" class="form-control" v-model="user.email">
              <span v-if="!!errors.email" class="small text-danger">{{errors.email[0]}}</span>
            </div>
          </div>

          <div class="row">
            <div :class="['form-group', 'col-xs-12', 'col-md-6', {'has-error': !!errors.password}]">
              <label>Nova Senha</label>
              <input type="password" class="form-control" v-model="user.password">
              <span v-if="!!errors.password" class="small text-danger">{{errors.password[0]}}</span>
            </div>
            <div :class="['form-group', 'col-xs-12', 'col-md-6', {'has-error': !!errors.password}]">
              <label>Confirmar nova senha</label>
              <input type="password" class="form-control" v-model="user.password_confirmation">
            </div>
            <span class="col-xs-12 small">
              Preencha os campos <strong>Nova Senha</strong> e <strong>Confirmar nova senha</strong> apenas se
              você quiser mudar a senha atual.
            </span>
          </div>

          <hr/>

          <div class="row">
            <div :class="['form-group', 'col-xs-12', 'col-md-6', {'has-error': !!errors.senha_atual}]">
              <label>Senha Atual</label>
              <input type="password" class="form-control" v-model="user.senha_atual">
              <span v-if="!!errors.senha_atual" class="small text-danger">{{errors.senha_atual[0]}}</span>
            </div>
            <span class="col-xs-12 small">
              Você deve informar a senha atual para confirmar a operação.
            </span>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" @click="cancel" class="btn btn-default btn-flat pull-left" data-dismiss="modal">
            <i class="fa fa-ban"></i> Cancelar
          </button>
          <button type="button" class="btn btn-primary btn-flat" @click="onSubmit">
            <i class="fa fa-save"></i> Salvar
          </button>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import helpers from '../../helpers/helpers';

  export default {
    props: ['authUser', 'updateUrl'],
    data() {
      return {
        user: {... JSON.parse(this.authUser), password: null, password_confirmation: null, senha_atual: null},
        errors: {}
      }
    },
    methods: {
      onSubmit() {
        window.axios.put(this.updateUrl, this.user)
          .then(resp => window.location.reload())
          .catch(error => {
            this.errors = {};
            if (error.response.status === 422) {
              this.errors = error.response.data;
            }else{
              this.cancel();
              $('#profile-modal').modal('hide');
              helpers.msgErrorDefault();
            }
          });
      },
      cancel(){
        this.errors = {};
        this.user = {... JSON.parse(this.authUser), password: null, password_confirmation: null, senha_atual: null};
      }
    }
  }
</script>