<template>
  <div>
    <div class="row">
      <div class="col-xs-12">
        <vue-box id="box-list" title="" :loading="loading">
          <template slot="body">
            <div class="input-group col-xs-12 col-md-4">
              <input type="text" class="form-control" v-model="search" placeholder="Digite o número da nota fiscal">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" @click="onSearch">
                  <i class="fa fa-search"></i> Buscar
                </button>
              </span>
            </div>
            <hr>
            <table class="table table-hover table-middle col-xs-12">
              <thead>
              <tr>
                <th>Código na nota</th>
                <th>Produto</th>
                <th>Custo Atual</th>
                <th>Custo Médio</th>
                <th style="width: 160px">Frete R$</th>
                <th style="width: 160px">Despesas Extras R$</th>
                <th>Custo Total</th>
                <th style="width: 160px">Preço Venda R$</th>
                <th class="text-center" style="width: 100px">Margem Desconto %</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(item, index) in data.movimento_produtos">
                <td>{{item.produto.codigo_fabrica}}</td>
                <td>{{item.produto.id}} - {{item.produto.mercadoria.descricao}} - {{item.produto.marca.nome}} -
                  {{item.produto.descricao}}
                </td>
                <td>{{item.produto.custo.custo_atual | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator:
                  ','})}}
                </td>
                <td>{{item.produto.custo.custo_medio | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator:
                  ','})}}
                </td>
                <td>
                  <input type="number" class="form-control" v-model="form[index].frete" @change="custoTotal(index, item)">
                </td>
                <td>
                  <input type="number" class="form-control" v-model="form[index].despesa_extra" @change="custoTotal(index, item)">
                </td>
                <td>
                  {{ form[index].custo_total | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}
                </td>
                <td>
                  <input type="number" class="form-control" v-model="form[index].valor_atual">
                </td>
                <td class="text-center">
                  <input type="number" class="form-control" v-model="form[index].margem">
                </td>
              </tr>
              </tbody>
            </table>
          </template>
          <template slot="footer">
            <button class="btn btn-primary btn-flat pull-right" @click="onSave">
              <i class="fa fa-floppy-o"></i> Salvar
            </button>
          </template>
        </vue-box>

      </div>
    </div>
  </div>
</template>

<script>
  import Helper from '../../helpers/helpers';
  
  export default {

    data() {
      return {
        data: {},
        search: '',
        form: [],
        loading: false,
        render: false
      }
    },

    methods: {
      onSearch() {
        window.axios.post('/estoque/ajuste/search', {search: this.search})
          .then(resp => {
            this.prepareForm(resp.data);
            this.data = resp.data;
          })
          .catch(error => console.log(error.response))
      },
      prepareForm(data) {
        if (data.movimento_produtos.length) {
          data.movimento_produtos.forEach((item, index) => {
            this.form.push({
              nota_fiscal_id: data.id,
              movimento_produto_id: item.produto_id,
              frete: item.produto.ajuste ? item.produto.ajuste.frete : 0,
              despesa_extra: item.produto.ajuste ? item.produto.ajuste.despesa_extra : 0,
              valor_atual: item.produto.valor_atual == 0 ? item.produto.custo.custo_medio * 2 : item.produto.valor_atual,
              margem: item.produto.margem,
              custo_total: parseFloat(item.produto.custo.custo_atual + (item.produto.ajuste ? item.produto.ajuste.frete : 0) + (item.produto.ajuste ? item.produto.ajuste.despesa_extra : 0)).toFixed(2)
            });
          });
        }
        this.render = true;
      },
      onSave() {
        window.axios.post(`/estoque/ajuste`, this.form)
          .then(resp => Helper.msgEdit())
          .catch(error => {
            Helper.msgErrorDefault('Ocorreu um erro inesperado, informe ao administrador do sistema', error.response.status);
          })
      },
      custoTotal(index, item) {
        let custo = parseFloat(item.produto.custo.custo_atual),
          frete = parseFloat(this.form[index].frete),
          despesa = parseFloat(this.form[index].despesa_extra);
        
        this.form[index].custo_total = parseFloat((custo + frete + despesa).toFixed(2));        
      },
    }
  }
</script>