<template>
  <div class="col-xs-12">
    <div class="box" id="mercadorias-form">
      <div class="box-header with-border">
        <h3 v-if="action == 'add'" class="box-title"><i class="fa fa-plus"></i> Adicionar
        </h3>
        <h3 v-else-if="action == 'edit'" class="box-title">
          <i class="fa fa-pencil"></i> Editar dados
        </h3>
        <h3 v-else-if="action == 'remove'" class="box-title text-danger">
          <i class="fa fa-trash"></i> Deseja remover esses dados?
        </h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                  title="Collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div :class="['form-group', 'col-xs-12 col-lg-4',{'has-error': !!errors.categoria_id}]">
            <label>Categorias</label>
            <span class="pull-right">
              <a href="/estoque/categorias" target="_blank" class="btn btn-default btn-flat btn-xs"><i
                class="fa fa-plus"></i> Add</a>  
              <button class="btn btn-default btn-flat btn-xs" @click="getCategorias">
                <i class="fa fa-refresh"></i> Recarregar
              </button>
            </span>
            <select-2 v-model="item.categoria_id">
              <option disabled value="">Selecione...</option>
              <option v-for="categoria in categorias" :key="categoria.id" :value="categoria.id">
                {{categoria.descricao}} - {{categoria.numero_ncm}}
              </option>
            </select-2>
            <span v-if="!!errors.categoria_id" class="small text-danger">{{errors.categoria_id[0]}}</span>
          </div>

          <div :class="['form-group', 'col-xs-12 col-lg-8', {'has-error': !!errors.descricao}]">
            <label>Descrição</label>
            <input type="text" class="form-control" v-model="item.descricao">
            <span v-if="!!errors.descricao" class="small text-danger">{{errors.descricao[0]}}</span>
          </div>
        </div>

      </div>
      <!--box-body-->
      <div class="box-footer">
        <button type="button" @click="cancel" class="btn btn-default btn-flat pull-left" data-dismiss="modal">
          <i class="fa fa-ban"></i> Cancelar
        </button>
        <button v-if="action != 'remove'" type="button" @click="onSubmit" class="btn btn-primary btn-flat pull-right">
          <i class="fa fa-save"></i> Salvar
        </button>
        <button v-else type="button" @click="onSubmit" class="btn btn-danger btn-flat pull-right">
          <i class="fa fa-trash"></i> Remover
        </button>
      </div>
      <div v-if="loading" class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div>
</template>

<script>
  import helpers from '../../helpers/helpers';
  import Select2 from '../Select2';

  export default {
    name: 'vue-mercadorias-form',
    components: {'select-2': Select2},
    props: ['baseUrl'],
    data() {
      return {
        action: null,
        item: {
          descricao: '',
          categoria_id: ''
        },
        categorias: [],
        errors: {},
        loading: false
      }
    },

    mounted() {
      this.getCategorias();
      this.$bus.$on('mercadorias-form-action', obj => {
        this.action = obj.action;
        this.resetForm();
        if (obj.item) {
          this.item = obj.item;
        }
      });
    },

    methods: {
      getCategorias() {
        this.loading = true;
        window.axios.get(`${this.baseUrl}/categorias`)
          .then(resp => {
            this.loading = false;
            this.categorias = resp.data
          })
          .catch(error => {
            this.loading = false;
            helpers.msgErrorDefault('Erro ao carregar Mercadorias');
          });
      },
      onSubmit() {
        this.loading = true;
        this.submitAction().then(resp => {
          this.resetForm();
          this.loading = false;
          this.$bus.$emit('mercadorias-form-submit', {action: this.action});
        }).catch(error => {
          this.errors = {};
          this.loading = false;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          } else if (error.response.status === 409) {
            window.toastr.error(error.response.data.error);
          } else {
            helpers.msgErrorDefault();
          }
        });
      },
      submitAction() {
        switch (this.action) {
          case 'add':
            return window.axios.post(this.baseUrl, this.item);
          case 'edit':
            return window.axios.put(`${this.baseUrl}/${this.item.id}`, this.item);
          case 'remove':
            return window.axios.delete(`${this.baseUrl}/${this.item.id}`);
        }
      },
      cancel() {
        this.resetForm();
        this.$bus.$emit('mercadorias-form-cancel');
      },
      resetForm() {
        this.errors = {};
        this.item = {
          descricao: '',
          categoria_id: ''
        };
      }
    }
  }
</script>