<template>
  <div>
    <div class="row">
      <div class="col-xs-12">
        <vue-box id="box-list" title="Lista" :loading="loading">
          <template slot="body">
            <vue-data-table p-class="table-hover table-middle" :source="data" :per-page="configs.perPage">
              <template>
                <thead>
                <tr>
                  <th class="text-center" style="width: 60px;">#</th>
                  <th @click="order('cfop')" class="orderBy" style="min-width: 200px;">
                    CFOP <i v-if="configs.orderBy == 'cfop'"
                            :class="['fa', {'fa-sort-amount-asc': configs.order == 1,
                               'fa-sort-amount-desc': configs.order == -1}]"></i>
                  </th>
                  <th @click="order('descricao')" class="orderBy" style="min-width: 200px;">
                    Descrição <i v-if="configs.orderBy == 'descricao'"
                            :class="['fa', {'fa-sort-amount-asc': configs.order == 1,
                               'fa-sort-amount-desc': configs.order == -1}]"></i>
                  </th>
                  <th class="text-center" style="width: 80px;">
                    <button type="button" class="btn btn-primary btn-flat btn-sm" @click="add">
                      <i class="fa fa-plus"></i> Adicionar
                    </button>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in orderBy(data.data, configs.orderBy, configs.order)">
                  <td class="text-center">{{item.id}}</td>
                  <td>{{item.cfop}}</td>
                  <td>{{item.descricao}}</td>
                  <td class="btn-actions">
                    <button v-if="!item.nota_fiscais.length && !item.movimento_produtos.length" type="button" @click="remove(item)"
                            class="btn btn-danger btn-xs btn-flat"
                            data-toggle="tooltip" data-placement="bottom" title="Deletar"><i class="fa fa-trash"></i>
                    </button>
                    <button type="button" @click="edit(item)" class="btn btn-warning btn-xs btn-flat"
                            data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="fa fa-pencil"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th class="text-center" style="width: 60px;">#</th>
                  <th @click="order('cfop')" class="orderBy" style="min-width: 200px;">
                    CFOP <i v-if="configs.orderBy == 'cfop'"
                            :class="['fa', {'fa-sort-amount-asc': configs.order == 1,
                               'fa-sort-amount-desc': configs.order == -1}]"></i>
                  </th>
                  <th @click="order('descricao')" class="orderBy" style="min-width: 200px;">
                    Descrição <i v-if="configs.orderBy == 'descricao'"
                                 :class="['fa', {'fa-sort-amount-asc': configs.order == 1,
                               'fa-sort-amount-desc': configs.order == -1}]"></i>
                  </th>
                  <th class="text-center" style="width: 80px;">
                    <button type="button" class="btn btn-primary btn-flat btn-sm" @click="add">
                      <i class="fa fa-plus"></i> Adicionar
                    </button>
                  </th>
                </tr>
                </tfoot>
              </template>
            </vue-data-table>
          </template>
        </vue-box>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <vue-natureza-operacao-form v-show="showForm"></vue-natureza-operacao-form>
      </div>
    </div>

  </div>
</template>

<script>
  import NaturezaOperacaoForm from './NaturezaOperacaoForm';
  import Helpers from '../../helpers/helpers';

  export default {
    components: {
      'vue-natureza-operacao-form': NaturezaOperacaoForm
    },

    data() {
      return {
        data: [],
        configs: {
          orderBy: 'descricao',
          order: 1,
          perPage: 15,
          search: '',
        },
        loading: true,
        showForm: false,
      }
    },

    mounted() {
      this.getData();
      this.$bus.$on('no-form-submit', obj => {
        this.showForm = false;
        $('#box-list').boxWidget('expand');
        this.submitMessages(obj.action);
        this.getData();
      });
      this.$bus.$on('no-form-cancel', () => {
        this.showForm = false;
        $('#box-list').boxWidget('expand');
      });
      this.$bus.$on('data-table', obj => {
        if (obj.page) {
          this.getData(obj.page);
        }
        if (obj.perPage) {
          this.configs.perPage = obj.perPage;
          this.getData();
        }
        if (obj.search != null) {
          this.configs.search = obj.search;
          this.getData();
        }
      });
    },

    methods: {
      getData(page = 1) {
        this.loading = true;
        let url = `/estoque/natureza-operacao/lista/${this.configs.perPage}?page=${page}`;
        if (this.configs.search !== '') {
          url = `/estoque/natureza-operacao/lista/${this.configs.perPage}?page=${page}&search=${this.configs.search}`;
        }
        window.axios.get(url)
          .then(resp => {
            this.data = resp.data;
            this.perPage = resp.data.per_page;
            this.loading = false;
          })
          .catch(error => {
            Helpers.msgErrorDefault();
          });
      },
      order(orderBy) {
        this.configs.orderBy = orderBy;
        this.configs.order = (this.configs.order == 1) ? -1 : 1;
      },
      add() {
        $('#box-list').boxWidget('collapse');
        this.showForm = true;
        this.$bus.$emit('no-form-action', {action: 'add'});
      },
      edit(item) {
        $('#box-list').boxWidget('collapse');
        this.showForm = true;
        this.$bus.$emit('no-form-action', {action: 'edit', item: item});
      },
      remove(item) {
        $('#box-list').boxWidget('collapse');
        this.showForm = true;
        this.$bus.$emit('no-form-action', {action: 'remove', item: item});
      },
      submitMessages(action) {
        switch (action) {
          case 'add':
            Helpers.msgAdd();
            break;
          case 'edit':
            Helpers.msgEdit();
            break;
          case 'remove':
            Helpers.msgRemove();
            break;
        }
      }
    }
  }
</script>
