<template>
  <div class="box" id="no-form">
    <div class="box-header with-border">
      <h3 v-if="action == 'add'" class="box-title"><i class="fa fa-plus"></i> Adicionar
      </h3>
      <h3 v-else-if="action == 'edit'" class="box-title">
        <i class="fa fa-pencil"></i> Editar dados
      </h3>
      <h3 v-else-if="action == 'remove'" class="box-title text-danger">
        <i class="fa fa-trash"></i> Deseja remover esses dados?
      </h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                title="Collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div :class="['form-group', 'col-xs-12', 'col-md-3',{'has-error': !!errors.cfop}]">
          <label>CFOP</label>
          <input type="text" class="form-control" v-model="item.cfop">
          <span v-if="!!errors.cfop" class="small text-danger">{{errors.cfop[0]}}</span>
        </div>
        <div :class="['form-group', 'col-xs-12', 'col-md-3',{'has-error': !!errors.altera_estoque}]">
          <label>Altera Estoque</label>
          <select class="form-control" v-model="item.altera_estoque">
            <option value="0">Não</option>
            <option value="1">Sim</option>
          </select>
          <span v-if="!!errors.altera_estoque" class="small text-danger">{{errors.altera_estoque[0]}}</span>
        </div>
      </div>
      <div class="row">
        <div :class="['form-group', 'col-xs-12',{'has-error': !!errors.descricao}]">
          <label>Descrição</label>
          <input type="text" class="form-control" v-model="item.descricao">
          <span v-if="!!errors.descricao" class="small text-danger">{{errors.descricao[0]}}</span>
        </div>
      </div>
    </div>
    <!--box-body-->
    <div class="box-footer">
      <button type="button" @click="cancel" class="btn btn-default btn-flat pull-left">
        <i class="fa fa-ban"></i> Cancelar
      </button>
      <button v-if="action != 'remove'" type="button" @click="onSubmit" class="btn btn-primary btn-flat pull-right">
        <i class="fa fa-save"></i> Salvar
      </button>
      <button v-else type="button" @click="onSubmit" class="btn btn-danger btn-flat pull-right">
        <i class="fa fa-trash"></i> Remover
      </button>
    </div>
    <div v-if="loading" class="overlay">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
</template>

<script>
  import Helpers from '../../helpers/helpers';

  export default {
    data() {
      return {
        action: null,
        item: {
          cfop: null,
          descricao: null,
          ind_nfe: null,
          ind_comunica: null,
          ind_transp: null,
          ind_devol: null,
          altera_estoque: '0'
        },
        errors: {},
        loading: false
      }
    },

    mounted() {
      this.$bus.$on('no-form-action', obj => {
        this.action = obj.action;
        this.resetForm();
        if (obj.item) {
          this.item = obj.item;
        }
      });
    },

    methods: {
      onSubmit() {
        this.loading = true;
        this.submitAction().then(resp => {
          this.resetForm();
          this.loading = false;
          this.$bus.$emit('no-form-submit', {action: this.action});
        }).catch(error => {
          this.errors = {};
          this.loading = false;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          } else if (error.response.status === 409) {
            window.toastr.error(error.response.data.error);
          } else {
            Helpers.msgErrorDefault();
          }
        });
      },
      submitAction() {
        switch (this.action) {
          case 'add':
            return window.axios.post(`/estoque/natureza-operacao`, this.item);
          case 'edit':
            return window.axios.put(`/estoque/natureza-operacao/${this.item.id}`, this.item);
          case 'remove':
            return window.axios.delete(`/estoque/natureza-operacao/${this.item.id}`);
        }
      },
      cancel() {
        this.resetForm();
        this.$bus.$emit('no-form-cancel');
      },
      resetForm() {
        this.errors = {};
        this.item = {
          cfop: null,
          descricao: null,
          ind_nfe: null,
          ind_comunica: null,
          ind_transp: null,
          ind_devol: null,
          altera_estoque: '0'
        };
      }
    }
  }
</script>