<template>
  <div>
    <div class="row">
      <br>
      <div class="col-xs-12">
        <input type="file" @change="change($event)" accept="image/*">
        <VueCropper
          style="height: 380px;"
          ref="cropper"
          :img="option.img"
          :info="option.info"
          :outputType="option.outputType"
          :fixed="option.fixed"
          :fixedNumber="option.fixedNumber"
          :canScale="option.canScale"
          :autoCrop="option.autoCrop"
        ></VueCropper>
        <p>
          <button class="btn btn-default btn-flat btn-sm" @click="changeScale(-1)"><i class="fa fa-search-minus"></i>
          </button>
          <button class="btn btn-default btn-flat btn-sm" @click="changeScale(1)"><i class="fa fa-search-plus"></i>
          </button>
          <button class="btn btn-default btn-flat btn-sm" @click="rotate"><i class="fa fa-repeat"></i> 90º</button>
          <button class="btn btn-primary btn-flat btn-sm" @click="cropImage($event)">
            <i class="fa fa-plus"></i> Cortar Imagem
          </button>
        </p>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div :class="['form-group', 'col-xs-12', {'has-error': !!errors.src}]">
            <label>Imagem a ser adicionada</label>
            <img :src="imagem.src" class="img-responsive" height="300">
            <span v-if="!!errors.src" class="small text-danger">{{errors.src[0]}}</span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-4 col-md-2">
            <label>Ordem</label>
            <the-mask mask="##" v-model="imagem.ordem" class="form-control"></the-mask>
          </div>
          <div class="form-group col-xs-8 col-md-10">
            <label>Legenda</label>
            <input type="text" v-model="imagem.legenda" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-right">
            <button v-if="action == 'add'" type="button" @click="onSave" class="btn btn-primary btn-flat">
              <i class="fa fa-plus"></i> Adicionar imagem ao produto
            </button>
            <button v-if="action != 'add'" type="button" @click="resetForm" class="btn btn-default btn-flat">
              <i class="fa fa-ban"></i> Cancelar
            </button>&nbsp;&nbsp;
            <button v-if="action == 'edit'" type="button" @click="onUpdate" class="btn btn-warning btn-flat">
              <i class="fa fa-save"></i> Atualizar dados da imagem
            </button>
            <button v-if="action == 'remove'" type="button" @click="onDelete"
                    class="btn btn-danger btn-flat pull-right">
              <i class="fa fa-trash"></i> Remover imagem
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <h3 class="h3">Imagens cadastradas do Produto</h3>
        <table class="table table-hover table-middle">
          <thead>
          <tr>
            <th>#</th>
            <th>Imagem</th>
            <th>Legenda</th>
            <th>Ordem</th>
            <th class="text-center" style="width: 120px;">Ações</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="imagem in data" class="table-tr-middle">
            <td>{{imagem.id}}</td>
            <td>
              <a :href="imagem.src" target="_blank" :title="imagem.legenda">
              <img :src="imagem.src" :alt="imagem.legenda" height="80">
              </a>
            </td>
            <td>{{imagem.legenda}}</td>
            <td>{{imagem.ordem}}</td>
            <td class="btn-actions">
              <button @click="remove(imagem)"
                      class="btn btn-danger btn-xs btn-flat"
                      data-toggle="tooltip" data-placement="bottom" title="Deletar"><i class="fa fa-trash"></i>
              </button>
              <button @click="edit(imagem)" class="btn btn-warning btn-xs btn-flat"
                      data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="fa fa-pencil"></i>
              </button>
              <a :href="imagem.src" target="_blank" class="btn btn-default btn-xs btn-flat"
                 data-toggle="tooltip" data-placement="bottom" title="Ver imagem">
                <i class="fa fa-search-plus"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import {VueCropper} from 'vue-cropper';
  import Helpers from '../../helpers/helpers';

  export default {
    components: {VueCropper},
    props: ['produtoId'],
    data() {
      return {
        action: 'add',
        option: {
          img: '',
          info: true,
          outputType: 'png',
          fixed: true,
          fixedNumber: [16, 9],
          canScale: true,
          autoCrop: true
        },
        imagem: {
          produtoId: this.produtoId,
          src: '',
          legenda: '',
          ordem: '0'
        },
        data: [],
        errors: {},
      }
    },

    mounted() {
      this.getImagens();
    },

    methods: {
      getImagens() {
        this.$emit('loading', true);
        window.axios.get(`/estoque/produtos/lista/imagens/${this.produtoId}`)
          .then(resp => {
            this.$emit('loading', false);
            this.data = resp.data;
          })
          .catch(error => {
            this.$emit('loading', false);
            console.log(error.response);
          });
      },

      onSave() {
        this.$emit('loading', true);
        window.axios.post('/estoque/produtos/imagens', this.imagem)
          .then(resp => {
            this.$emit('loading', false);
            this.getImagens();
            this.resetForm();
            Helpers.msgAdd();
          })
          .catch(error => {
            if (error.response.status == 422) {
              window.toastr.error(`${error.response.data.errors.src[0]}`);
              this.errors = error.response.data.errors;
            }
            this.$emit('loading', false);
            console.log(error.response);
          });
      },

      onUpdate() {
        this.$emit('loading', true);
        window.axios.put(`/estoque/produtos/imagens/${this.imagem.id}`, this.imagem)
          .then(resp => {
            console.log(resp);
            this.$emit('loading', false);
            this.getImagens();
            this.resetForm();
            Helpers.msgEdit();
          })
          .catch(error => {
            this.$emit('loading', false);
            console.log(error.response);
          });
      },

      onDelete() {
        window.axios.delete(`/estoque/produtos/imagens/${this.imagem.id}`)
          .then(resp => {
            console.log(resp);
            this.$emit('loading', false);
            this.getImagens();
            this.resetForm();
            Helpers.msgRemove();
          })
          .catch(error => {
            this.$emit('loading', false);
            console.log(error.response);
          });
      },

      change(e) {
        const file = e.target.files[0];
        const reader = new FileReader();
        reader.onload = (e) => {
          let data;
          if (typeof e.target.result === 'object') {
            data = window.URL.createObjectURL(new Blob([e.target.result]));
          } else {
            data = e.target.result;
          }
          this.option.img = data
        };
        reader.readAsArrayBuffer(file);
      },

      cropImage() {
        this.$refs.cropper.getCropBlob((crop) => {
          let reader = new FileReader();
          reader.readAsDataURL(crop);
          reader.onload = e => {
            this.imagem.src = e.target.result;
          }
        })
      },

      changeScale(value) {
        this.$refs.cropper.changeScale(value);
      },

      rotate() {
        this.$refs.cropper.rotateLeft();
      },

      edit(item) {
        this.action = 'edit';
        this.imagem = {
          produtoId: this.produtoId,
          id: item.id,
          src: item.src,
          legenda: item.legenda,
          ordem: item.ordem
        };
      },

      remove(item) {
        this.action = 'remove';
        this.imagem = {
          produtoId: this.produtoId,
          id: item.id,
          src: item.src,
          legenda: item.legenda,
          ordem: item.ordem
        }
      },
      
      resetForm() {
        this.action = 'add';
        this.imagem = {
          produtoId: this.produtoId,
          src: '',
          legenda: '',
          ordem: '0'
        };
        this.option.img = '';
        this.errors = {};
      }
    }
  }
</script>