<template>
  <div class="col-xs-12">
    <div class="box" id="produtos-form">
      <div class="box-header with-border">
        <h3 v-if="action == 'add'" class="box-title"><i class="fa fa-plus"></i> Adicionar
        </h3>
        <h3 v-else-if="action == 'edit'" class="box-title">
          <i class="fa fa-pencil"></i> Editar dados
        </h3>
        <h3 v-else-if="action == 'remove'" class="box-title text-danger">
          <i class="fa fa-trash"></i> Deseja remover esses dados?
        </h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                  title="Collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <tabs>
          <tab title="Dados do Produto">
            <div class="row">
              <br>
              <div :class="['form-group', 'col-xs-12', 'col-md-3', {'has-error': !!errors.codigo_fabrica}]">
                <label>Código de Fábrica</label>
                <input type="text" class="form-control" v-model="item.codigo_fabrica">
                <span v-if="!!errors.codigo_fabrica" class="small text-danger">{{errors.codigo_fabrica[0]}}</span>
              </div>
              <div :class="['form-group', 'col-xs-12 col-md-6',{'has-error': !!errors.mercadoria_id}]">
                <label>Mercadoria</label>
                <span class="pull-right">
                      <a href="/estoque/mercadorias" target="_blank" class="btn btn-default btn-flat btn-xs"><i
                        class="fa fa-plus"></i> Add</a>  
                      <button class="btn btn-default btn-flat btn-xs" @click="getMercadoria">
                        <i class="fa fa-refresh"></i> Recarregar
                      </button>
                    </span>
                <select-2 v-model="item.mercadoria_id">
                  <option value="">Selecione...</option>
                  <option v-for="mercadoria in mercadorias" :value="mercadoria.id">
                    {{mercadoria.categoria.numero_ncm}} - {{mercadoria.categoria.descricao}} | {{mercadoria.descricao}}
                  </option>
                </select-2>
                <span v-if="!!errors.mercadoria_id" class="small text-danger">{{errors.mercadoria_id[0]}}</span>
              </div>
              <div :class="['form-group', 'col-xs-12 col-md-3',{'has-error': !!errors.marca_id}]">
                <label>Marca</label>
                <span class="pull-right">
                      <a href="/estoque/marcas" target="_blank" class="btn btn-default btn-flat btn-xs"><i
                        class="fa fa-plus"></i> Add</a>  
                      <button class="btn btn-default btn-flat btn-xs" @click="getMarca">
                        <i class="fa fa-refresh"></i> Recarregar
                      </button>
                    </span>
                <select-2 v-model="item.marca_id">
                  <option value="">Selecione...</option>
                  <option v-for="marca in marcas" :value="marca.id">
                    {{marca.nome}}
                  </option>
                </select-2>
                <span v-if="!!errors.marca_id" class="small text-danger">{{errors.marca_id[0]}}</span>
              </div>
              <div :class="['form-group', 'col-xs-12', {'has-error': !!errors.descricao}]">
                <label>Descrição</label>
                <input type="text" class="form-control" v-model="item.descricao">
                <span v-if="!!errors.descricao" class="small text-danger">{{errors.descricao[0]}}</span>
              </div>
              <div class="form-group col-xs-12">
                <label>Informação Adicional</label>
                <input type="text" class="form-control" v-model="item.informacao_adicional">
              </div>
              <div :class="['form-group', 'col-xs-6', 'col-md-4', {'has-error': !!errors.altura}]">
                <label>Altura <span class="small">(cm)</span></label>
                <input type="text" class="form-control" v-model="item.altura">
                <span v-if="!!errors.altura" class="small text-danger">{{errors.altura[0]}}</span>
              </div>
              <div :class="['form-group', 'col-xs-6', 'col-md-4', {'has-error': !!errors.largura}]">
                <label>Largura <span class="small">(cm)</span></label>
                <input type="text" class="form-control" v-model="item.largura">
                <span v-if="!!errors.largura" class="small text-danger">{{errors.largura[0]}}</span>
              </div>
              <div :class="['form-group', 'col-xs-6', 'col-md-4', {'has-error': !!errors.profundidade}]">
                <label>Profundidade <span class="small">(cm)</span></label>
                <input type="text" class="form-control" v-model="item.profundidade">
                <span v-if="!!errors.profundidade" class="small text-danger">{{errors.profundidade[0]}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button v-if="action == 'add'" type="button" @click="onSubmit"
                        class="btn btn-primary btn-flat pull-right">
                  <i class="fa fa-save"></i> Salvar
                </button>
                <button v-if="action == 'edit'" type="button" @click="onSubmit"
                        class="btn btn-warning btn-flat pull-right">
                  <i class="fa fa-save"></i> Atualizar
                </button>
                <button v-if="action == 'remove'" type="button" @click="onSubmit"
                        class="btn btn-danger btn-flat pull-right">
                  <i class="fa fa-trash"></i> Remover
                </button>
              </div>
            </div>
          </tab>

          <tab title="<i class='fa fa-picture-o'></i> Imagens" html-title :disabled="produtoId === null ? true : false">
            <produtos-form-image v-if="produtoId" :produto-id="produtoId" @loading="loadingEvent"></produtos-form-image>
          </tab>
        </tabs>
      </div>
      <!--box-body-->
      <div class="box-footer">
        <button type="button" @click="cancel" class="btn btn-default btn-flat pull-left" data-dismiss="modal">
          <i class="fa fa-ban"></i> Cancelar/Fechar
        </button>
      </div>
      <div v-if="loading" class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div>
</template>

<script>
  import ProdutosFormImage from './ProdutosFromImage';
  import Select2 from '../Select2';
  import Helpers from '../../helpers/helpers';

  export default {
    name: 'vue-produtos-form',
    components: {ProdutosFormImage, Select2},
    props: ['baseUrl'],
    data() {
      return {
        action: null,
        produtoId: null,
        item: {
          codigo_fabrica: null,
          marca_id: null,
          mercadoria_id: null,
          descricao: '',
          informacao_adicional: '',
          altura: 0,
          largura: 0,
          profundidade: 0,
          imagens: [],
          produto_vendas: [],
        },
        marcas: {},
        mercadorias: {},
        errors: {},
        loading: false
      }
    },

    mounted() {
      this.getMarca();
      this.getMercadoria();
      this.$bus.$on('produtos-form-action', obj => {
        this.action = obj.action;
        this.resetForm();
        if (obj.item) {
          this.item = obj.item;
          this.produtoId = obj.item.id
        }
      });
    },

    methods: {
      getMarca() {
        this.loading = true;
        window.axios.get(`${this.baseUrl}/lista/marcas`)
          .then(resp => {
            this.loading = false;
            this.marcas = resp.data
          });
      },

      getMercadoria() {
        this.loading = true;
        window.axios.get(`${this.baseUrl}/lista/mercadorias`)
          .then(resp => {
            this.loading = false;
            this.mercadorias = resp.data
          });
      },

      onSubmit() {
        this.loading = true;
        this.submitAction().then(resp => {
          this.loading = false;
          this.resetForm();
          this.action === 'add' ? this.produtoId = resp.data.id : '';
          this.$bus.$emit('produtos-form-submit', {action: this.action});
        }).catch(error => {
          this.errors = {};
          this.loading = false;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          } else if (error.response.status === 409) {
            window.toastr.error(error.response.data.error);
          } else {
            Helpers.msgErrorDefault();
          }
        });
      },
      submitAction() {
        switch (this.action) {
          case 'add':
            return window.axios.post(this.baseUrl, this.item);
          case 'edit':
            return window.axios.put(`${this.baseUrl}/${this.item.id}`, this.item);
          case 'remove':
            return window.axios.delete(`${this.baseUrl}/${this.item.id}`);
        }
      },
      cancel() {
        this.resetForm();
        this.$bus.$emit('produtos-form-cancel');
      },

      resetForm() {
        this.errors = {};
        if (this.action === 'add' || this.action === 'remove') {
          this.produtoId = null;
          this.item = {
            codigo_fabrica: '',
            marca_id: null,
            mercadoria_id: null,
            descricao: '',
            informacao_adicional: '',
            altura: 0,
            largura: 0,
            profundidade: 0,
            imagens: [],
            produto_vendas: [],
          }
        }
      },

      loadingEvent(value) {
        this.loading = value;
      }
    },

  }
</script>