<template>
  <div>
    <div class="col-xs-12">
      <vue-box id="box-list" title="Lista" :loading="loading">
        <template slot="body">
          <vue-data-table p-class="table-hover table-middle" :source="data" :per-page="configs.perPage">
            <template>
              <thead>
              <tr>
                <th>Código</th>
                <th>Cód. Fabrica</th>
                <th>Imagem</th>
                <th>Descrição</th>
                <th @click="order('valor_atual')" class="orderBy">
                  Preco
                  <i v-if="configs.orderBy == 'valor_atual'" :class="['fa', {'fa-sort-amount-asc': configs.order == 1,
                               'fa-sort-amount-desc': configs.order == -1}]">
                  </i>
                </th>
                <th class="text-center">Máximo Desconto %</th>
                <th class="text-center">Estoque / Disponível</th>
                <th class="text-center">Vendas</th>
                <th class="text-right">
                  <button type="button" class="btn btn-primary btn-flat btn-sm" @click="add">
                    <i class="fa fa-plus"></i> Adicionar
                  </button>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item in orderBy(data.data, configs.orderBy, configs.order)" :key="item.id">
                <td>{{item.id}}</td>
                <td>{{item.codigo_fabrica}}</td>
                <td>
                  <img v-if="item.imagens.length" :src="item.imagens[0].src" :alt="item.imagens[0].legenda" height="60">
                  <img v-else src="/images/no-image.png" alt="No Image" height="60">
                </td>
                <td>
                  {{item.codigo_fabrica}} - {{item.mercadoria.categoria.descricao}} - {{item.mercadoria.descricao}} -
                  {{item.marca.nome}} - {{item.descricao}}
                </td>
                <td>{{item.valor_atual | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
                <td class="text-center">{{item.margem | currency('', 2, {thousandsSeparator: '', decimalSeparator:
                  '.'})}}
                </td>
                <td class="text-center">{{estoqueTotal(item)}} / {{estoqueDisponivel(item)}}
                </td>
                <td class="text-center">{{vendasTotal(item)}}</td>
                <td class="btn-actions">
                  <button @click="remove(item)" class="btn btn-danger btn-xs btn-flat" data-toggle="tooltip"
                          data-placement="bottom" title="Deletar"><i class="fa fa-trash"></i>
                  </button>
                  <button @click="clone(item)" class="btn btn-default btn-xs btn-flat" data-toggle="tooltip"
                          data-placement="bottom" title="Clonar Produto"><i class="fa fa-clone"></i>
                  </button>
                  <button @click="edit(item)" class="btn btn-warning btn-xs btn-flat" data-toggle="tooltip"
                          data-placement="bottom" title="Editar"><i class="fa fa-pencil"></i>
                  </button>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>Código</th>
                <th>Cód. Fábrica</th>
                <th>Imagem</th>
                <th>Descrição</th>
                <th @click="order('valor_atual')" class="orderBy">
                  Preco
                  <i v-if="configs.orderBy == 'valor_atual'" :class="['fa', {'fa-sort-amount-asc': configs.order == 1,
                               'fa-sort-amount-desc': configs.order == -1}]">
                  </i>
                </th>
                <th class="text-center">Máximo Desconto %</th>
                <th class="text-center">Estoque</th>
                <th class="text-center">Vendas</th>
                <th class="text-right">
                  <button type="button" class="btn btn-primary btn-flat btn-sm" @click="add">
                    <i class="fa fa-plus"></i> Adicionar
                  </button>
                </th>
              </tr>
              </tfoot>
            </template>
          </vue-data-table>
        </template>
      </vue-box>
    </div>

    <produtos-form v-show="showForm" :base-url="baseUrl"></produtos-form>

  </div>
</template>

<script>
  import ProdutosForm from "./ProdutosForm";
  import Helpers from "../../helpers/helpers";
  import Estoque from "../../helpers/estoque";

  export default {
    name: "vue-produtos",
    props: ["baseUrl"],
    components: {ProdutosForm},

    data() {
      return {
        data: [],
        configs: {
          orderBy: "mercadoria.descricao",
          order: 1,
          perPage: 25,
          search: ""
        },
        loading: true,
        showForm: false
      };
    },

    mounted() {
      this.getData();
      this.$bus.$on("produtos-form-submit", obj => {
        if (obj.action === "remove") {
          this.showForm = false;
          $("#box-list").boxWidget("expand");
        }
        this.submitMessages(obj.action);
        this.getData();
      });
      this.$bus.$on("produtos-form-cancel", () => {
        this.showForm = false;
        $("#box-list").boxWidget("expand");
      });
      this.$bus.$on("data-table", obj => {
        if (obj.page) {
          this.getData(obj.page);
        }
        if (obj.perPage) {
          this.configs.perPage = obj.perPage;
          this.getData();
        }
        if (obj.search != null) {
          this.configs.search = obj.search;
          this.getData();
        }
      });
    },

    methods: {
      getData(page = 1) {
        this.loading = true;
        let url = `${this.baseUrl}/lista/${this.configs.perPage}?page=${page}`;
        if (this.configs.search !== "") {
          url = `${this.baseUrl}/lista/${
            this.configs.perPage
            }?page=${page}&search=${this.configs.search}`;
        }
        window.axios.get(url)
          .then(resp => {
            this.data = resp.data;
            this.configs.perPage = resp.data.per_page;
            this.loading = false;
          })
          .catch(error => {
            Helpers.msgErrorDefault();
          });
      },
      order(orderBy) {
        this.configs.orderBy = orderBy;
        this.configs.order = this.configs.order == 1 ? -1 : 1;
      },
      estoqueTotal(item) {
        return Estoque.total(item);
      },
      estoqueDisponivel(item) {
        return Estoque.disponivel(item);
      },
      vendasTotal(item) {
        return Estoque.vendas(item);
      },
      add() {
        $("#box-list").boxWidget("collapse");
        this.showForm = true;
        this.$bus.$emit("produtos-form-action", {action: "add"});
      },
      edit(item) {
        $("#box-list").boxWidget("collapse");
        this.showForm = true;
        this.$bus.$emit("produtos-form-action", {action: "edit", item: item});
      },
      remove(item) {
        $("#box-list").boxWidget("collapse");
        this.showForm = true;
        this.$bus.$emit("produtos-form-action", {action: "remove", item: item});
      },
      clone(item) {
        $("#box-list").boxWidget("collapse");
        this.showForm = true;
        this.$bus.$emit("produtos-form-action", {action: "add", item: item});
      },
      submitMessages(action) {
        switch (action) {
          case "add":
            Helpers.msgAdd();
            break;
          case "edit":
            Helpers.msgEdit();
            break;
          case "remove":
            Helpers.msgRemove();
            break;
        }
      }
    }
  };
</script>
