<template>
  <div class="box">
    <div v-if="title" class="box-header with-border">
      <h3 class="box-title">{{title}}</h3>
      <div v-if="collapse" class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <slot name="body"></slot>
    </div>
    <div class="box-footer">
      <slot name="footer"></slot>
    </div>
    <div v-if="loading" class="overlay">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
</template>

<script>
export default {
  name: "vue-box",
  props: {
    title: { required: false },
    loading: { required: false, default: false },
    collapse: { required: false, default: true }
  }
};
</script>