<template>
  <div>
    <div class="row">
      <div class="col-xs-4">
        <vue-per-page-pagination :p-id="pId" :per-page="perPage"></vue-per-page-pagination>
      </div>
      <div class="form-group col-xs-8">
        <vue-search-input :p-id="pId" class="pull-right"></vue-search-input>
      </div>
    </div>
    <div class="table-responsive">
      <table :class="['table table-middle', pClass]" :id="pId" style="width: 100%;">
        <slot></slot>
      </table>
    </div>
    <div class="text-center">
      <vue-pagination :p-id="pId" :source="source" :pagination-range="paginationRange"></vue-pagination>
    </div>
  </div>
</template>

<script>
  import Pagination from './Pagination';
  import PerPagePagination from './PerPagePagination';
  import SearchInput from './SearchInput';

  export default {
    name: 'vue-data-table',
    components: {
      'vue-pagination': Pagination,
      'vue-per-page-pagination': PerPagePagination,
      'vue-search-input': SearchInput
    },
    props: {
      pClass: {required: false},
      pId: {required: false},
      source: {required: true},
      perPage: {required: true},
      paginationRange: {required: false, default: 12}
    },
    mounted() {
      if (this.pId) {

        this.$bus.$on(`navigate-${this.pId}`, page => {
          this.$bus.$emit(`data-table-${this.pId}`, {page: page});
        });
        this.$bus.$on(`per-page-${this.pId}`, perPage => {
          this.$bus.$emit(`data-table-${this.pId}`, {perPage: perPage});
        });
        this.$bus.$on(`search-input-${this.pId}`, search => {
          this.$bus.$emit(`data-table-${this.pId}`, {search: search});
        });

      } else {

        this.$bus.$on('navigate', page => {
          this.$bus.$emit('data-table', {page: page});
        });
        this.$bus.$on('per-page', perPage => {
          this.$bus.$emit('data-table', {perPage: perPage});
        });
        this.$bus.$on('search-input', search => {
          this.$bus.$emit('data-table', {search: search});
        });

      }
    }
  }
</script>
