<template>
  <nav v-if="source.last_page > 1" aria-label="Page navigation text-center">
    <ul class="pagination pagination-sm" style="margin: 0">
      <li :class="{disabled: source.current_page == 1}">
        <a href="" @click.prevent="nextPrev(source.current_page-1)" aria-label="Anterior">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li v-for="(page, index) in pages" :key="index" :class="{active: source.current_page == page}">
        <span v-if="page == '...'">{{page}}</span>
        <a href="" v-if="page != '...'" @click.prevent="navigate(page)">
          <span>{{page}} <span :class="{'sr-only': source.current_page == page}"></span></span>
        </a>
      </li>
      <li :class="{disabled: source.current_page == source.last_page}">
        <a href="" @click.prevent="nextPrev(source.current_page+1)" aria-label="Próximo">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
    <br/>
    <span>Total de registros: <b>{{source.total}}</b></span>
  </nav>
</template>

<script>
  export default {
    name: 'vue-pagination',
    props: {
      pId: {required: false},
      source: {required: true},
      paginationRange: {required: true},
    },
    data() {
      return {
        pages: []
      }
    },
    watch: {
      source() {
        let s = this.source;
        this.pages = this.generatePagesArray(s.current_page, s.total, s.per_page, this.paginationRange);
      }
    },
    methods: {
      navigate(page) {
        if (this.pId) {
          this.$bus.$emit(`navigate-${this.pId}`, page);
        } else {
          this.$bus.$emit('navigate', page);
        }
      },

      nextPrev(page) {
        if (page == 0 || page == this.source.last_page + 1) {
          return;
        }
        this.navigate(page);
      },

      generatePagesArray(currentPage, collectionLength, rowsPerPage, paginationRange) {
        let pages = [];
        let totalPages = Math.ceil(collectionLength / rowsPerPage);
        let halfWay = Math.ceil(paginationRange / 2);
        let position;

        if (currentPage <= halfWay) {
          position = 'start';
        } else if (totalPages - halfWay < currentPage) {
          position = 'end';
        } else {
          position = 'middle';
        }

        let ellipsesNeeded = paginationRange < totalPages;
        let i = 1;
        while (i <= totalPages && i <= paginationRange) {
          let pageNumber = this.calculatePageNumber(i, currentPage, paginationRange, totalPages);
          let openingEllipsesNeeded = (i === 2 && (position === 'middle' || position === 'end'));
          let closingEllipsesNeeded = (i === paginationRange - 1 && (position === 'middle' || position === 'start'));
          if (ellipsesNeeded && (openingEllipsesNeeded || closingEllipsesNeeded)) {
            pages.push('...');
          } else {
            pages.push(pageNumber);
          }
          i++;
        }
        return pages;
      },

      calculatePageNumber(i, currentPage, paginationRange, totalPages) {
        let halfWay = Math.ceil(paginationRange / 2);
        if (i === paginationRange) {
          return totalPages;
        } else if (i === 1) {
          return i;
        } else if (paginationRange < totalPages) {
          if (totalPages - halfWay < currentPage) {
            return totalPages - paginationRange + i;
          } else if (halfWay < currentPage) {
            return currentPage - halfWay + i;
          } else {
            return i;
          }
        } else {
          return i;
        }
      }
    }
  }
</script>