<template>
  <div class="form-group" style="max-width: 120px;">
    <div class="input-group input-group-sm">
      <span class="input-group-addon">Por página</span>
      <input type="text" class="form-control" @keyup="onChange($event)" v-model="paginate">
    </div>
  </div>
</template>

<script>
  export default {
    name: 'vue-per-page-pagination',
    props: {
      pId: {required: false},
      perPage: {required: true}
    },
    data() {
      return {
        paginate: this.perPage
      }
    },
    methods: {

      onChange: window._.debounce(function (e) {
        if (this.pId) {
          this.$bus.$emit(`per-page-${this.pId}`, e.target.value);
        } else {
          this.$bus.$emit('per-page', e.target.value);
        }
      }, 1000),

    }
  }
</script>