<template>
  <div class="input-group input-group-sm" style="max-width: 250px">
    <input type="text" class="form-control input-sm" @keyup="onChange($event)" v-model="value"
           placeholder="Pesquisar...">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
  </div>
</template>

<script>
  export default {
    name: 'vue-search-input',
    props: {
      pId: {required: false},
    },
    data() {
      return {
        value: ''
      }
    },
    methods: {

      onChange: window._.debounce(function (e) {
        if (this.pId) {
          this.$bus.$emit(`search-input-${this.pId}`, e.target.value);
        } else {
          this.$bus.$emit('search-input', e.target.value);
        }
      }, 1000),

    }
  }
</script>