<template>
  <div :class="['form-group', divClass, {'has-error' : errorsHas}]">
    <label>{{label}}</label>
    <select-2 :name="inputName" :value="inputValue" ref-name="estados-select" @estados-select-change="onChange">
      <option v-for="estado in estados" :value="estado.id" :selected="inputValue == estado.id">
        {{estado.nome}}
      </option>
    </select-2>
    <span class="small text-danger">{{errorsFirst}}</span>
  </div>
</template>

<script>
  import Select2 from './Select2';

  export default {
    props: ['divClass', 'label', 'inputName', 'inputValue', 'errorsHas', 'errorsFirst'],
    components: {Select2},

    data() {
      return {
        estados: []
      }
    },

    mounted() {
      this.getEstados();
      if (this.inputValue != '') {
        this.$bus.$emit('change-estado', this.inputValue);
      }
    },

    methods: {
      getEstados() {
        axios.get('/gestao/enderecos/estados')
          .then(resp => this.estados = resp.data)
      },
      onChange(value) {
        this.$bus.$emit('change-estado', value);
      }
    }
  }
</script>