<template>
  <div :class="['form-group', divClass, {'has-error' : errorsHas}]">
    <label>{{label}}</label>
    <select-2 :name="inputName" :value="inputValue">
      <option v-if="!cidades.length" value="">Selecione o estado primeiro</option>
      <option v-for="cidade in cidades" :value="cidade.id" :selected="inputValue == cidade.id">
        {{cidade.nome}}
      </option>
    </select-2>
    <span class="small text-danger">{{errorsFirst}}</span>
  </div>
</template>

<script>
  import Select2 from './Select2';

  export default {
    props: ['divClass', 'label', 'inputName', 'inputValue', 'errorsHas', 'errorsFirst'],
    components: {Select2},

    data() {
      return {
        cidades: []
      }
    },

    mounted() {
      this.$bus.$on('change-estado', estado_id => {
        this.getCidades(estado_id);
        console.log(estado_id);
      });
    },

    methods: {
      getCidades(estado_id) {
        axios.get(`/gestao/enderecos/cidades/${estado_id}`)
          .then(resp => this.cidades = resp.data)
      },
    }
  }
</script>