<template>
  <select ref="select" :multiple="multiple" class="form-control">
    <slot></slot>
  </select>
</template>

<script>
  export default {
    name: "select-2",
    props: {
      value: {required: false},
      refName: {required: false},
      multiple: {
        type: Boolean,
        required: false,
        default: false
      }
    },

    mounted() {
      let vm = this;
      $(this.$refs.select)
        .select2({
          multiple: vm.multiple,
          width: "100%",
          theme: "bootstrap",
          placeholder: function () {
            $(this).data("placeholder");
          },
          containerCssClass: ":all:",
          escapeMarkup: function (m) {
            return m;
          }
        })
        .val(this.value)
        .trigger("change")
        .on("change", function () {
          vm.$emit("input", this.value);
          if (vm.refName) {
            vm.$emit(`${vm.refName}-change`, this.value);
          }
        });
    },

    watch: {
      value: function (value) {
        $(this.$refs.select)
          .val(value)
          .trigger("change");
      }
    }
  };
</script>