<template>
  <div>
    <div class="row">
      <div class="col-xs-12">
        <vue-box title="Grupos de Acesso" id="box-list" :loading="loading">
          <template slot="body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th class="text-center" style="width:50px;">#</th>
                  <th @click="order('nome')" class="orderBy">
                    Nome <i v-if="configs.orderBy == 'nome'"
                            :class="['fa', {'fa-sort-amount-asc': configs.order == 1,
                               'fa-sort-amount-desc': configs.order == -1}]"></i>
                  </th>
                  <th>Descrição</th>
                  <th>Painel Padrão</th>
                  <th class="text-right" style="width: 110px;">
                    <button type="button" class="btn btn-primary btn-flat btn-sm" @click="addGroup">
                      <i class="fa fa-plus"></i> Adicionar
                    </button>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in orderBy(data.grupos, configs.orderBy, configs.order)">
                  <td class="text-center">{{item.id}}</td>
                  <td><a href="" @click.prevent="syncPermission(item)">{{item.nome}}</a></td>
                  <td>{{item.descricao}}</td>
                  <td>{{labelPainel(item)}}{{item.dashboardLabel}}</td>
                  <td class="text-right">
                    <button v-if="!item.users.length" @click="removeGroup(item)"
                            class="btn btn-danger btn-xs btn-flat"
                            data-tooltip="tooltip" data-placement="bottom" title="Deletar">
                      <i class="fa fa-trash"></i>
                    </button>&nbsp;&nbsp;
                    <button @click="syncPermission(item)" class="btn btn-default btn-xs btn-flat"
                            data-tooltip="tooltip" data-placement="bottom" title="Gerenciar permissões do grupo">
                      <i class="fa fa-user-secret"></i>
                    </button>&nbsp;&nbsp;
                    <button @click="editGroup(item)" class="btn btn-warning btn-xs btn-flat"
                            data-tooltip="tooltip" data-placement="bottom" title="Editar">
                      <i class="fa fa-pencil"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </template>
        </vue-box>
      </div>
      <div class="col-xs-12">
        <vue-grupos-form v-show="showGrupoForm" :base-url="baseUrl"
                         :map-dashboards="data.mapDashboards"></vue-grupos-form>
      </div>
    </div>
    <div class="row" v-show="showGrupoPermissoes">
      <div class="col-xs-12">
        <vue-grupo-permissoes :base-url="baseUrl"></vue-grupo-permissoes>
      </div>
    </div>
  </div>
</template>

<script>
  import GruposForm from './GruposForm';
  import GrupoPermissoes from './GrupoPermissoes';
  import Helpers from '../../helpers/helpers';

  export default {
    name: 'vue-acl',
    components: {'vue-grupos-form': GruposForm, 'vue-grupo-permissoes': GrupoPermissoes},
    props: ['baseUrl'],
    data() {
      return {
        data: {
          grupos: [],
          mapDashboards: {}
        },
        configs: {
          orderBy: 'nome',
          order: 1,
        },
        loading: false,
        showGrupoForm: false,
        showGrupoPermissoes: false
      }
    },

    mounted() {
      this.getData();
      this.$bus.$on('grupo-form-submit', obj => {
        this.showGrupoForm = false;
        $('#box-list').boxWidget('expand');
        this.submitMessages(obj.action);
        this.getData();
      });
      this.$bus.$on('grupo-form-cancel', () => {
        this.showGrupoForm = false;
        $('#box-list').boxWidget('expand');
      });
      this.$bus.$on('grupo-permissoes-submit', () => {
        this.showGrupoPermissoes = false;
        $('#box-list').boxWidget('expand');
      });
      this.$bus.$on('grupo-permissoes-cancel', () => {
        this.showGrupoPermissoes = false;
        $('#box-list').boxWidget('expand');
      });
    },

    methods: {
      getData() {
        this.loading = true;
        window.axios.get(`${this.baseUrl}/lista-grupos`)
          .then(resp => {
            this.data = resp.data;
            this.loading = false;
          });
      },

      order(orderBy) {
        this.configs.orderBy = orderBy;
        this.configs.order = (this.configs.order == 1) ? -1 : 1;
      },

      addGroup() {
        $('#box-list').boxWidget('collapse');
        this.showGrupoForm = true;
        this.$bus.$emit('grupo-form-action', {action: 'add'});
      },

      editGroup(item) {
        $('#box-list').boxWidget('collapse');
        this.showGrupoForm = true;
        this.$bus.$emit('grupo-form-action', {action: 'edit', item: item});
      },

      removeGroup(item) {
        $('#box-list').boxWidget('collapse');
        this.showGrupoForm = true;
        this.$bus.$emit('grupo-form-action', {action: 'remove', item: item});
      },

      syncPermission(grupo) {
        $('#box-list').boxWidget('collapse');
        this.showGrupoPermissoes = true;
        this.showGrupoForm = false;
        this.$bus.$emit('grupo-permissoes-sync', grupo);
      },

      submitMessages(action) {
        switch (action) {
          case 'add':
            Helpers.msgAdd();
            break;
          case 'edit':
            Helpers.msgEdit();
            break;
          case 'remove':
            Helpers.msgRemove();
            break;
        }
      },

      labelPainel(grupo) {
        Object.values(this.data.mapDashboards).forEach(mapDashboard => {
          if (grupo.dashboard === mapDashboard.action) {
            grupo.dashboardLabel = mapDashboard.dashboard;
          }
        });
      }
    },
  }
</script>