<template>
  <div>
    <div class="row">
      <br>
      <div :class="['form-group', 'col-xs-6', 'col-md-3', {'has-error': !!errors.responsavel}]">
        <label>Responsável*</label>
        <input type="text" class="form-control" v-model="item.responsavel">
        <span v-if="!!errors.responsavel"
              class="small text-danger">{{errors.responsavel[0]}}</span>
      </div>

      <div :class="['form-group', 'col-xs-6 col-md-3',{'has-error': !!errors.descricao}]">
        <label>Tipo do Telefone*</label>
        <select v-model="item.descricao" class="form-control">
          <option value="Celular">Celular</option>
          <option value="Comercial">Comercial</option>
          <option value="Residêncial">Residêncial</option>
          <option value="Recado">Recado</option>
        </select>
        <span v-if="!!errors.descricao" class="small text-danger">{{errors.descricao[0]}}</span>
      </div>

      <div :class="['form-group', 'col-xs-6', 'col-md-3', {'has-error': !!errors.numero}]">
        <label>Número*</label>
        <the-mask type="text" :mask="['(##) ####-####', '(##) #####-####']" :masked="true" class="form-control"
                  v-model="item.numero" placeholder="(99) 99999-9999"></the-mask>
        <span v-if="!!errors.numero"
              class="small text-danger">{{errors.numero[0]}}</span>
      </div>

      <div :class="['form-group', 'col-xs-6 col-md-3',{'has-error': !!errors.principal}]">
        <label>Telefone Principal*</label>
        <select v-model="item.principal" class="form-control">
          <option value="0">Não</option>
          <option value="1">Sim</option>
        </select>
        <span v-if="!!errors.principal" class="small text-danger">{{errors.principal[0]}}</span>
      </div>
    </div>

    <div v-show="tipoCliente == '2'" class="row">
      <div :class="['form-group', 'col-xs-6', 'col-md-2', {'has-error': !!errors.ramal}]">
        <label>Ramal</label>
        <input type="text" class="form-control" v-model="item.ramal">
        <span v-if="!!errors.ramal"
              class="small text-danger">{{errors.ramal[0]}}</span>
      </div>

      <div :class="['form-group', 'col-xs-6 col-md-3',{'has-error': !!errors.status}]">
        <label>Responsável correto?</label>
        <select v-model="item.status" class="form-control">
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>
        <span v-if="!!errors.status" class="small text-danger">{{errors.status[0]}}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-right">
        <button v-if="action == 'add'" type="button" @click="onSave"
                class="btn btn-primary btn-flat">
          <i class="fa fa-floppy-o"></i> Salvar novo contato
        </button>
        <button v-if="action == 'edit'" type="button" @click="onUpdate"
                class="btn btn-warning btn-flat">
          <i class="fa fa-floppy-o"></i> Atualizar contato
        </button>
        <button v-if="action == 'remove'" type="button" @click="onRemove"
                class="btn btn-danger btn-flat">
          <i class="fa fa-trash"></i> Remover contato
        </button>
        <button type="button" @click="resetForm"
                class="btn btn-default btn-flat">
          <i class="fa fa-eraser"></i> Limpar/Cancelar
        </button>
      </div>
    </div>

    <hr>

    <div class="row">
      <h3 class="col-xs-12">Lista de Contatos</h3>
      <div class="col-xs-12">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Responsável</th>
            <th>Número</th>
            <th>Ramal</th>
            <th>Tipo Telefone</th>
            <th>Principal</th>
            <th class="text-center" style="width: 100px">Ações</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="contato in cadastrados" :class="{success: contato.principal == 1 && cadastrados.length > 1,
                                                      danger: contato.status == 0}">
            <td>{{contato.id}}</td>
            <td>{{contato.responsavel}}</td>
            <td>{{contato.numero}}</td>
            <td>{{contato.ramal}}</td>
            <td>{{contato.descricao}}</td>
            <td>{{contato.principal == 1 ? 'Sim' : 'Não'}}</td>
            <td>
              <button type="button" @click="edit(contato)" class="btn btn-warning btn-xs btn-flat"
                      data-toggle="tooltip" data-placement="left" title="Editar"><i class="fa fa-pencil"></i>
              </button>&nbsp;&nbsp;
              <button type="button" @click="remove(contato)" class="btn btn-danger btn-xs btn-flat"
                      data-toggle="tooltip" data-placement="left" title="Deletar"><i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import Helpers from '../../helpers/helpers';

  export default {

    props: ['pessoaId', 'tipoCliente'],
    data() {
      return {
        action: 'add',
        item: {
          pessoa_id: this.pessoaId,
          descricao: 'Celular',
          responsavel: '',
          numero: '',
          ramal: '',
          principal: '0',
          status: '1'
        },
        cadastrados: [],
        errors: {}
      }
    },

    mounted() {
      this.getContatos();
    },

    methods: {
      getContatos() {
        window.axios.get(`/gestao/contatos/${this.pessoaId}`)
          .then(resp => this.cadastrados = resp.data);
      },

      onSave() {
        this.$emit('loading', true);
        window.axios.post(`/gestao/contatos`, this.item)
          .then(resp => {
            this.$emit('loading', false);
            Helpers.msgAdd();
            this.resetForm();
            this.getContatos();
          })
          .catch(error => {
            this.errors = {};
            this.$emit('loading', false);
            if (error.response.status === 422) {
              this.errors = error.response.data.errors;
            } else {
              Helpers.msgErrorDefault();
            }
          });
      },

      onUpdate() {
        this.$emit('loading', true);
        window.axios.put(`/gestao/contatos/${this.item.id}`, this.item)
          .then(resp => {
            this.$emit('loading', false);
            Helpers.msgEdit();
            this.resetForm();
            this.getContatos();
          })
          .catch(error => {
            this.errors = {};
            this.$emit('loading', false);
            if (error.response.status === 422) {
              this.errors = error.response.data.errors;
            } else {
              Helpers.msgErrorDefault();
            }
          });
      },

      onRemove() {
        this.$emit('loading', true);
        window.axios.delete(`/gestao/contatos/${this.item.id}`)
          .then(resp => {
            this.$emit('loading', false);
            Helpers.msgRemove();
            this.resetForm();
            this.getContatos();
          })
          .catch(error => {
            this.errors = {};
            this.$emit('loading', false);
            if (error.response.status === 422) {
              this.errors = error.response.data.errors;
            } else {
              Helpers.msgErrorDefault();
            }
          });
      },

      edit(contato) {
        this.errors = {};
        this.action = 'edit';
        this.item = contato;
      },

      remove(contato) {
        this.errors = {};
        this.action = 'remove';
        this.item = contato;
      },

      resetForm() {
        this.action = 'add';
        this.errors = {};
        this.item = {
          pessoa_id: this.pessoaId,
          descricao: 'Celular',
          responsavel: '',
          numero: '',
          ramal: '',
          principal: '0',
          status: '1'
        }
      }
    }
  }
</script>