<template>
  <div>
    <div class="row">
      <br>
      <div :class="['form-group', 'col-xs-6', 'col-md-3', {'has-error': !!errors.titulo}]">
        <label>Título do endereço*</label>
        <input type="text" class="form-control" v-model="item.titulo">
        <span v-if="!!errors.titulo"
              class="small text-danger">{{errors.titulo[0]}}</span>
      </div>

      <div :class="['form-group', 'col-xs-6', 'col-md-2', {'has-error': !!errors.cep}]">
        <label>Cep*</label>
        <input type="text" v-mask="'#####-###'" :masked="true" class="form-control"
               v-model="item.cep" id="cep"/>
        <span v-if="!!errors.cep"
              class="small text-danger">{{errors.cep[0]}}</span>
      </div>

      <div :class="['form-group', 'col-xs-8', 'col-md-5', {'has-error': !!errors.logradouro}]">
        <label>Logradouro*</label>
        <input type="text" class="form-control" v-model="item.logradouro">
        <span v-if="!!errors.logradouro"
              class="small text-danger">{{errors.logradouro[0]}}</span>
      </div>

      <div :class="['form-group', 'col-xs-4', 'col-md-2', {'has-error': !!errors.numero}]">
        <label>Número*</label>
        <input type="text" class="form-control" v-model="item.numero">
        <span v-if="!!errors.numero"
              class="small text-danger">{{errors.numero[0]}}</span>
      </div>
    </div>

    <div class="row">
      <div :class="['form-group', 'col-xs-6', 'col-md-2', {'has-error': !!errors.complemento}]">
        <label>Complemento</label>
        <input type="text" class="form-control" v-model="item.complemento">
        <span v-if="!!errors.complemento"
              class="small text-danger">{{errors.complemento[0]}}</span>
      </div>

      <div :class="['form-group', 'col-xs-6', 'col-md-4', {'has-error': !!errors.bairro}]">
        <label>Bairro*</label>
        <input type="text" class="form-control" v-model="item.bairro">
        <span v-if="!!errors.bairro"
              class="small text-danger">{{errors.bairro[0]}}</span>
      </div>

      <div :class="['form-group', 'col-xs-6 col-md-3',{'has-error': !!errors.cidade_id}]">
        <label>Cidade*</label>
        <select-2 v-model="item.cidade_id" class="form-control">
          <option disabled value="">Selecione o estado primeiro</option>
          <option v-for="cidade in cidades" :value="cidade.id">{{cidade.nome}}</option>
        </select-2>
        <span v-if="!!errors.cidade_id" class="small text-danger">{{errors.cidade_id[0]}}</span>
      </div>

      <div :class="['form-group', 'col-xs-6 col-md-3',{'has-error': !!errors.estado_id}]">
        <label>Estado*</label>
        <select-2 v-model="item.estado_id" class="form-control">
          <option disabled value="">Selecione...</option>
          <option v-for="estado in estados" :value="estado.id">{{estado.nome}}</option>
        </select-2>
        <span v-if="!!errors.estado_id" class="small text-danger">{{errors.estado_id[0]}}</span>
      </div>
    </div>

    <div class="row">
      <div :class="['form-group', 'col-xs-6 col-md-5',{'has-error': !!errors.regiao_id}]">
        <label>Mapeamento Região</label>
        <select-2 v-model="item.regiao_id" class="form-control">
          <option v-if="regioes.length > 0" disabled value="">Selecione...</option>
          <option v-if="regioes.length == 0" disabled value="">Não há registros de Região</option>
          <option v-for="regiao in regioes" :value="regiao.id">{{regiao.regiao}}</option>
        </select-2>
        <span v-if="!!errors.regiao_id" class="small text-danger">{{errors.regiao_id[0]}}</span>
      </div>

      <div class="form-group col-xs-12 col-md-5">
        <label>Referência</label>
        <input type="text" class="form-control" v-model="item.referencia">
      </div>

      <div class="form-group col-xs-6 col-md-2">
        <label>End. Principal?</label>
        <select v-model="item.principal" class="form-control">
          <option value="0">Não</option>
          <option value="1">Sim</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-right">
        <button v-if="action == 'add'" type="button" @click="onSave"
                class="btn btn-primary btn-flat">
          <i class="fa fa-floppy-o"></i> Salvar novo endereço
        </button>
        <button v-if="action == 'edit'" type="button" @click="onUpdate"
                class="btn btn-warning btn-flat">
          <i class="fa fa-floppy-o"></i> Atualizar endereço
        </button>
        <button v-if="action == 'remove'" type="button" @click="onRemove"
                class="btn btn-danger btn-flat">
          <i class="fa fa-trash"></i> Remover endereço
        </button>
        <button type="button" @click="resetForm"
                class="btn btn-default btn-flat">
          <i class="fa fa-eraser"></i> Limpar/Cancelar
        </button>
      </div>
    </div>

    <hr>

    <div class="row">
      <h3 class="col-xs-12">Lista de Endereços</h3>
      <div class="col-xs-12">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Título</th>
            <th>Cep</th>
            <th>Logradouro</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>Principal</th>
            <th class="text-center" style="width: 100px">Ações</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="end in cadastrados" :class="{success: end.principal == 1 && cadastrados.length > 1}">
            <td>{{end.titulo}}</td>
            <td>{{end.cep}}</td>
            <td>{{end.logradouroCompleto}}</td>
            <td>{{end.bairro}}</td>
            <td>{{end.cidade ? end.cidade.nome : ''}}</td>
            <td>{{end.estado ? end.estado.uf : ''}}</td>
            <td>{{end.principal == 1 ? 'Sim' : 'Não'}}</td>
            <td>
              <button type="button" @click="edit(end)" class="btn btn-warning btn-xs btn-flat"
                      data-toggle="tooltip" data-placement="left" title="Editar"><i class="fa fa-pencil"></i>
              </button>&nbsp;&nbsp;
              <button type="button" @click="remove(end)" class="btn btn-danger btn-xs btn-flat"
                      data-toggle="tooltip" data-placement="left" title="Deletar"><i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import Select2 from '../Select2';
  import Helpers from '../../helpers/helpers';

  export default {
    name: 'vue-enderecos',
    components: {'select-2': Select2},
    props: ['pessoaId'],

    data() {
      return {
        action: 'add',
        cidadeId: '',
        item: {
          pessoa_id: this.pessoaId,
          estado_id: '',
          cidade_id: '',
          regiao_id: '',
          titulo: '',
          logradouro: '',
          bairro: '',
          numero: '',
          complemento: '',
          cep: '',
          referencia: '',
          principal: '0'
        },
        cadastrados: [],
        estados: [],
        cidades: [],
        regioes: [],
        viacep: {},
        errors: {},
      }
    },

    watch: {
      'item.estado_id': function (newValue, oldValue) {
        if (newValue != '') {
          this.getCidades(newValue);
        }
      },
      pessoaId: function (newValue, oldValue) {
        this.item.pessoa_id = newValue;
      },
      viacep: function (newCep, oldCep) {
        this.item.logradouro = newCep.logradouro;
        this.item.bairro = newCep.bairro;
        this.estados.forEach(e => {
          if (e.uf == newCep.uf) {
            this.item.estado_id = e.id;
          }
        });
        setTimeout(() => {
          this.cidades.forEach(e => {
            if (e.nome == newCep.localidade) {
              this.item.cidade_id = e.id;
            }
          });
        }, 3000);        
      }
    },

    mounted() {
      this.getEstados();
      this.getRegioes();
      this.getCadastrados();
      const vm = this;
      $('#cep').change(function () {
        vm.$emit('loading', true);
        const cep = $(this).val().replace(/\D/g, '');
        $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (data) {
          vm.viacep = data;
          vm.$emit('loading', false);
        })
      });
    },

    methods: {
      onSave() {
        this.$emit('loading', true);
        window.axios.post(`/gestao/enderecos`, this.item)
          .then(resp => {
            console.log(resp);
            this.$emit('loading', false);
            Helpers.msgAdd();
            this.getCadastrados();
            this.resetForm();
          })
          .catch(error => {
            this.errors = {};
            this.$emit('loading', false);
            if (error.response.status === 422) {
              this.errors = error.response.data.errors;
            } else {
              Helpers.msgErrorDefault();
            }
          });
      },

      onUpdate() {
        this.$emit('loading', true);
        window.axios.put(`/gestao/enderecos/${this.item.id}`, this.item)
          .then(resp => {
            console.log(resp);
            this.$emit('loading', false);
            Helpers.msgEdit();
            this.getCadastrados();
            this.resetForm();
          })
          .catch(error => {
            this.errors = {};
            this.$emit('loading', false);
            console.log(error.response);
            if (error.response.status === 422) {
              this.errors = error.response.data.errors;
            } else {
              Helpers.msgErrorDefault();
            }
          });
      },

      onRemove() {
        this.$emit('loading', true);
        window.axios.delete(`/gestao/enderecos/${this.item.id}`)
          .then(resp => {
            console.log(resp);
            this.$emit('loading', false);
            Helpers.msgRemove();
            this.getCadastrados();
            this.resetForm();
          })
          .catch(error => {
            this.errors = {};
            this.$emit('loading', false);
            console.log(error.response);
            if (error.response.status === 422) {
              this.errors = error.response.data.errors;
            } else {
              Helpers.msgErrorDefault();
            }
          });
      },

      edit(item) {
        this.item = item;
        this.cidadeId = item.cidade_id;
        this.action = 'edit';
        this.errors = {};
      },

      remove(item) {
        this.item = item;
        this.cidadeId = item.cidade_id;
        this.action = 'remove';
        this.errors = {};
      },

      getCadastrados() {
        this.$emit('loading', true);
        window.axios.get(`/gestao/enderecos/${this.pessoaId}`)
          .then(resp => {
            this.$emit('loading', false);
            this.cadastrados = resp.data;
          });
      },

      getEstados() {
        this.$emit('loading', true);
        window.axios.get('/gestao/enderecos/estados')
          .then(resp => {
            this.$emit('loading', false);
            this.estados = resp.data
          });
      },

      getCidades(estadoId) {
        this.$emit('loading', true);
        window.axios.get(`/gestao/enderecos/cidades/${estadoId}`)
          .then(resp => {
            this.$emit('loading', false);
            this.cidades = resp.data;
            this.item.cidade_id = this.cidadeId;
          });
      },

      getRegioes() {
        this.$emit('loading', true);
        window.axios.get(`/gestao/enderecos/regioes`)
          .then(resp => {
            this.$emit('loading', false);
            this.regioes = resp.data
          });
      },

      resetForm() {
        this.action = 'add';
        this.cidadeId = '';
        this.errors = {};
        this.item = {
          pessoa_id: this.pessoaId,
          estado_id: '',
          cidade_id: '',
          regiao_id: '',
          titulo: '',
          logradouro: '',
          bairro: '',
          numero: '',
          complemento: '',
          cep: '',
          referencia: '',
          principal: '0'
        }
      },
    }
  }
</script>