<template>
  <vue-box :title="title" id="grupo-permissoes" :loading="loading">
    <template slot="body">
      <div class="col-xs-12">
        <button type="button" @click="cancel" class="btn btn-default btn-flat pull-left" data-dismiss="modal">
          <i class="fa fa-ban"></i> Cancelar
        </button>
        <button type="button" @click="onSubmit" class="btn btn-primary btn-flat pull-right">
          <i class="fa fa-save"></i> Salvar
        </button>
      </div>
      <div v-for="(itens, grupo) in data" class="row">
        <hr class="col-xs-12">
        <h4 class="h4 col-xs-12 text-capitalize text-bold">{{grupo}}</h4>
        <div class="checkbox custom-checkbox col-xs-12 col-md-6 col-lg-4" v-for="(item, index) in itens">
          <label>
            <input type="checkbox" @click="onClick($event)" :name="item.action" :value="item.id"
                   v-model="sync"> {{item.method}}
          </label>
        </div>
      </div>
    </template>
    <template slot="footer" class="btn-permissions">
      <button type="button" @click="cancel" class="btn btn-default btn-flat pull-left" data-dismiss="modal">
        <i class="fa fa-ban"></i> Cancelar
      </button>
      <button type="button" @click="onSubmit" class="btn btn-primary btn-flat pull-right">
        <i class="fa fa-save"></i> Salvar
      </button>
    </template>
  </vue-box>
</template>

<script>
  import Helpers from '../../helpers/helpers';

  export default {
    name: 'vue-grupo-permissoes',
    props: ['baseUrl'],
    data() {
      return {
        data: {},
        grupo: {
          id: null,
          nome: null,
          descricao: null,
          permissoes: []
        },
        sync: [],
        loading: false
      }
    },
    computed: {
      title() {
        return this.grupo.nome + ' - Permissões';
      },
    },

    watch: {
      grupo(newGrupo, oldGrupo) {
        this.sync = [];
        if (newGrupo.permissoes.length > 0) {
          newGrupo.permissoes.forEach(grupo => {
            this.sync.push(grupo.id);
          })
        }
      }
    },

    mounted() {
      this.getData();
      this.$bus.$on('grupo-permissoes-sync', grupo => {
        this.grupo = grupo;
        this.getData();
      });

    },

    methods: {
      getData() {
        this.loading = true;
        window.axios.get(`${this.baseUrl}/lista-permissoes`)
          .then(resp => {
            this.data = resp.data;
            this.loading = false;
          });
      },

      onSubmit() {
        window.axios.put(`${this.baseUrl}/sync-grupo-permissoes/${this.grupo.id}`, this.sync)
          .then(resp => {
            Helpers.msgEdit();
            this.$bus.$emit('grupo-permissoes-submit');
          })
      },

      cancel() {
        this.$bus.$emit('grupo-permissoes-cancel');
      },

      onClick(event, item) {
        if(event.target.checked == true){
          this.sync.push(parseInt(event.target.value));
        }else{
          this.sync.splice(this.sync.indexOf(parseInt(event.target.value)), 1);
        }
      },
    }
  }
</script>