<template>
  <div class="box" id="grupos-form">
    <div class="box-header with-border">
      <h3 v-if="action == 'add'" class="box-title"><i class="fa fa-plus"></i> Adicionar
      </h3>
      <h3 v-else-if="action == 'edit'" class="box-title">
        <i class="fa fa-pencil"></i> Editar dados
      </h3>
      <h3 v-else-if="action == 'remove'" class="box-title text-danger">
        <i class="fa fa-trash"></i> Deseja remover esses dados?
      </h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                title="Collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div :class="['form-group', 'col-xs-12', 'col-md-4',{'has-error': !!errors.nome}]">
          <label>Nome</label>
          <input type="text" class="form-control" v-model="item.nome">
          <span v-if="!!errors.nome" class="small text-danger">{{errors.nome[0]}}</span>
        </div>
        <div :class="['form-group', 'col-xs-12', 'col-md-4',{'has-error': !!errors.dashboard}]">
          <label>Painel Padrão</label>
          <select-2 v-model="item.dashboard">
            <option disabled value="">Selecione...</option>
            <option v-for="dash in dashboards" :value="dash.action">
              {{dash.dashboard}}
            </option>
          </select-2>
          <span v-if="!!errors.dashboard" class="small text-danger">{{errors.dashboard[0]}}</span>
        </div>        
        <div :class="['form-group', 'col-xs-12',{'has-error': !!errors.descricao}]">
          <label>Descrição</label>
          <input type="text" class="form-control" v-model="item.descricao">
          <span v-if="!!errors.descricao" class="small text-danger">{{errors.descricao[0]}}</span>
        </div>        
      </div>
    </div>
    <!--box-body-->
    <div class="box-footer">
      <button type="button" @click="cancel" class="btn btn-default btn-flat pull-left" data-dismiss="modal">
        <i class="fa fa-ban"></i> Cancelar
      </button>
      <button v-if="action != 'remove'" type="button" @click="onSubmit" class="btn btn-primary btn-flat pull-right">
        <i class="fa fa-save"></i> Salvar
      </button>
      <button v-else type="button" @click="onSubmit" class="btn btn-danger btn-flat pull-right">
        <i class="fa fa-trash"></i> Remover
      </button>
    </div>
    <div v-if="loading" class="overlay">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
</template>

<script>
  import Select2 from '../Select2';
  import helpers from '../../helpers/helpers';

  export default {
    name: 'vue-grupos-form',
    components: {'select-2': Select2},
    props: ['baseUrl', 'mapDashboards'],
    data() {
      return {
        action: null,
        item: {
          nome: null,
          descricao: null,
          dashboard: ''
        },
        errors: {},
        loading: false
      }
    },
    
    computed: {
      dashboards(){
        return this.mapDashboards;
      }
    },

    mounted() {
      this.$bus.$on('grupo-form-action', obj => {
        this.action = obj.action;
        this.resetForm();
        if (obj.item) {
          this.item = obj.item;
        }
      });
    },

    methods: {
      onSubmit() {
        this.loading = true;
        this.submitAction().then(resp => {
          this.resetForm();
          this.loading = false;
          this.$bus.$emit('grupo-form-submit', {action: this.action});
        }).catch(error => {
          this.errors = {};
          this.loading = false;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          } else if (error.response.status === 409) {
            window.toastr.error(error.response.data.error);
          } else {
            helpers.msgErrorDefault();
          }
        });
      },
      submitAction() {
        switch (this.action) {
          case 'add':
            return window.axios.post(this.baseUrl, this.item);
          case 'edit':
            return window.axios.put(`${this.baseUrl}/${this.item.id}`, this.item);
          case 'remove':
            return window.axios.delete(`${this.baseUrl}/${this.item.id}`);
        }
      },
      cancel() {
        this.resetForm();
        this.$bus.$emit('grupo-form-cancel');
      },
      resetForm() {
        this.errors = {};
        this.item = {
          nome: null,
          descricao: null,
          dashboard: ''
        };
      }
    }
  }
</script>