<template>
  <div>
    <div class="row">
      <div class="col-xs-12">        
        <vue-box id="box-list" title="Lista" :loading="loading">
          <template slot="body">
            <p>
              <b class="legenda">Legenda: </b>
              <span class="legenda"><i class="fa fa-user text-green"></i> Cliente</span>
              <span class="legenda"><i class="fa fa-user text-aqua"></i> Funcionário </span>
              <span class="legenda"><i class="fa fa-handshake-o text-maroon"></i> Fornecedor </span>
              <span class="legenda"><i class="fa fa-truck text-yellow"></i> Transportador </span>
              <span class="legenda"><i class="fa fa-user text-yellow"></i> Prestador Serviço </span>
              <span class="pull-right">
                <btn type="primary" class="btn-flat btn-xs" @click="add('1')">
                  <i class="fa fa-user-plus"></i> Pessoa Física
                </btn>
                <btn type="primary" class="btn-flat btn-xs" @click="add('2')">
                  <i class="fa fa-user-plus"></i> Pessoa Jurídica
                </btn>
              </span>
            </p>
            <vue-data-table p-class="table-hover" :source="data" :per-page="configs.perPage">
              <template>
                <thead>
                <tr>
                  <th class="text-center" style="width: 50px;">#</th>
                  <th @click="order('nome')" class="orderBy">
                    Nome
                    <i v-if="configs.orderBy == 'nome'"
                       :class="['fa', {'fa-sort-amount-asc': configs.order == 1,
                           'fa-sort-amount-desc': configs.order == -1}]"></i>
                  </th>
                  <th>CPF/CNPJ</th>
                  <th class="text-center">Pessoa</th>
                  <th class="text-center">Tipo Registro</th>
                  <!--<th class="text-center">Status</th>-->
                  <th class="text-right" style="width: 80px;">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in orderBy(data.data, configs.orderBy, configs.order)">
                  <td class="text-center">{{item.id}}</td>
                  <td>{{item.nome}}</td>
                  <td style="width: 160px;" v-if="item.tipo_pessoa_id === 1">{{item.fisica.cpf | documento('cpf')}}</td>
                  <td style="width: 160px;" v-if="item.tipo_pessoa_id === 2">{{item.juridica.cnpj | documento('cnpj')}}</td>
                  <td class="text-center">{{item.tipo_pessoa_id === 1 ? 'Física' : 'Jurídica'}}</td>
                  <td class="text-center">
                    <span v-for="padrao in item.padrao">
                      <span v-if="padrao.id == 1"><i class="fa fa-user text-green legenda" data-toggle="tooltip" data-placement="top" title="Cliente"></i> </span>
                      <span v-if="padrao.id == 2"><i class="fa fa-user text-aqua legenda" data-toggle="tooltip" data-placement="top" title="Funcionário"></i> </span>
                      <span v-if="padrao.id == 3"><i class="fa fa-handshake-o text-maroon legenda" data-toggle="tooltip" data-placement="top" title="Fornecedor"></i> </span>
                      <span v-if="padrao.id == 4"><i class="fa fa-truck text-yellow legenda" data-toggle="tooltip" data-placement="top" title="Transportador"></i> </span>
                      <span v-if="padrao.id == 5"><i class="fa fa-user text-yellow legenda" data-toggle="tooltip" data-placement="top" title="Prestador Serviço"></i> </span>
                    </span>
                  </td>
                  <!--<td v-if="item.funcionario" :class="['text-center', {'bg-red': item.funcionario.status == 0}]">
                    {{item.funcionario.status == 1 ? 'Ativo' : 'Inativo como funcionário'}}
                  </td>
                  <td v-else class="text-center">Ativo</td>-->
                  <td class="btn-actions">
                    <button type="button" @click="edit(item)" class="btn btn-warning btn-xs btn-flat"
                            data-toggle="tooltip" data-placement="left" title="Editar"><i class="fa fa-pencil"></i>
                    </button>&nbsp;&nbsp;
                    <!--<button type="button" @click="remove(item)" class="btn btn-danger btn-xs btn-flat"
                            data-toggle="tooltip" data-placement="left" title="Deletar"><i class="fa fa-trash"></i>
                    </button>-->
                  </td>
                </tr>
                </tbody>                
              </template>
            </vue-data-table>
          </template>
        </vue-box>
      </div>
    </div>

    <div class="row">
      <vue-pessoas-form v-show="showForm"></vue-pessoas-form>
    </div>

  </div>
</template>

<script>
  import Helpers from '../../helpers/helpers';
  import PessoasForm from './PessoasForm';

  export default {
    name: 'vue-pessoas',
    components: {'vue-pessoas-form': PessoasForm},

    data() {
      return {
        data: [],
        configs: {
          orderBy: 'nome',
          order: 1,
          perPage: 15,
          search: '',
        },
        loading: true,
        showForm: false,
      }
    },

    mounted() {
      this.getData();
      this.$bus.$on('pessoas-form-submit', obj => {
        this.getData();
      });
      this.$bus.$on('pessoas-form-cancel', () => {
        this.showForm = false;
        $('#box-list').boxWidget('expand');
      });
      this.$bus.$on('data-table', obj => {
        if (obj.page) {
          this.getData(obj.page);
        }
        if (obj.perPage) {
          this.configs.perPage = obj.perPage;
          this.getData();
        }
        if (obj.search != null) {
          this.configs.search = obj.search;
          this.getData();
        }
      });      
    },

    methods: {      
      getData(page = 1) {
        this.loading = true;
        let url = `/gestao/pessoas/lista/${this.configs.perPage}?page=${page}`;
        if (this.configs.search !== '') {
          url = `/gestao/pessoas/lista/${this.configs.perPage}?page=${page}&search=${this.configs.search}`;
        }
        window.axios.get(url)
          .then(resp => {
            this.data = resp.data;
            this.perPage = resp.data.per_page;
            this.loading = false;
          })
          .catch(error => {
            Helpers.msgErrorDefault();
          });
      },
      order(orderBy) {
        this.configs.orderBy = orderBy;
        this.configs.order = (this.configs.order == 1) ? -1 : 1;
      },
      add(tipoPessoa) {
        $('#box-list').boxWidget('collapse');
        this.showForm = true;
        this.$bus.$emit('pessoas-form-action', {action: 'add', tipoPessoa: tipoPessoa});
      },
      edit(item) {
        $('#box-list').boxWidget('collapse');
        this.showForm = true;
        this.$bus.$emit('pessoas-form-action', {action: 'edit', item: item});
      },
      remove(item) {
        $('#box-list').boxWidget('collapse');
        this.showForm = true;
        this.$bus.$emit('pessoas-form-action', {action: 'remove', item: item});
      },
    },
  }
</script>
