<template>
  <div class="col-xs-12">
    <div class="box" id="produtos-form">
      <div class="box-header with-border">
        <h3 v-if="action == 'add'" class="box-title">
          <i class="fa fa-plus"></i> Adicionar Pessoa {{tipoPessoa == '1' ? 'Física' : 'Jurídica'}}
        </h3>
        <h3 v-if="action == 'edit'" class="box-title">
          <i class="fa fa-pencil"></i> Editar Pessoa {{tipoPessoa == '1' ? 'Física' : 'Jurídica'}}
        </h3>
        <h3 v-if="action == 'remove'" class="box-title text-danger">
          <i class="fa fa-trash"></i> Deseja remover esses dados?
        </h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                  title="Collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div :class="['form-group col-xs-12',{'has-error': padrao_id.length == 0}]">
            <label>Funções no sistema</label> <br>
            <label class="legenda">
              <input type="checkbox" value="1" v-model="padrao_id" @click="onSelectPadrao($event)"><i
              class="fa fa-user text-green"></i> Cliente
            </label>
            <label v-if="tipoPessoa == '1'" class="legenda">
              <input type="checkbox" value="2" v-model="padrao_id" @click="onSelectPadrao($event)"><i
              class="fa fa-user text-aqua"></i> Funcionário
            </label>
            <label class="legenda">
              <input type="checkbox" value="3" v-model="padrao_id" @click="onSelectPadrao($event)"><i
              class="fa fa-handshake-o text-maroon"></i> Fornecedor
            </label>
            <label class="legenda">
              <input type="checkbox" value="4" v-model="padrao_id" @click="onSelectPadrao($event)"><i
              class="fa fa-truck text-yellow"></i> Transportador
            </label>
            <label class="legenda">
              <input type="checkbox" value="5" v-model="padrao_id" @click="onSelectPadrao($event)"><i
              class="fa fa-user text-yellow"></i> Prestador Serviço
            </label>
            <p v-if="padrao_id.length == 0" class="text-danger">Deve escolher uma ou mais funções.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
              <li v-show="tipoPessoa == '1'" role="presentation" class="active">
                <a href="#fisica" aria-controls="fisica" role="tab" data-toggle="tab">Dados Pessoais</a>
              </li>
              <li v-show="tipoPessoa == '2'" role="presentation" class="active">
                <a href="#juridica" aria-controls="juridica" role="tab" data-toggle="tab">Dados da Empresa</a>
              </li>
              <li role="presentation">
                <a v-show="pessoaId" href="#endereco" disabled aria-controls="endereco" role="tab" data-toggle="tab">Endereço</a>
                <a v-show="!pessoaId" href="javascript:void(0)">Endereço</a>
              </li>
              <li role="presentation">
                <a v-show="pessoaId" href="#contato" aria-controls="contato" role="tab" data-toggle="tab">Contato</a>
                <a v-show="!pessoaId" href="javascript:void(0)">Contato</a>
              </li>
            </ul>
            <div class="tab-content">
              <div v-show="tipoPessoa == '1'" role="tabpanel" class="tab-pane active" id="fisica">
                <br>
                <div v-if="isTransportador" class="row">
                  <div :class="['form-group', 'col-xs-6', 'col-md-4', {'has-error': !!errorsFisica.codigo_antt}]">
                    <label>Código ANTT</label>
                    <input type="text" class="form-control" v-model="fisica.codigo_antt">
                    <span v-if="!!errorsFisica.codigo_antt"
                          class="small text-danger">{{errorsFisica.codigo_antt[0]}}</span>
                  </div>

                  <div
                    :class="['form-group', 'col-xs-6', 'col-md-4', {'has-error': !!errorsJuridica.cadastro_nacional}]">
                    <label>Cadastro Nacional</label>
                    <input type="text" class="form-control" v-model="juridica.cadastro_nacional">
                    <span v-if="!!errorsJuridica.cadastro_nacional"
                          class="small text-danger">{{errorsJuridica.cadastro_nacional[0]}}</span>
                  </div>
                </div>

                <div class="row">
                  <div :class="['form-group', 'col-xs-12', 'col-md-8', {'has-error': !!errorsFisica.nome}]">
                    <label>Nome*</label>
                    <input type="text" class="form-control" v-model="fisica.nome">
                    <span v-if="!!errorsFisica.nome" class="small text-danger">{{errorsFisica.nome[0]}}</span>
                  </div>

                  <div :class="['form-group', 'col-xs-12', 'col-md-4', {'has-error': !!errorsFisica.cpf}]">
                    <label>CPF*</label>
                    <the-mask type="text" class="form-control" :mask="'###.###.###-##'" v-model="fisica.cpf"></the-mask>
                    <span v-if="!!errorsFisica.cpf" class="small text-danger">{{errorsFisica.cpf[0]}}</span>
                  </div>
                </div>

                <div class="row">
                  <div :class="['form-group', 'col-xs-12 col-md-4',{'has-error': !!errorsFisica.sexo}]">
                    <label>Sexo</label>
                    <select v-model="fisica.sexo" class="form-control">
                      <option disabled value="">Selecione...</option>
                      <option value="F">Feminino</option>
                      <option value="M">Masculino</option>
                    </select>
                    <span v-if="!!errorsFisica.sexo" class="small text-danger">{{errorsFisica.sexo[0]}}</span>
                  </div>

                  <div :class="['form-group', 'col-xs-12', 'col-md-4', {'has-error': !!errorsFisica.identidade}]">
                    <label>Identidade</label>
                    <input type="text" class="form-control" v-model="fisica.identidade">
                    <span v-if="!!errorsFisica.identidade"
                          class="small text-danger">{{errorsFisica.identidade[0]}}</span>
                  </div>

                  <div :class="['form-group', 'col-xs-12 col-md-4',{'has-error': !!errorsFisica.tipo_identidade_id}]">
                    <label>Tipo Identidade</label>
                    <select-2 v-model="fisica.tipo_identidade_id" class="form-control">
                      <option disabled value="">Selecione...</option>
                      <option v-for="tipoId in tipoIdentidades" :value="tipoId.id">{{tipoId.titulo}} -
                        {{tipoId.emissor}} - {{tipoId.sigla}}
                      </option>
                    </select-2>
                    <span v-if="!!errorsFisica.tipo_identidade_id" class="small text-danger">{{errorsFisica.tipo_identidade_id[0]}}</span>
                  </div>
                </div>

                <div class="row">
                  <div :class="['form-group', 'col-xs-12 col-md-4',{'has-error': !!errorsFisica.estado_civil}]">
                    <label>Estado Civil</label>
                    <select v-model="fisica.estado_civil" class="form-control">
                      <option disabled value="">Selecione...</option>
                      <option value="S">Solteiro</option>
                      <option value="C">Casado</option>
                      <option value="D">Divorciado</option>
                    </select>
                    <span v-if="!!errorsFisica.estado_civil"
                          class="small text-danger">{{errorsFisica.estado_civil[0]}}</span>
                  </div>

                  <div :class="['form-group', 'col-xs-12', 'col-md-4', {'has-error': !!errorsFisica.nascimento}]">
                    <label>Data Nascimento</label>
                    <input type="date" class="form-control" v-model="fisica.nascimento" min="1920-01-01"
                           max="2050-01-01">
                    <span v-if="!!errorsFisica.nascimento"
                          class="small text-danger">{{errorsFisica.nascimento[0]}}</span>
                  </div>

                  <div :class="['form-group', 'col-xs-12 col-md-4',{'has-error': !!errorsFisica.nacionalidade}]">
                    <label>Nacionalidade</label>
                    <select v-model="fisica.nacionalidade" class="form-control">
                      <option disabled value="">Selecione...</option>
                      <option value="B">Brasileira</option>
                      <option value="E">Extrangeira</option>
                      <option value="N">Naturalizado</option>
                    </select>
                    <span v-if="!!errorsFisica.nacionalidade" class="small text-danger">{{errorsFisica.nacionalidade[0]}}</span>
                  </div>
                </div>

                <div class="row">
                  <div v-if="isCliente"
                       :class="['form-group', 'col-xs-12', 'col-md-4', {'has-error': !!errorsFisica.renda_mensal}]">
                    <label>Renda Mensal</label>
                    <money class="form-control" v-model="fisica.renda_mensal"></money>
                    <span v-if="!!errorsFisica.renda_mensal"
                          class="small text-danger">{{errorsFisica.renda_mensal[0]}}</span>
                  </div>                  

                  <div v-if="isFuncionario"
                       :class="['form-group', 'col-xs-12', 'col-md-4', {'has-error': !!errorsFisica.data_admissao}]">
                    <label>Data Admissão</label>
                    <input type="date" class="form-control" v-model="fisica.data_admissao" min="1920-01-01"
                           max="2050-01-01">
                    <span v-if="!!errorsFisica.data_admissao"
                          class="small text-danger">{{errorsFisica.data_admissao[0]}}</span>
                  </div>
                  
                  <div v-if="isFuncionario" class="form-group col-xs-12 col-md-4">
                    <label>Estado no Sistema</label>
                    <select v-model="fisica.status" class="form-control">
                      <option value="1">Ativo</option>
                      <option value="0">Inativo</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <button v-if="!pessoaId && action != 'remove'" type="button" @click="savePessoaFisica"
                            class="btn btn-primary btn-flat pull-right" :disabled="padrao_id.length == 0">
                      <i class="fa fa-floppy-o"></i> Salvar dados pessoais
                    </button>
                    <button v-if="pessoaId && action != 'remove'" type="button" @click="updatePessoaFisica"
                            class="btn btn-warning btn-flat pull-right" :disabled="padrao_id.length == 0">
                      <i class="fa fa-floppy-o"></i> Atualizar dados pessoais
                    </button>
                  </div>
                </div>
              </div><!-- Pessoa física form-->

              <div v-show="tipoPessoa == '2'" role="tabpanel" class="tab-pane active" id="juridica">
                <br>
                <div v-if="isTransportador" class="row">
                  <div :class="['form-group', 'col-xs-6', 'col-md-4', {'has-error': !!errorsJuridica.codigo_antt}]">
                    <label>Código ANTT</label>
                    <input type="text" class="form-control" v-model="juridica.codigo_antt">
                    <span v-if="!!errorsJuridica.codigo_antt" class="small text-danger">{{errorsJuridica.codigo_antt[0]}}</span>
                  </div>

                  <div
                    :class="['form-group', 'col-xs-6', 'col-md-4', {'has-error': !!errorsJuridica.cadastro_nacional}]">
                    <label>Cadastro Nacional</label>
                    <input type="text" class="form-control" v-model="juridica.cadastro_nacional">
                    <span v-if="!!errorsJuridica.cadastro_nacional"
                          class="small text-danger">{{errorsJuridica.cadastro_nacional[0]}}</span>
                  </div>
                </div>

                <div class="row">
                  <div :class="['form-group', 'col-xs-12', 'col-md-5', {'has-error': !!errorsJuridica.nome}]">
                    <label>Nome*</label>
                    <input type="text" class="form-control" v-model="juridica.nome">
                    <span v-if="!!errorsJuridica.nome" class="small text-danger">{{errorsJuridica.nome[0]}}</span>
                  </div>

                  <div :class="['form-group', 'col-xs-12', 'col-md-7', {'has-error': !!errorsJuridica.razao_social}]">
                    <label>Razão Social</label>
                    <input type="text" class="form-control" v-model="juridica.razao_social">
                    <span v-if="!!errorsJuridica.razao_social"
                          class="small text-danger">{{errorsJuridica.razao_social[0]}}</span>
                  </div>
                </div>

                <div class="row">
                  <div :class="['form-group', 'col-xs-12', 'col-md-4', {'has-error': !!errorsJuridica.cnpj}]">
                    <label>CNPJ*</label>
                    <the-mask type="text" class="form-control" :mask="'##.###.###/####-##'" v-model="juridica.cnpj"></the-mask>
                    <span v-if="!!errorsJuridica.cnpj" class="small text-danger">{{errorsJuridica.cnpj[0]}}</span>
                  </div>

                  <div
                    :class="['form-group', 'col-xs-12', 'col-md-4', {'has-error': !!errorsJuridica.inscricao_estadual}]">
                    <label>Inscrição Estadual</label>
                    <input type="text" class="form-control" v-model="juridica.inscricao_estadual">
                    <span v-if="!!errorsJuridica.inscricao_estadual"
                          class="small text-danger">{{errorsJuridica.inscricao_estadual[0]}}</span>
                  </div>

                  <div
                    :class="['form-group', 'col-xs-12', 'col-md-4', {'has-error': !!errorsJuridica.inscricao_municipal}]">
                    <label>Inscrição Municipal</label>
                    <input type="text" class="form-control" v-model="juridica.inscricao_municipal">
                    <span v-if="!!errorsJuridica.inscricao_municipal"
                          class="small text-danger">{{errorsJuridica.inscricao_municipal[0]}}</span>
                  </div>
                </div>

                <div class="row">
                  <div
                    :class="['form-group', 'col-xs-12', 'col-md-4', {'has-error': !!errorsJuridica.endereco_eletronico}]">
                    <label>E-mail</label>
                    <input type="email" class="form-control" v-model="juridica.endereco_eletronico">
                    <span v-if="!!errorsJuridica.endereco_eletronico"
                          class="small text-danger">{{errorsJuridica.endereco_eletronico[0]}}</span>
                  </div>

                  <div :class="['form-group', 'col-xs-12', 'col-md-4', {'has-error': !!errorsJuridica.nome_contato}]">
                    <label>Nome do Responsável</label>
                    <input type="text" class="form-control" v-model="juridica.nome_contato">
                    <span v-if="!!errorsJuridica.nome_contato"
                          class="small text-danger">{{errorsJuridica.nome_contato[0]}}</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <button v-if="!pessoaId && action != 'remove'" type="button" @click="savePessoaJuridica"
                            class="btn btn-primary btn-flat pull-right" :disabled="padrao_id.length == 0">
                      <i class="fa fa-floppy-o"></i> Salvar dados da Empresa
                    </button>
                    <button v-if="pessoaId && action != 'remove'" type="button" @click="updatePessoaJuridica"
                            class="btn btn-warning btn-flat pull-right" :disabled="padrao_id.length == 0">
                      <i class="fa fa-floppy-o"></i> Atualizar dados da Empresa
                    </button>
                  </div>
                </div>
              </div>
              <!-- Pessoa jurídica form -->

              <div role="tabpanel" class="tab-pane" id="endereco">
                <vue-enderecos v-if="pessoaId" :pessoa-id="pessoaId" @loading="loadingEvent"></vue-enderecos>
              </div>

              <div role="tabpanel" class="tab-pane" id="contato">
                <vue-contatos v-if="pessoaId" :pessoa-id="pessoaId" :tipo-cliente="tipoPessoa"
                              @loading="loadingEvent"></vue-contatos>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--box-body-->
      <div class="box-footer">
        <button type="button" @click="cancel" class="btn btn-default btn-flat pull-left" data-dismiss="modal">
          <i class="fa fa-ban"></i> Fechar/Cancelar
        </button>
        <button v-if="action == 'remove'" type="button" @click="removePessoa"
                class="btn btn-danger btn-flat pull-right">
          <i class="fa fa-trash"></i> Remover
        </button>
      </div>
      <div v-if="loading" class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div>
</template>

<script>
  import Select2 from '../Select2';
  import Enderecos from './Enderecos';
  import Contatos from './Contatos';
  import Helpers from '../../helpers/helpers';

  export default {
    name: 'vue-pessoas-form',
    components: {'select-2': Select2, 'vue-enderecos': Enderecos, 'vue-contatos': Contatos},

    data() {
      return {
        action: null,
        tipoPessoa: '1',
        pessoaId: null,
        padrao_id: [1],
        item: {},
        fisica: {
          nome: '',
          padrao_id: [1],
          tipo_pessoa_id: 1,
          status: 1,
          cpf: '',
          sexo: 'M',
          identidade: '',
          tipo_identidade_id: '',
          estado_civil: 'S',
          nascimento: '',
          nacionalidade: 'B',
          renda_mensal: '',
          data_admissao: '',
          codigo_antt: '',
          cadastro_nacional: ''
        },
        juridica: {
          nome: '',
          padrao_id: [1],
          tipo_pessoa_id: 2,
          status: 1,
          razao_social: '',
          cnpj: '',
          inscricao_estadual: '',
          inscricao_municipal: '',
          nome_contato: '',
          endereco_eletronico: '',
          codigo_antt: '',
          cadastro_nacional: ''
        },
        tipoIdentidades: {},
        errorsFisica: {},
        errorsJuridica: {},
        loading: false
      }
    },

    computed: {
      isCliente() {
        return this.padrao_id.some(e => e == 1);
      },
      isFuncionario() {
        return this.padrao_id.some(e => e == 2);
      },
      isTransportador() {
        return this.padrao_id.some(e => e == 4);
      }
    },

    mounted() {
      this.getTipoIdentidade();
      this.$bus.$on('pessoas-form-action', obj => {
        this.action = obj.action;
        obj.action == 'add' ? this.tipoPessoa = obj.tipoPessoa : '';
        this.resetForm();
        if (obj.item) {
          this.item = obj.item;
          this.changeItem(obj.item);
        }
      });
    },

    methods: {
      getTipoIdentidade() {
        window.axios.get('/gestao/pessoas/tipo-identidades')
          .then(resp => this.tipoIdentidades = resp.data);
      },

      savePessoaFisica() {
        this.loading = true;
        window.axios.post(`/gestao/pessoas/${this.tipoPessoa}`, this.fisica)
          .then(resp => {
            this.emitEventSubmit();
            this.resetErros();
            this.loading = false;
            this.pessoaId = resp.data.id;
            $('.nav-tabs a[href="#endereco"]').tab('show');
            console.log(resp);
          })
          .catch(error => {
            console.log(error.response);
            this.resetErros();
            this.loading = false;
            if (error.response.status === 422) {
              this.errorsFisica = error.response.data.errors;
            } else {
              Helpers.msgErrorDefault();
            }
          });
      },

      savePessoaJuridica() {
        this.loading = true;
        window.axios.post(`/gestao/pessoas/${this.tipoPessoa}`, this.juridica)
          .then(resp => {
            this.emitEventSubmit();
            this.resetErros();
            this.loading = false;
            this.pessoaId = resp.data.id;
            $('.nav-tabs a[href="#endereco"]').tab('show');
            console.log(resp);
          })
          .catch(error => {
            this.resetErros();
            this.loading = false;
            if (error.response.status === 422) {
              this.errorsJuridica = error.response.data.errors;
            } else {
              Helpers.msgErrorDefault();
            }
          });
      },

      updatePessoaFisica() {
        this.loading = true;
        window.axios.put(`/gestao/pessoas/${this.tipoPessoa}/${this.pessoaId}`, this.fisica)
          .then(resp => {
            this.emitEventSubmit();
            this.resetErros();
            this.loading = false;
            Helpers.msgEdit();
          })
          .catch(error => {
            console.log(error.response);
            this.resetErros();
            this.loading = false;
            if (error.response.status === 422) {
              this.errorsFisica = error.response.data.errors;
            } else {
              Helpers.msgErrorDefault();
            }
          });
      },

      updatePessoaJuridica() {
        this.loading = true;
        window.axios.put(`/gestao/pessoas/${this.tipoPessoa}/${this.pessoaId}`, this.juridica)
          .then(resp => {
            this.emitEventSubmit();
            this.resetErros();
            this.loading = false;
            Helpers.msgEdit();
          })
          .catch(error => {
            this.resetErros();
            this.loading = false;
            if (error.response.status === 422) {
              this.errorsJuridica = error.response.data.errors;
            } else {
              Helpers.msgErrorDefault();
            }
          });
      },

      removePessoa() {

      },

      changeItem(item) {
        this.pessoaId = item.id;
        this.tipoPessoa = `${item.tipo_pessoa_id}`;
        const troca = [];
        item.padrao.forEach(el => troca.push(el.id));
        this.padrao_id = troca;

        if (item.tipo_pessoa_id === 1) {
          this.fisica = {
            nome: item.nome,
            padrao_id: troca,
            tipo_pessoa_id: item.tipo_pessoa_id,
            status: item.funcionario ? item.funcionario.status : '1',
            cpf: item.fisica.cpf,
            sexo: item.fisica.sexo,
            identidade: item.fisica.identidade,
            tipo_identidade_id: item.fisica.tipo_identidade_id,
            estado_civil: item.fisica.estado_civil,
            nascimento: item.fisica.nascimento,
            nacionalidade: item.fisica.nacionalidade,
            renda_mensal: item.fisica.renda_mensal,
            data_admissao: item.fisica.data_admissao,
            codigo_antt: item.transportador ? item.transportador.codigo_antt : '',
            cadastro_nacional: item.transportador ? item.transportador.cadastro_nacional : ''
          }
        } else {
          this.juridica = {
            nome: item.nome,
            padrao_id: troca,
            tipo_pessoa_id: item.tipo_pessoa_id,
            status: item.funcionario ? item.funcionario.status : '1',
            razao_social: item.juridica.razao_social,
            cnpj: item.juridica.cnpj,
            inscricao_estadual: item.juridica.inscricao_estadual,
            inscricao_municipal: item.juridica.inscricao_municipal,
            nome_contato: item.juridica.nome_contato,
            endereco_eletronico: item.juridica.endereco_eletronico,
            codigo_antt: item.transportador ? item.transportador.codigo_antt : '',
            cadastro_nacional: item.transportador ? item.transportador.cadastro_nacional : ''
          }
        }
      },

      cancel() {
        this.resetForm();
        this.pessoaId = null;
        this.$bus.$emit('pessoas-form-cancel');
      },

      emitEventSubmit() {
        this.$bus.$emit('pessoas-form-submit');
      },

      onSelectPadrao(event) {
        if (event.target.checked == true) {
          this.fisica.padrao_id.push(parseInt(event.target.value));
          this.juridica.padrao_id.push(parseInt(event.target.value));
        } else {
          this.fisica.padrao_id.splice(this.fisica.padrao_id.indexOf(parseInt(event.target.value)), 1);
          this.juridica.padrao_id.splice(this.juridica.padrao_id.indexOf(parseInt(event.target.value)), 1);
        }
      },

      resetErros() {
        this.errorsFisica = {};
        this.errorsJuridica = {};
      },

      resetForm() {
        this.errorsFisica = {};
        this.errorsJuridica = {};
        this.pessoaId = null;
        this.fisica = {
          nome: '',
          padrao_id: [1],
          tipo_pessoa_id: 1,
          status: 1,
          cpf: '',
          sexo: 'M',
          identidade: '',
          tipo_identidade_id: '',
          estado_civil: 'S',
          nascimento: '',
          nacionalidade: 'B',
          renda_mensal: '',
          data_admissao: ''
        };
        this.juridica = {
          nome: '',
          padrao_id: [1],
          tipo_pessoa_id: 2,
          status: 1,
          razao_social: '',
          cnpj: '',
          inscricao_estadual: '',
          inscricao_municipal: '',
          nome_contato: '',
          endereco_eletronico: ''
        };
      },

      loadingEvent(value) {
        this.loading = value;
      }
    }
  }
</script>