<template>
  <div class="col-xs-12">
    <div class="box" id="users-form">
      <div class="box-header with-border">
        <h3 v-if="action == 'add'" class="box-title"><i class="fa fa-user-plus"></i> Adicionar
        </h3>
        <h3 v-else-if="action == 'edit'" class="box-title">
          <i class="fa fa-pencil"></i> Editar
        </h3>
        <h3 v-else-if="action == 'remove'" class="box-title text-danger">
          <i class="fa fa-trash"></i> Deseja remover esses dados?
        </h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                  title="Collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div :class="['form-group', 'col-xs-12', 'col-md-4', {'has-error': !!errors.apelido}]">
            <label>Apelido</label>
            <input type="text" class="form-control" v-model="item.apelido">
            <span v-if="!!errors.apelido" class="small text-danger">{{errors.apelido[0]}}</span>
          </div>
          <div :class="['form-group', 'col-xs-12', 'col-md-4', {'has-error': !!errors.email}]">
            <label>Email</label>
            <input type="email" class="form-control" v-model="item.email">
            <span v-if="!!errors.email" class="small text-danger">{{errors.email[0]}}</span>
          </div>
        </div>

        <div v-if="action != 'remove'" class="row">
          <div :class="['form-group', 'col-xs-12', 'col-md-4', {'has-error': !!errors.password}]">
            <label v-if="action == 'add'">Senha</label>
            <label v-if="action == 'edit'">Nova Senha</label>
            <input type="password" class="form-control" v-model="item.password">
            <span v-if="!!errors.password" class="small text-danger">{{errors.password[0]}}</span>
          </div>
          <div :class="['form-group', 'col-xs-12', 'col-md-4', {'has-error': !!errors.password}]">
            <label v-if="action == 'add'">Confirmar senha</label>
            <label v-if="action == 'edit'">Confirmar nova senha</label>
            <input type="password" class="form-control" v-model="item.password_confirmation">
          </div>
          <p v-if="action == 'edit'" class="col-xs-12 small">
            Preencha os campos <strong>Nova Senha</strong> e <strong>Confirmar nova senha</strong> apenas se
            você quiser mudar a senha atual.
          </p>
        </div>

        <div class="row">
          <div class="form-group col-xs-12 col-md-6">
            <label>Associar funcionário</label>
            <select-2 v-model="item.pessoa_id" class="form-control">
              <option value="">Nenhum</option>
              <option v-for="funcionario in funcionarios" :value="funcionario.id">{{funcionario.nome}}</option>
            </select-2>
          </div>
          <div :class="['form-group', 'col-xs-12', 'col-md-3', {'has-error': !!errors.grupo_id}]">
            <label>Grupo</label>
            <select class="form-control" name="grupo_id" v-model="item.grupo_id">
              <option value="">Selecione...</option>
              <option v-for="grupo in grupos" :value="grupo.id">{{grupo.nome}}</option>
            </select>
            <span v-if="!!errors.grupo_id" class="small text-danger">{{errors.grupo_id[0]}}</span>
          </div>
          <div :class="['form-group', 'col-xs-12', 'col-md-3', {'has-error': !!errors.status}]">
            <label>Status</label>
            <select class="form-control" v-model="item.status">
              <option value="1">Ativo</option>
              <option value="0">Inativo</option>
            </select>
            <span v-if="!!errors.status" class="small text-danger">{{errors.status[0]}}</span>
          </div>
        </div>
      </div>
      <!--box-body-->
      <div class="box-footer">
        <button type="button" @click="cancel" class="btn btn-default btn-flat pull-left" data-dismiss="modal">
          <i class="fa fa-ban"></i> Cancelar
        </button>
        <button v-if="action != 'remove'" type="button" @click="onSubmit" class="btn btn-primary btn-flat pull-right">
          <i class="fa fa-save"></i> Salvar
        </button>
        <button v-else type="button" @click="onSubmit" class="btn btn-danger btn-flat pull-right">
          <i class="fa fa-trash"></i> Remover
        </button>
      </div>
      <div v-if="loading" class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div>
</template>

<script>
  import Helpers from '../../helpers/helpers';
  import Select2 from '../Select2';

  export default {
    name: 'vue-users-form',
    props: ['baseUrl'],
    components: {'select-2': Select2},
    data() {
      return {
        action: null,
        item: {
          apelido: '',
          email: '',
          password: '',
          password_confirmation: '',
          grupo_id: '',
          pessoa_id: '',
          status: 1
        },
        grupos: [],
        funcionarios: [],
        errors: {},
        loading: false
      }
    },

    mounted() {
      this.$bus.$on('users-form-action', obj => {
        this.action = obj.action;
        if (obj.item) {
          this.item = obj.item;
        }
      });
      this.getGrupos();
      this.getFuncionarios();
    },

    methods: {
      getGrupos() {
        window.axios.get(`${this.baseUrl}/lista-grupos`)
          .then(resp => {
            this.grupos = resp.data;
          }).catch(error => {
          window.toastr.error('Erro ao buscar lista de grupos de usuários', `Erro: ${error.response.status}`);
        });
      },

      getFuncionarios() {
        window.axios.get(`${this.baseUrl}/lista-funcionarios`)
          .then(resp => {
            this.funcionarios = resp.data;
          }).catch(error => {
          window.toastr.error('Erro ao buscar lista de funcionarios', `Erro: ${error.response.status}`);
        });
      },

      onSubmit() {
        this.loading = true;
        this.submitAction().then(resp => {
          this.resetForm();
          this.loading = false;
          this.$bus.$emit('users-form-submit', {action: this.action});
        }).catch(error => {
          this.errors = {};
          this.loading = false;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          } else {
            Helpers.msgErrorDefault();
          }
        });
      },
      submitAction() {
        switch (this.action) {
          case 'add':
            return window.axios.post(this.baseUrl, this.item);
          case 'edit':
            return window.axios.put(`${this.baseUrl}/${this.item.id}`, this.item);
          case 'remove':
            return window.axios.delete(`${this.baseUrl}/${this.item.id}`);
        }
      },
      cancel() {
        this.resetForm();
        this.$bus.$emit('users-form-cancel');
      },
      resetForm() {
        this.errors = {};
        this.item = {
          apelido: '',
          email: '',
          password: '',
          password_confirmation: '',
          grupo_id: '',
          pessoa_id: '',
          status: 1
        };
      }
    }
  }
</script>