<template>
  <div>
    <div class="col-xs-12">
      <vue-box id="box-list" title="Lista" :loading="loading">
        <template slot="body">
          <vue-data-table p-class="table-hover" :source="data" :per-page="configs.perPage">
            <template>
              <thead>
              <tr>
                <th class="text-center" style="width: 50px;">Gravatar</th>
                <th @click="order('apelido')" class="orderBy">
                  Apelido <i v-if="configs.orderBy == 'apelido'"
                             :class="['fa', {'fa-sort-amount-asc': configs.order == 1,
                           'fa-sort-amount-desc': configs.order == -1}]"></i>
                </th>
                <th>Grupo</th>
                <th>Funcionário</th>
                <th>E-mail</th>
                <th>Status</th>
                <th class="text-center" style="width: 80px;">
                  <button type="button" class="btn btn-primary btn-flat btn-sm btn-flat" @click="add">
                    <i class="fa fa-user-plus"></i> Adicionar
                  </button>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item in orderBy(data.data, configs.orderBy, configs.order)">
                <td class="text-center"><img :src="item.gravatar" :alt="item.apelido" class="img-circle" height="20">
                </td>
                <td>{{item.apelido}}</td>
                <td>{{item.grupo.nome}}</td>
                <td :class="{'text-danger': item.pessoa == null, danger: item.pessoa == null}">
                  {{item.pessoa ? item.pessoa.nome : 'Não associado!'}}
                </td>
                <td>{{item.email}}</td>
                <td :class="{'text-green': item.status == 1, 'text-danger': item.status == 0}">{{item.status | statusLabel}}</td>
                <td class="text-center">
                  <button type="button" @click="edit(item)" class="btn btn-warning btn-xs btn-flat"
                          data-toggle="tooltip" data-placement="left" title="Editar"><i class="fa fa-pencil"></i>
                  </button>&nbsp;&nbsp;
                  <button type="button" @click="remove(item)" class="btn btn-danger btn-xs btn-flat"
                          data-toggle="tooltip" data-placement="left" title="Deletar"><i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th class="text-center" style="width: 50px;">Gravatar</th>
                <th @click="order('apelido')" class="orderBy">
                  Apelido <i v-if="configs.orderBy == 'apelido'"
                             :class="['fa', {'fa-sort-amount-asc': configs.order == 1,
                           'fa-sort-amount-desc': configs.order == -1}]"></i>
                </th>
                <th>Grupo</th>
                <th>Funcionário</th>
                <th>E-mail</th>
                <th>Status</th>
                <th class="text-center" style="width: 80px;">
                  <button type="button" class="btn btn-primary btn-flat btn-sm btn-flat" @click="add">
                    <i class="fa fa-user-plus"></i> Adicionar
                  </button>
                </th>
              </tr>
              </tfoot>
            </template>
          </vue-data-table>
        </template>
      </vue-box>
    </div>

    <vue-users-form v-show="showForm" :base-url="baseUrl"></vue-users-form>

  </div>
</template>

<script>
  import UsersForm from './UsersForm';
  import Helpers from '../../helpers/helpers';

  export default {
    name: 'vue-users',
    props: ['baseUrl'],
    components: {'vue-users-form': UsersForm},

    data() {
      return {
        data: [],
        configs: {
          orderBy: 'apelido',
          order: 1,
          perPage: 15,
          search: '',
        },
        loading: true,
        showForm: false,
      }
    },

    mounted() {
      this.getData();
      this.$bus.$on('users-form-submit', obj => {
        this.showForm = false;
        $('#box-list').boxWidget('expand');
        this.submitMessages(obj.action);
        this.getData();
      });
      this.$bus.$on('users-form-cancel', () => {
        this.showForm = false;
        $('#box-list').boxWidget('expand');
      });
      this.$bus.$on('data-table', obj => {
        if (obj.page) {
          this.getData(obj.page);
        }
        if (obj.perPage) {
          this.configs.perPage = obj.perPage;
          this.getData();
        }
        if (obj.search != null) {
          this.configs.search = obj.search;
          this.getData();
        }
      });
    },

    methods: {
      getData(page = 1) {
        this.loading = true;
        let url = `${this.baseUrl}/lista/${this.configs.perPage}?page=${page}`;
        if (this.configs.search !== '') {
          url = `${this.baseUrl}/lista/${this.configs.perPage}?page=${page}&search=${this.configs.search}`;
        }
        window.axios.get(url)
          .then(resp => {
            this.data = resp.data;
            this.perPage = resp.data.per_page;
            this.loading = false;
          })
          .catch(error => {
            Helpers.msgErrorDefault();
          });
      },
      order(orderBy) {
        this.configs.orderBy = orderBy;
        this.configs.order = (this.configs.order == 1) ? -1 : 1;
      },
      add() {
        $('#box-list').boxWidget('collapse');
        this.showForm = true;
        this.$bus.$emit('users-form-action', {action: 'add'});
      },
      edit(item) {
        $('#box-list').boxWidget('collapse');
        this.showForm = true;
        this.$bus.$emit('users-form-action', {action: 'edit', item: item});
      },
      remove(item) {
        $('#box-list').boxWidget('collapse');
        this.showForm = true;
        this.$bus.$emit('users-form-action', {action: 'remove', item: item});
      },
      submitMessages(action){
        switch (action) {
          case 'add': Helpers.msgAdd(); break;
          case 'edit': Helpers.msgEdit(); break;
          case 'remove': Helpers.msgRemove(); break;
        }
      }
    },
    
    filters: {
      statusLabel(status){
        return (status == 1) ? 'Ativo' : 'Inativo';
      }
    }
  }
</script>
