<template>
  <div>
    <div class="row">
      <h4 class="col-xs-12">
        <i class="fa fa-cube"></i> Buscar Produto
        <small>Use palavras chave para buscar um produto e depois selecione na lista para ver os detalhes.</small>
      </h4>
      <div class="form-group col-xs-12 col-md-4">
        <div class="input-group">
          <input type="text" v-model="search" @keyup.enter="buscarProduto(search)" class="form-control"
                 placeholder="palavra chave...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" @click="buscarProduto(search)"><i
              class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
      <div class="form-group col-xs-12">
        <select-2 v-model="item_id" ref-name="produto-select" @produto-select-change="produtoSelectChange">
          <option value="">Use o campo busca para preencher a lista de produtos...</option>
          <option v-for="item in produtos" :value="item.id" :key="item.id">
            {{item.codigo_fabrica}} - {{item.mercadoria.categoria.descricao}} - {{item.mercadoria.descricao}} -
            {{item.marca.nome}} - {{item.descricao}}
          </option>
        </select-2>
      </div>
    </div>

    <div v-if="produto" class="row">
      <div v-if="produto.imagens.length" class="col-xs-12 col-lg-6 text-center">
        <h4 class="h4 text-center">Imagens do Produto</h4>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"
             style="max-width: 675px; margin: auto;">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li v-for="(img, index) in produto.imagens" :key="img.id" data-target="#carousel-example-generic"
                :data-slide-to="index" :class="{active: index === 0}"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div v-for="(img, index) in produto.imagens" :key="img.id"
                 :class="['item', 'text-center', {active: index === 0}]">
              <a :href="img.src" target="_blank"><img :src="img.src" :alt="img.legenda" class="img-responsive"></a>
              <div class="carousel-caption">
                <h4>{{img.legenda}}</h4>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div v-else class="col-xs-12 col-lg-6">
        <h4 class="h4 text-center">Imagens do Produto</h4>
        <img src="/images/no-image.png" alt="No Image" class="img-responsive">
      </div>

      <div class="col-xs-12 col-lg-6">
        <h4 class="h4 text-center">Detalhes do Produto</h4>
        <table class="table table-condensed table-bordered table-striped table-middle">
          <tbody>
          <tr>
            <th class="text-right">Estoque / Disponível:</th>
            <td class="text-left">{{estoqueTotal}} / {{disponivel}}</td>
          </tr>
          <tr>
            <th class="text-right">Código interno/ Código fábrica:</th>
            <td class="text-left">{{produto.id}} / {{produto.codigo_fabrica}}</td>
          </tr>
          <tr>
            <th class="text-right">Categoria / NCM:</th>
            <td class="text-left">{{produto.mercadoria.categoria.descricao}} |
              {{produto.mercadoria.categoria.numero_ncm}}
            </td>
          </tr>
          <tr>
            <th class="text-right">Tipo Mercadoria:</th>
            <td class="text-left">{{produto.mercadoria.descricao}}</td>
          </tr>
          <tr>
            <th class="text-right">Descrição:</th>
            <td class="text-left">{{produto.descricao}} - {{produto.informacao_adicional}}</td>
          </tr>
          <tr>
            <th class="text-right">Marca:</th>
            <td class="text-left">{{produto.marca.nome}}</td>
          </tr>
          <tr>
            <th class="text-right">Largura:</th>
            <td class="text-left">{{produto.largura}}</td>
          </tr>
          <tr>
            <th class="text-right">Altura:</th>
            <td class="text-left">{{produto.altura}}</td>
          </tr>
          <tr>
            <th class="text-right">Profundidade:</th>
            <td class="text-left">{{produto.profundidade}}</td>
          </tr>
          </tbody>
        </table>
        <h3 class="h3 text-right">
          {{produto.valor_atual | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}
        </h3>
      </div>
    </div>
  </div>
</template>

<script>
  import Select2 from "../../Select2";
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapActions, mapMutations, mapGetters} = createNamespacedHelpers("ProdutosCombinados");

  export default {
    components: {Select2},

    data() {
      return {
        search: "",
        item_id: ""
      };
    },

    computed: {
      ...mapState(["produtos", "produto"]),
      ...mapGetters(["estoqueTotal", "disponivel"])
    },

    methods: {
      ...mapMutations(["PRODUTO"]),
      ...mapActions(["buscarProduto"]),

      produtoSelectChange(value) {
        let item = this.produtos.filter(e => {
          return e.id == value;
        })[0];
        this.PRODUTO(item);
      }
    }
  };
</script>
