<template>
  <div class="col-xs-12">
    <vue-box id="box-list" title="Lista dos produtos combinados" :loading="loading" :collapse="false">
      <template slot="body">
        <vue-data-table p-class="table-hover table-middle" :source="combinados" :per-page="configs.perPage">
          <template>
            <table class="table table-condensed table-middle table-hover">
              <thead>
              <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th class="text-right">
                  <a href="/estoque/produtos-combinados/create" class="btn btn-primary btn-sm btn-flat"><i
                    class="fa fa-plus"></i> Adicionar</a>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="combinado in combinados.data" :key="combinado.id">
                <td>{{combinado.id}}</td>
                <td>{{combinado.descricao}}</td>
                <td>{{combinado.valor_total | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
                <th class="btn-actions">
                  <btn type="danger" class="btn-xs btn-flat" @click="remove(combinado)"><i class="fa fa-trash"></i>
                  </btn>
                  <a :href="`/estoque/produtos-combinados/${combinado.id}/edit`"
                     class="btn btn-warning btn-xs btn-flat"><i class="fa fa-pencil"></i></a>
                </th>
              </tr>
              </tbody>
            </table>
          </template>
        </vue-data-table>
      </template>
    </vue-box>
    <modal-remove :open-modal="openModal" @close-modal="closeModal"></modal-remove>
  </div>
</template>

<script>
  import ModalRemove from "./ProdutosCombinadosModalRemove";
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapActions, mapMutations} = createNamespacedHelpers("ProdutosCombinados");

  export default {
    components: {ModalRemove},
    data() {
      return {
        openModal: false
      };
    },

    computed: {
      ...mapState(["loading", "combinados", "configs"])
    },

    mounted() {
      this.getCombinados();
      this.$bus.$on("data-table", obj => {
        if (obj.page) {
          this.getCombinados(obj.page);
        }
        if (obj.perPage) {
          this.CONFIGS_PER_PAGE(obj.perPage);
          this.getCombinados();
        }
        if (obj.search != null) {
          this.CONFIGS_SEARCH(obj.search);
          this.getCombinados();
        }
      });
    },

    methods: {
      ...mapMutations(["CONFIGS_PER_PAGE", "CONFIGS_SEARCH", "COMBINADO"]),
      ...mapActions(["getCombinados"]),

      remove(item) {
        this.COMBINADO(item);
        this.openModal = true;
      },

      closeModal() {
        this.openModal = false;
      }
    }
  };
</script>