<template>
  <div class="col-xs-12">
    <vue-box id="box-list" :title="title" :loading="loading" :collapse="false">

      <template slot="body">
        <div class="row">
          <div :class="['form-group col-xs-12', {'has-error': !!errors.descricao}]">
            <label>Descrição</label>
            <input type="text" :value="combinado.descricao" class="form-control"
                   @keyup="changeDescricao($event.target.value)">
            <span v-if="!!errors.descricao" class="small text-danger">{{errors.descricao[0]}}</span>
          </div>
        </div>

        <busca-produto></busca-produto>

        <div class="row">
          <div class="col-xs-12 text-right">
            <btn type="primary" class="btn-flat" @click="addKit" :disabled="inKit">
              <i class="fa fa-plus"></i> Adicionar produto
            </btn>
          </div>
        </div>

        <kit></kit>

        <div class="row">
          <div
            :class="['form-group col-xs-4 col-xs-offset-0 col-md-3 col-md-offset-5 col-lg-2 col-lg-offset-7', {'has-error': !!errors.margem}]">
            <label>Margem Desconto %</label>
            <input type="number" :value="combinado.margem" class="form-control"
                   @change="changeMargem($event.target.value)">
            <span v-if="!!errors.margem" class="small text-danger">{{errors.margem[0]}}</span>
          </div>
          <div class="form-group col-xs-8 col-md-4 col-lg-3">
            <label>Preço Venda</label>
            <money :value="combinado.valor_total" class="form-control" disabled></money>
          </div>
        </div>
      </template>

      <template slot="footer">
        <a href="/estoque/produtos-combinados" class="btn btn-default btn-flat">
          <i class="fa fa-ban"></i> Cancelar/Voltar
        </a>
        <btn v-if="action == 'add'" @click="onCreate" type="primary" class="btn-flat pull-right" :disabled="false">
          <i class="fa fa-save"></i> Adicionar
        </btn>
        <btn v-if="action == 'edit'" @click="onUpdate" type="warning" class="btn-flat pull-right" :disabled="false">
          <i class="fa fa-save"></i> Atualizar
        </btn>
      </template>

    </vue-box>
  </div>
</template>

<script>
  import BuscaProduto from "./ProdutosCombinadosBuscaProduto";
  import Kit from "./ProdutosCombinadosKit";
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapActions, mapMutations, mapGetters} = createNamespacedHelpers("ProdutosCombinados");

  export default {
    components: {BuscaProduto, Kit},
    props: ["data", "formAction"],
    data() {
      return {
        title: null
      };
    },

    computed: {
      ...mapState(["loading", "combinado", "action", "errors"]),
      ...mapGetters(["inKit", "disponivel"])
    },

    mounted() {
      this.ACTION(this.formAction);
      if (this.formAction === "edit") {
        this.COMBINADO(JSON.parse(this.data));
        this.title = `Editando produto combinado: ${this.combinado.id}`;
      } else {
        this.title = `Adicionando produto combinado`;
      }
    },

    methods: {
      ...mapMutations(["COMBINADO", "ACTION", "LOADING", "PRODUTO"]),
      ...mapActions(["changeDescricao", "changeMargem", "addKit", "onUpdate", "onCreate"])
    }
  };
</script>
