<template>
  <div class="row">
    <h4 class="col-xs-12"><i class="fa fa-list"></i> Produtos do Kit</h4>
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-middle table-hover">
          <thead>
          <tr>
            <th>Produto</th>
            <th>Descrição</th>
            <th>Preço unitário</th>
            <th>Preço no Kit</th>
            <th>Quantidade</th>
            <th class="text-right">Ações</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="kits.length > 0" v-for="(item, index) in kits" :key="item.id">
            <td>
              <img v-if="item.imagens.length" :src="item.imagens[0].src" :alt="item.imagens[0].legenda" height="60">
              <img v-else src="/images/no-image.png" alt="No Image" height="60">
            </td>
            <td>
              {{item.codigo_fabrica}} - {{item.mercadoria.categoria.descricao}} - {{item.mercadoria.descricao}} -
              {{item.marca.nome}} - {{item.descricao}}
            </td>
            <td>
              {{item.valor_atual | currency('R$', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}
            </td>
            <td>
              <input type="number" class="form-control" min="0" :value="item.pivot.valor"
                     @change="updateValor({value: $event.target.value, index: index})" style="width: 110px;">
            </td>
            <td>
              <input type="number" class="form-control" :value="item.pivot.quantidade" min="1"
                     @change="updateQuantidade({value: $event.target.value, index: index})" style="width: 70px;">
            </td>
            <td class="btn-actions">
              <button class="btn btn-danger btn-flat btn-xs" @click="removeKit(index)" data-toggle="tooltip"
                      data-placement="left" title="Remover do carrinho">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr v-if="kits.length == 0" :class="['text-center info', {'danger': !!errors.produtos}]">
            <td colspan="7">Nenhum produto agrupado.</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapActions, mapGetters} = createNamespacedHelpers("ProdutosCombinados");

  export default {
    computed: {
      ...mapState(["errors"]),
      ...mapGetters(["kits"])
    },

    methods: {
      ...mapActions(["updateValor", "updateQuantidade", "updateSubtotal", "removeKit"])
    }
  };
</script>
