<template>
  <modal v-model="openModal">
    <span slot="title" class="danger"><i class="fa fa-trash"></i> Deseja remover este item?</span>
    <p><b>Descrição:</b> {{combinado.descricao}}</p>
    <div slot="footer">
      <btn @click="closeModal" class="btn-flat"><i class="fa fa-ban"></i> Cancel</btn>
      <btn type="danger" @click="onRemove" class="btn-flat"><i class="fa fa-trash"></i> Remover</btn>
    </div>
  </modal>
</template>

<script>
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapActions} = createNamespacedHelpers("ProdutosCombinados");

  export default {
    props: ["openModal"],
    computed: {
      ...mapState(["combinado"])
    },

    methods: {
      ...mapActions(["onRemove"]),
      closeModal() {
        this.$emit("close-modal");
      }
    }
  };
</script>