<template>
  <div>
    <div class="row">
      <div :class="['form-group col-xs-12 col-md-4',{'has-error': !!errors.modelo}]">
        <label>Modelo da nota</label>
        <select :value="nota.modelo" @input="notaModelo" class="form-control" :disabled="action == 'consulta'">
          <option value="65" :selected="nota.modelo == 65">NFC-e - Consumidor final 65</option>
          <option value="55" :selected="nota.modelo == 55">NF-e - DANF 55</option>
        </select>
        <span v-if="!!errors.modelo" class="small text-danger">{{errors.modelo[0]}}</span>
      </div>
      
      <div v-if="nota.modelo == 55" :class="['form-group col-xs-6 col-md-3 col-lg-2', {'has-error': !!errors.data_saida}]">
        <label>Data Saída</label>
        <input type="date" class="form-control" :value="nota.data_saida" @input="notaDataSaida" min="1920-01-01"
               max="2050-01-01">
        <span v-if="!!errors.data_saida" class="small text-danger">{{errors.data_saida[0]}}</span>
      </div>

      <div v-if="nota.modelo == 55" :class="['form-group col-xs-6 col-md-3 col-lg-2', {'has-error': !!errors.hora_saida}]">
        <label>Hora Saída</label>
        <input type="time" class="form-control" :value="nota.hora_saida" @input="notaHoraSaida">
        <span v-if="!!errors.hora_saida" class="small text-danger">{{errors.hora_saida[0]}}</span>
      </div>
      
      <div :class="['form-group col-xs-12',{'has-error': !!errors.natureza_operacao_id}]">
        <label>Natureza Operação</label>
        <span class="pull-right">
          <a href="/estoque/natureza-operacao" target="_blank" class="btn btn-default btn-flat btn-xs"><i
            class="fa fa-plus"></i> Add</a>
          <button class="btn btn-default btn-flat btn-xs" @click="getNaturezaOperacao(true)">
            <i class="fa fa-refresh"></i> Recarregar
          </button>
        </span>
        <select-2 :value="nota.natureza_operacao_id" @input="notaNaturezaOperacaoId">
          <option value="">Selecione...</option>
          <option style="overflow: hidden;" v-for="operacao in naturezaOperacao" :key="operacao.id"
                  :value="operacao.id" :selected="nota.natureza_operacao_id == operacao.id">
            {{operacao.cfop.replace('.', '')}} - {{operacao.descricao}}
          </option>
        </select-2>
        <span v-if="!!errors.natureza_operacao_id" class="small text-danger">{{errors.natureza_operacao_id[0]}}</span>
      </div>
    </div>

    <div class="row">
      <h4 class="col-xs-12 text-capitalize">
        <i class="fa fa-truck"></i> Transportador / Volumes transportados
      </h4>
    </div>

    <div class="row">
      <div :class="['form-group col-xs-12',{'has-error': !!errors.transportador_id}]">
        <label>Transportador</label>
        <span class="pull-right">
          <a href="/estoque/pessoas" target="_blank" class="btn btn-default btn-flat btn-xs"><i class="fa fa-plus"></i> Add</a>
          <button class="btn btn-default btn-flat btn-xs" @click="getTransportadores(true)">
            <i class="fa fa-refresh"></i> Recarregar
          </button>
        </span>
        <select-2 :value="carga.transportador_id" @input="cargaTransportadorId">
          <option value="">Selecione...</option>
          <option v-for="transportador in transportadores" :key="transportador.id" :value="transportador.id"
                  :selected="carga.transportador_id == transportador.id">
            {{transportador.nome}} - {{transportador.tipo_pessoa_id == 1 ? `CPF:
            ${transportador.fisica.cpf}` : `CNPJ:
            ${transportador.juridica.cnpj}`}}
          </option>
        </select-2>
        <span v-if="!!errors.transportador_id" class="small text-danger">{{errors.transportador_id[0]}}</span>
      </div>
    </div>

    <div class="row">      
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.frete_pagador}]">
        <label>Frete por Conta</label>
        <select class="form-control" :value="carga.frete_pagador" @input="cargaFretePagador">
          <option value="0">0 - Emitente</option>
          <option value="1">1 - Dest/Rem</option>
          <option value="2">2 - Terceiros</option>
          <option value="9">9 - Sem Frete</option>
        </select>
        <span v-if="!!errors.frete_pagador" class="small text-danger">{{errors.frete_pagador[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.quantidade}]">
        <label>Quantidade</label>
        <input type="number" class="form-control" :value="carga.quantidade" @input="cargaQuantidade">
        <span v-if="!!errors.quantidade" class="small text-danger">{{errors.quantidade[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.especie}]">
        <label>Espécie</label>
        <input type="text" class="form-control" :value="carga.especie" @input="cargaEspecie">
        <span v-if="!!errors.especie" class="small text-danger">{{errors.especie[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.marca}]">
        <label>Marca</label>
        <input type="text" class="form-control" :value="carga.marca" @input="cargaMarca">
        <span v-if="!!errors.marca" class="small text-danger">{{errors.marca[0]}}</span>
      </div>
    </div>

    <div class="row">
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.numeracao}]">
        <label>Numeração</label>
        <input type="text" class="form-control" :value="carga.numeracao" @input="cargaNumeracao">
        <span v-if="!!errors.numeracao" class="small text-danger">{{errors.numeracao[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.peso_bruto}]">
        <label>Peso Bruto Kg</label>
        <input type="number" class="form-control" :value="carga.peso_bruto" @input="cargaPesoBruto">
        <span v-if="!!errors.peso_bruto" class="small text-danger">{{errors.peso_bruto[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.peso_liquido}]">
        <label>Peso Líquido Kg</label>
        <input type="number" class="form-control" :value="carga.peso_liquido" @input="cargaPesoLiquido">
        <span v-if="!!errors.peso_liquido" class="small text-danger">{{errors.peso_liquido[0]}}</span>
      </div>
      <div :class="['form-group col-xs-6 col-md-3',{'has-error': !!errors.placa_veiculo}]">
        <label>Placa do Veículo</label>
        <the-mask type="text" mask="AAA-####" :masked="true" class="form-control" :value="carga.placa_veiculo"
                  @input="cargaPlacaVeiculo"></the-mask>
        <span v-if="!!errors.placa_veiculo" class="small text-danger">{{errors.placa_veiculo[0]}}</span>
      </div>
    </div>

    <!--<div class="row">
      <div class="form-group col-xs-12">
        <label>Dados adicionais</label>
        <textarea :value="nota.dados_adicionais" @input="notaDadosAdicionais" rows="3" class="form-control"></textarea>
      </div>
    </div>-->

  </div>
</template>

<script>
  import Select2 from './../../../Select2';
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapMutations, mapActions} = createNamespacedHelpers("NotasVendaEmissao");

  export default {
    components: {Select2},
    computed: {
      ...mapState(['nota', 'venda', 'action', 'naturezaOperacao', 'errors', 'carga', 'transportadores'])
    },

    methods: {
      ...mapMutations(['NOTA', 'CARGA', 'NOTA_NATUREZA_OPERACAO_ID', 'CARGA_TRANSPORTADOR_ID']),
      ...mapActions(['getNaturezaOperacao', 'getTransportadores']),

      notaModelo(event) {
        this.NOTA({...this.nota, modelo: event.target.value});
      },
      notaNaturezaOperacaoId: _.debounce(function(value) {
        this.NOTA_NATUREZA_OPERACAO_ID(value);
      },500),
      notaDataSaida(event) {
        this.NOTA({...this.nota, data_saida: event.target.value});
      },
      notaHoraSaida(event) {
        this.NOTA({...this.nota, hora_saida: event.target.value});
      },
      notaDadosAdicionais(event) {
        this.NOTA({...this.nota, dados_adicionais: event.target.value});
      },

      cargaTransportadorId: _.debounce(function(value) {
        this.CARGA_TRANSPORTADOR_ID(value);
      },500),
      cargaQuantidade(event) {
        this.CARGA({...this.carga, quantidade: event.target.value});
      },
      cargaEspecie(event) {
        this.CARGA({...this.carga, especie: event.target.value});
      },
      cargaMarca(event) {
        this.CARGA({...this.carga, marca: event.target.value});
      },
      cargaNumeracao(event) {
        this.CARGA({...this.carga, numeracao: event.target.value});
      },
      cargaPesoBruto(event) {
        this.CARGA({...this.carga, peso_bruto: event.target.value});
      },
      cargaPesoLiquido(event) {
        this.CARGA({...this.carga, peso_liquido: event.target.value});
      },
      cargaPlacaVeiculo(value) {
        this.CARGA({...this.carga, placa_veiculo: value});
      },
      cargaFretePagador(event) {
        this.CARGA({...this.carga, frete_pagador: event.target.value});
      },
    }
  }
</script>