<template>
  <div>
    <div class="row">
      <div class="form-group col-xs-6 col-md-3">
        <label>Base de Calculo ICMS</label>
        <money class="form-control" v-model="base_calculo_icms"></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor do ICMS</label>
        <money class="form-control" v-model="valor_icms"></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Base cál. ICMS Sub.</label>
        <money class="form-control" v-model="base_calculo_icms_substituicao"></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor ICMS Sub.</label>
        <money class="form-control" v-model="valor_icms_substituicao"></money>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor do PIS</label>
        <money class="form-control" v-model="valor_pis"></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor do COFINS</label>
        <money class="form-control" v-model="valor_cofins"></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor do IPI</label>
        <money class="form-control" v-model="valor_ipi"></money>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor do Seguro</label>
        <money class="form-control" v-model="valor_seguro"></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor do frete</label>
        <money class="form-control" v-model="valor_frete"></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Despesas acessórias</label>
        <money class="form-control" v-model="outras_despesas_acessorias"></money>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-6 col-xs-offset-0 col-md-3 col-md-offset-3">
        <label>Valor total dos produtos</label>
        <money class="form-control" :value="total_produtos" disabled></money>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label>Valor Descontos</label>
        <money class="form-control" :value="descontos" disabled></money>
      </div>
      <div class="form-group col-xs-6 col-xs-offset-6 col-md-3 col-md-offset-0">
        <label>Valor total da nota</label>
        <money class="form-control" :value="total_nota" disabled></money>
      </div>
    </div>

  </div>
</template>

<script>
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapMutations} = createNamespacedHelpers("NotasVendaEmissao");

  export default {
    computed: {
      ...mapState(['nota']),

      base_calculo_icms: {
        get() {
          return this.nota.base_calculo_icms;
        },
        set: _.debounce(function (value) {
          this.NOTA({...this.nota, base_calculo_icms: value});
        }, 500)
      },
      valor_icms: {
        get() {
          return this.nota.valor_icms;
        },
        set: _.debounce(function (value) {
          this.NOTA({...this.nota, valor_icms: value});
        }, 500)
      },
      base_calculo_icms_substituicao: {
        get() {
          return this.nota.base_calculo_icms_substituicao;
        },
        set: _.debounce(function (value) {
          this.NOTA({...this.nota, base_calculo_icms_substituicao: value});
        }, 500)
      },
      valor_icms_substituicao: {
        get() {
          return this.nota.valor_icms_substituicao;
        },
        set: _.debounce(function (value) {
          this.NOTA({...this.nota, valor_icms_substituicao: value});
        }, 500)
      },
      valor_pis: {
        get() {
          return this.nota.valor_pis;
        },
        set: _.debounce(function (value) {
          this.NOTA({...this.nota, valor_pis: value});
        }, 500)
      },
      valor_cofins: {
        get() {
          return this.nota.valor_cofins;
        },
        set: _.debounce(function (value) {
          this.NOTA({...this.nota, valor_cofins: value});
        }, 500)
      },
      valor_ipi: {
        get() {
          return this.nota.valor_ipi;
        },
        set: _.debounce(function (value) {
          this.NOTA({...this.nota, valor_ipi: value});
        }, 500)
      },
      valor_seguro: {
        get() {
          return this.nota.valor_seguro;
        },
        set: _.debounce(function (value) {
          this.NOTA({...this.nota, valor_seguro: value});
        }, 500)
      },
      valor_frete: {
        get() {
          return this.nota.valor_frete;
        },
        set: _.debounce(function (value) {
          this.NOTA({...this.nota, valor_frete: value});
        }, 500)
      },
      outras_despesas_acessorias: {
        get() {
          return this.nota.outras_despesas_acessorias;
        },
        set: _.debounce(function (value) {
          this.NOTA({...this.nota, outras_despesas_acessorias: value});
        }, 500)
      },
      total_produtos() {
        let soma = 0;
        this.nota.movimento_produtos.forEach(e => soma += +e.valor_total);
        this.setTotalProdutos(soma);
        return soma;
      },
      descontos() {
        let soma = 0;
        this.nota.movimento_produtos.forEach(e => soma += +e.desconto);
        this.setDesconto(soma);
        return soma;
      },
      total_nota() {
        let total = this.total_produtos - this.descontos + this.outras_despesas_acessorias;
        this.setTotalNota(total);
        return total;
      },
    },

    methods: {
      ...mapMutations(['NOTA']),

      setTotalProdutos(value) {
        if (value != this.nota.valor_total_produtos) {
          this.NOTA({...this.nota, valor_total_produtos: value});
        }
      },
      setDesconto(value) {
        if (value != this.nota.desconto) {
          this.NOTA({...this.nota, desconto: value});
        }
      },
      setTotalNota(value) {
        if (value != this.nota.valor_total_nota) {
          this.NOTA({...this.nota, valor_total_nota: value});
        }
      },
    }
  }
</script>