<template>
  <vue-box id="box-list" title="Vendas aguardando emissão de nota" :loading="loading">
    <template slot="body">
      <vue-data-table p-id="emissao" p-class="table-hover table-middle" :source="vendas"
                      :per-page="configsVendas.perPage">
        <template>
          <thead>
          <tr>
            <th>Venda</th>
            <th>Cliente</th>
            <th>CPF/CNPJ</th>
            <th class="text-center">Previsão Entrega</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr v-for="item in vendas.data" :key="item.id">
            <td>{{item.id}}</td>
            <td>{{item.pessoa_cliente.nome}}</td>
            <td>
              <span v-if="item.pessoa_cliente.fisica">{{item.pessoa_cliente.fisica.cpf | documento('cpf')}}</span>
              <span v-if="item.pessoa_cliente.juridica">{{item.pessoa_cliente.juridica.cnpj | documento('cnpj')}}</span>
            </td>
            <td class="text-center">{{item.previsao_entrega | formatDate}}</td>
            <td class="btn-actions">
              <a :href="'/estoque/notas-venda/create?venda_id='+item.id" class="btn btn-primary btn-flat btn-xs">
                <i class="fa fa-gear"></i> Gerar nota
              </a>
            </td>
          </tr>
          </tbody>
        </template>
      </vue-data-table>
    </template>
  </vue-box>
</template>

<script>
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapMutations, mapActions} = createNamespacedHelpers("NotasVendaEmissao");

  export default {
    computed: {
      ...mapState(["loading", "configsVendas", "vendas"])
    },

    mounted() {
      this.getVendas({page: 1, loading: true});
      this.$bus.$on("data-table-emissao", obj => {
        if (obj.page) {
          this.getVendas({page: obj.page, loading: true});
        }
        if (obj.perPage) {
          this.CONFIGS_VENDAS({...this.configsVendas, perPage: obj.perPage});
          this.getVendas({page: 1, loading: true});
        }
        if (obj.search != null) {
          this.CONFIGS_VENDAS({...this.configsVendas, search: obj.search});
          this.getVendas({page: 1, loading: true});
        }
      });
    },

    methods: {
      ...mapMutations(['CONFIGS_VENDAS']),
      ...mapActions(['getVendas']),

    }
  };
</script>