<template>
  <vue-box id="box-list" :title="title" :loading="loading">
    <template slot="body">
      <tabs pills>
        <tab title="<i class='fa fa-info-circle'></i> Informações Gerais" html-title>
          <br>
          <geral></geral>
        </tab>
        <tab title="<i class='fa fa-list'></i> Produtos da nota" html-title>
          <br>
          <produtos></produtos>
        </tab>
        <tab title="<i class='fa fa-exchange'></i> Transferências" html-title>
          <br>
          <transferencias></transferencias>
        </tab>
        <tab title="<i class='fa fa-bank'></i> Cálculo do imposto" html-title>
          <br>
          <imposto></imposto>
        </tab>
      </tabs>
    </template>
    <template slot="footer">
      <button v-if="action == 'nova'" class="btn btn-primary btn-flat pull-right" @click="gerarNovaNota"
              :disabled="disableBtnSave">
        <i class="fa fa-save"></i> Gerar Nota
      </button>
      <button v-else class="btn btn-warning btn-flat pull-right" @click="reenviarConsultarAutorizacao"
              :disabled="disableBtnSave">
        <i class="fa fa-save"></i> Reenviar / Consultar autorização
      </button>
    </template>
  </vue-box>
</template>

<script>
  import Geral from './Geral';
  import Produtos from './Produtos';
  import Transferencias from './Transferencias';
  import Imposto from './Imposto';
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapGetters, mapMutations, mapActions} = createNamespacedHelpers("NotasVendaEmissao");

  export default {
    components: {Geral, Produtos, Transferencias, Imposto},
    props: ['dataVenda', 'dataNota'],

    mounted() {
      this.startForm().then(() => {
        if (this.dataNota) {
          this.VENDA(JSON.parse(this.dataVenda));
          this.CARGA(JSON.parse(this.dataNota).carga);
          this.NOTA(JSON.parse(this.dataNota));
          if (this.nota.lote_nfe_id) {
            this.ACTION('consulta');
          } else {
            this.ACTION('reenviar');
          }
        } else {
          this.VENDA(JSON.parse(this.dataVenda));
          this.vendaParseNota();
          this.ACTION('nova');
        }
      });
    },

    computed: {
      ...mapState(['venda', 'nota', 'loading', 'action']),
      ...mapGetters(['disableBtnSave']),
      title() {
        let cliente = this.venda.pessoa_cliente ? this.venda.pessoa_cliente.nome : '';
        return `Venda: ${this.venda.id}  |   Cliente: ${cliente}`
      }
    },

    methods: {
      ...mapMutations(['VENDA', 'NOTA', 'CARGA', 'ACTION']),
      ...mapActions(['startForm', 'vendaParseNota', 'gerarNovaNota', 'reenviarConsultarAutorizacao'])
    }
  }
</script>

