<template>
  <select :value="nota.movimento_produtos[index].unidade_medida_id" @change="setValue" class="form-control input-sm">
    <option value="">Selecione...</option>
    <option v-for="unidadeMedida in unidadesMedida" :value="unidadeMedida.id" 
            :selected="nota.movimento_produtos[index].unidade_medida_id == unidadeMedida.id">
      {{unidadeMedida.unidade}} - {{unidadeMedida.descricao}}
    </option>
  </select>
</template>

<script>
  import Select2 from './../../../Select2';
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapMutations} = createNamespacedHelpers("NotasVendaEmissao");

  export default {
    components: {Select2},
    props: ['index'],

    computed: {
      ...mapState(['nota', 'unidadesMedida'])
    },

    methods: {
      ...mapMutations(['PRODUTO_UNIDADE_MEDIDA']),

      setValue(event) {
        this.PRODUTO_UNIDADE_MEDIDA({index: this.index, value: event.target.value});
      }
    }
  }
</script>