<template>
  <select-2 :value="nota.movimento_produtos[index].cfop_id" @input="setValue" class="input-sm">
    <option value="">Selecione...</option>
    <option v-for="operacao in naturezaOperacao" :value="operacao.id"
            :selected="nota.movimento_produtos[index].cfop_id == operacao.id">
      {{operacao.cfop.replace('.', '')}} - {{operacao.descricao}}
    </option>
  </select-2>
</template>

<script>
  import Select2 from './../../../Select2';
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapMutations} = createNamespacedHelpers("NotasVendaEmissao");

  export default {
    components: {Select2},
    props: ['index'],

    computed: {
      ...mapState(['nota', 'naturezaOperacao'])
    },

    methods: {
      ...mapMutations(['PRODUTO_CFOP']),

      setValue(value) {
        this.PRODUTO_CFOP({index: this.index, value: value});
      }
    },
  }
</script>