<template>
  <div>
    <p class="text-right">
      <strong>Legenda de cores: </strong> &nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-circle text-yellow"></i> Falta configurações do produto. &nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-circle text-green"></i> Produto configurado.
    </p>
    <div v-for="(mp, index) in nota.movimento_produtos" :key="index"
         :class="['box box-solid', {'box-success': checkProdutoManager(index), 'box-warning': !checkProdutoManager(index)}]">
      <div class="box-header">
        <h3 class="box-title h5">
          <strong>Código: </strong>{{mp.produto.id}} &nbsp;&nbsp;&nbsp;&nbsp;
          <strong>Cód. Fábrica: </strong>{{mp.id_na_nota}} &nbsp;&nbsp;&nbsp;&nbsp;
          <strong>Descrição: </strong>{{mp.produto.descricao_completa}}
        </h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-middle table-condensed">
            <tbody>
            <tr>
              <th class="text-right">Quantidade:</th>
              <td>{{mp.quantidade}}</td>
              <th class="text-right">V. Unitário:</th>
              <td>{{mp.valor_unitario | currency('R$ ', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
              <th class="text-right">V. Total:</th>
              <td>{{mp.valor_total | currency('R$ ', 2, {thousandsSeparator: '.', decimalSeparator: ','})}}</td>
            </tr>
            <tr>
              <th class="text-right" style="width: 115px">CFOP:</th>
              <td colspan="3">
                <produto-cfop :index="index"></produto-cfop>
              </td>
              <th class="text-right" style="width: 115px">Un. medida:</th>
              <td>
                <produto-unidade-medida :index="index"></produto-unidade-medida>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div v-show="acimaEstoque(mp) && action == 'nova'">
          <p class="small text-danger">
            Quantidade insuficiente do produto no estoque da Loja. Escolha um depósito e a
            quantidade a ser transferida. Uma nota de transferência por Loja/Depósito será gerada automaticamente. 
            Para visualizar ou imprimir essas notas vá ao menu Notas Fiscais -> Transferência.
          </p>
          <div class="row">
            <div v-for="loja in mp.produto.estoque_por_loja" class="col-xs-12 col-md-6 col-lg-3">
              <div class="info-box bg-aqua-gradient">
                <span class="info-box-icon"><i class="fa fa-building-o"></i></span>
                <div class="info-box-content text-center">
                  <span class="info-box-text">{{loja.descricao}}</span>
                  <span class="info-box-number">{{loja.quantidade}}</span>
                  <button type="button" class="btn btn-xs btn-default btn-flat"
                          data-toggle="modal" :data-target="'#transferenciaModal'+index"
                          :disabled="loja.loja_id == 1">
                    Transferir
                  </button>
                </div>
              </div>
              <produto-transferencia-modal :index="index" :mp="mp" :loja="loja"></produto-transferencia-modal>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import ProdutoCfop from './ProdutoCfop';
  import ProdutoUnidadeMedida from './ProdutoUnidadeMedida';
  import ProdutoTransferenciaModal from './ProdutoTransferenciaModal';
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapGetters, mapMutations} = createNamespacedHelpers("NotasVendaEmissao");

  export default {
    components: {ProdutoCfop, ProdutoUnidadeMedida, ProdutoTransferenciaModal},

    computed: {
      ...mapState(['nota', 'naturezaOperacao', 'action']),
      ...mapGetters(['checkProdutoManager'])
    },

    methods: {
      ...mapMutations(['PRODUTO_CFOP']),
      acimaEstoque(mp) {
        const matris = mp.produto.estoque_por_loja.filter(e => e.loja_id == 1)[0];

        return mp.quantidade > matris.quantidade;
      }
    },

  }
</script>