<template>
  <div class="modal fade" :id="'transferenciaModal'+index" tabindex="-1" role="dialog"
       :aria-labelledby="'transferenciaModalLabel'+index">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" :id="'transferenciaModalLabel'+index">
            Transferindo do
            <small>(a)</small>
            {{loja.descricao}}
          </h4>
        </div>
        <div class="modal-body">
          <h4>{{mp.produto.descricao_completa}}</h4>

          <p>Máximo disponível para transferência: <strong>{{disponivel}}</strong></p>
          
          <div class="input-group">
            <input type="number" v-model="qtd" class="form-control" step="1" :max="disponivel">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" @click="add"
                      :disabled="acimaEstoque">Add para transferência</button>
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapMutations} = createNamespacedHelpers("NotasVendaEmissao");

  export default {
    props: ['index', 'mp', 'loja'],

    data() {
      return {
        qtd: 1
      }
    },

    computed: {
      ...mapState(['transferencias']),

      acimaEstoque() {
        return +this.qtd > +this.disponivel;
      },

      disponivel() {
        let qtdTranf = 0;

        const lojaTransf = this.transferencias.filter(t => t.loja_id == this.loja.loja_id);

        if (lojaTransf.length) {
          const produtoTransf = lojaTransf[0].produtos.filter(p => p.produto_id == this.mp.produto_id);
          
          if (produtoTransf.length) {
            qtdTranf = produtoTransf[0].quantidade;
          }
        }
        return +this.loja.quantidade - +qtdTranf;
      }
    },

    methods: {
      ...mapMutations(['ADD_TRANSFERENCIAS']),

      add() {
        this.ADD_TRANSFERENCIAS({
          loja_id: this.loja.loja_id,
          loja_descricao: this.loja.descricao,
          produto_id: this.mp.produto_id,
          descricao: this.mp.produto.descricao_completa,
          quantidade: parseInt(this.qtd)
        });
        $('#transferenciaModal' + this.index).modal('hide');
      }
    },
  }
</script>