<template>
  <div>
    <div v-if="transferencias.length">
      <div v-for="(transferencia, indexLoja) in transferencias">
        <h3>{{transferencia.loja_descricao}}</h3>
        <table class="table table-middle table-hover">
          <thead>
          <tr>
            <th class="text-center">Qtd</th>
            <th>Produto</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(produto, indexProduto) in transferencia.produtos">
            <td class="text-center">{{produto.quantidade}}</td>
            <td>{{produto.descricao}}</td>
            <td class="btn-actions">
              <button class="btn btn-xs btn-flat btn-danger" @click="remove(indexLoja, indexProduto)">
                <i class="fa fa-ban"></i> Cancelar
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h4 v-if="!transferencias.length && action == 'nova'" class="text-center">Nenhuma transferência de produto entre Loja/Depósitos foi necessária.</h4>
    <h4 v-else class="text-center">Nenhuma transferência de produto entre Loja/Depósitos pode ser realizada na consulta ou reenvio de nota.</h4>
  </div>
</template>

<script>
  import {createNamespacedHelpers} from "vuex";

  const {mapState, mapMutations} = createNamespacedHelpers("NotasVendaEmissao");

  export default {

    computed: {
      ...mapState(['transferencias', 'action'])
    },

    methods: {
      ...mapMutations(['REMOVE_TRANSFERENCIAS']),
      remove(indexLoja, indexProduto) {
        this.REMOVE_TRANSFERENCIAS({indexLoja, indexProduto});
      }
    }
  }
</script>