<template>
  <vue-box id="box-list" :title="title" :loading="loading">
    <template slot="body">
      <p class="text-right text-info small">Pesquise pelo nome do cliente ou CPF/CNPJ.</p>
      <vue-data-table p-class="table-hover table-middle" :source="data" :per-page="configs.perPage">
        <template>
          <thead v-if="data.data && data.data.length">
          <tr>
            <th>Nota</th>
            <th>Venda</th>
            <th class="text-center">Data Venda</th>
            <th class="text-center">Status</th>
            <th>Cliente</th>
            <th>CPF/CNPJ</th>
            <th class="text-right">Assistências</th>
          </tr>
          </thead>
          <tbody v-if="data.data && data.data.length">
          <tr v-for="venda in data.data" :key="venda.id">
            <td>{{venda.movimento_produtos[0].nota_fiscal_id}}</td>
            <td>{{venda.id}}</td>
            <td class="text-center">{{venda.data_venda | formatDate}}</td>
            <td class="text-center">{{venda.estatus_venda.descricao}}</td>
            <td>{{venda.pessoa_cliente.nome}}</td>
            <td v-if="venda.pessoa_cliente.fisica">{{venda.pessoa_cliente.fisica.cpf | documento('cpf')}}</td>
            <td v-if="venda.pessoa_cliente.juridica">{{venda.pessoa_cliente.juridica.cnpj | documento('cnpj')}}</td>
            <td class="btn-actions">
              <a :href="`${urlBase}/create?venda=${venda.id}`"
                 class="btn btn-primary btn-flat btn-xs"><i class="fa fa-plus"></i> Add</a>
              <button class="btn btn-default btn-xs btn-flat" @click="getPosVendas(venda.id)">
                <i class="fa fa-list"></i> Listar
              </button>
            </td>
          </tr>
          </tbody>
        </template>
      </vue-data-table>
      <lista-modal :pos-vendas="posVendas" :venda-id="vendaId"></lista-modal>
    </template>
  </vue-box>
</template>

<script>
  import ListaModal from './ListaModal';

  export default {
    components: {ListaModal},
    props: ['urlBase', 'urlSearch'],
    data() {
      return {
        loading: false,
        data: {},
        configs: {
          perPage: 6,
          search: ''
        },
        posVendas: [],
        vendaId: null
      }
    },

    computed: {
      title() {
        return this.configs.search === '' ? 'Últimas vendas registradas' : 'Vendas relacionadas à pesquisa: ' + this.configs.search
      }
    },

    mounted() {
      this.onSearch();
      this.$bus.$on("data-table", obj => {
        if (obj.page) {
          this.onSearch(obj.page);
        }
        if (obj.perPage) {
          this.configs.perPage = obj.perPage;
          this.onSearch();
        }
        if (obj.search != null) {
          this.configs.search = obj.search;
          this.onSearch();
        }
      });
    },

    methods: {
      onSearch(page = 1) {
        this.loading = true;
        window.axios.get(`${this.urlSearch}/${this.configs.perPage}?page=${page}&search=${this.configs.search}`)
          .then(resp => {
            this.data = resp.data;
            this.configs.perPage = resp.data.per_page;
            this.loading = false;
          })
          .catch(error => {
            this.loading = false;
          })
      },

      getPosVendas(vendaId) {
        this.loading = true;
        window.axios.get(`${this.urlBase}?venda=${vendaId}`)
          .then(resp => {
            this.posVendas = resp.data;
            this.vendaId = vendaId;
            this.loading = false;
            $('#listaModal').modal('show');
          })
          .catch(error => {
            this.loading = false;
          })
      }
    }
  }
</script>