<template>
  <div class="modal fade" id="listaModal" tabindex="-1" role="dialog" aria-labelledby="listaModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="listaModalLabel">Assistências da venda Nº {{vendaId}}</h4>
        </div>
        <div class="modal-body">
          <p><strong>Cliente: </strong>{{posVendas.length ? posVendas[0].movimento_produtos[0].venda.pessoa_cliente.nome
            : ''}}</p>
          <table class="table table-middle">
            <thead>
            <tr>
              <th class="text-center">Código</th>
              <th>Data</th>
              <th>Hora</th>
              <th>Descrição</th>
              <th>Equipe</th>
              <th class="text-center">Status</th>
              <th class="text-center">Finalizada</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="pv in posVendas">
              <td class="text-center">{{pv.id}}</td>
              <td>{{pv.data | formatDate}}</td>
              <td>{{pv.hora}}</td>
              <td>{{pv.descricao}}</td>
              <td>
                <span v-for="e in pv.equipe">{{e.nome}} </span>
              </td>
              <td class="text-center">{{pv.status == 0 ? 'Em aberto' : 'Concluída'}}</td>
              <td class="text-center">{{pv.finalizado_em | formatDate}}</td>
              <td class="btn-actions">
                <a :href="'/estoque/pos-venda/assistencias/' + pv.id +'/edit'"
                   class="btn btn-warning btn-sm btn-flat">
                  <i class="fa fa-edit"></i>
                </a>
                <a :href="'/estoque/pos-venda/assistencias/' + pv.id +'/print'" target="_blank"
                   class="btn btn-default btn-sm btn-flat">
                  <i class="fa fa-print"></i>
                </a>                
                <a :href="'/estoque/pos-venda/assistencias/' + pv.id" class="btn btn-default btn-sm btn-flat">
                  <i class="fa fa-eye"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: ['posVendas', 'vendaId'],

  }
</script>